<div style="min-height: 35px;text-align:left; margin-top: 10px;padding-top: 5px; font-weight: bold;">
  <h5 class="strong">Medical Devices Manufacturers Details(Fill all the information on the Tabs)</h5>
</div>
<div class="accordion" id="productInfo">
   <!-- <div class="card">
        <div class="card-header" id="headingTwo">
    
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#packaging_information"
            aria-expanded="false" aria-controls="packaging_information">
            Packaging Information(expand to fill in the product packaging)
          </button>
    
        </div>
        <div id="packaging_information" class="collapse" aria-labelledby="headingTwo" data-parent="#productInfo">
          <div class="card-body no-padding">
    
            <div class="no-padding">
              <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="true" (onToolbarPreparing)="onProdPackagingPreparing($event)"
                [dataSource]="drugsPackagingData" keyExpr="id">
                <dxo-filter-row [visible]="false"></dxo-filter-row>
                <dxo-search-panel [visible]="true">
                </dxo-search-panel>
                <dxo-paging [enabled]="true">
                </dxo-paging>
                <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
                </dxo-pager>
                <dxo-export [enabled]="true" fileName="packagingFile" [allowExportSelectedData]="true"></dxo-export>
    
                
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxi-column dataField="container_type"></dxi-column>
                <dxi-column dataField="primary_container"></dxi-column>
                <dxi-column dataField="container_materials"></dxi-column>
                <dxi-column dataField="retail_packaging" caption="Units in Retails Packaging Container(1,2,3...)"></dxi-column>
                <dxi-column dataField="unit_pack" caption="Unit Pack(Units or Volumn or Weight)"></dxi-column>
    
                <dxi-column [width]="100" caption="Action" name="command-editing" [allowFiltering]="false"
                  [allowSorting]="false" cellTemplate="cellTemplate">
                  <div *dxTemplate="let data of 'cellTemplate'">
                    <a (click)="funcEditPackagingDetails(data)"><i class="fa fa-edit"></i>Edit</a>&nbsp;
                    <a (click)="funcDeletePackDetails(data)"><i class="fa fa-delete"></i>Delete</a>
                  </div>
                </dxi-column>
              </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
    -->
  <div class="card">
    <div class="card-header" id="headingThree">
      <button class="btn btn-link " type="button" data-target="#product_manufacturers"
        aria-expanded="false" aria-controls="product_manufacturers">
        Medical Devices Manufacturers(expand to fill in the Medical devices Manufacturer)
      </button>
    </div>
    <div id="product_manufacturers" aria-labelledby="headingThree" data-parent="#productInfo">
      <div class="card-body no-padding">
        <div class="no-padding">
          <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="true" (onToolbarPreparing)="onProdManufacturingPreparing($event)"
            [dataSource]="productManufacturersData" keyExpr="id">
            <dxo-filter-row [visible]="false"></dxo-filter-row>
            <dxo-search-panel [visible]="true">
            </dxo-search-panel>
            <dxo-paging [enabled]="true">
            </dxo-paging>
            <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
            </dxo-pager>
            <dxo-export [enabled]="true" fileName="manufacturingFile" [allowExportSelectedData]="true"></dxo-export>

            
            <dxo-group-panel [visible]="true"></dxo-group-panel>

            <dxi-column dataField="manufacturing_site"></dxi-column>
            <dxi-column dataField="manufacturer_name"></dxi-column>
            <dxi-column dataField="country"></dxi-column>
            <dxi-column dataField="region"></dxi-column>
            <dxi-column dataField="physical_address"></dxi-column>
            <dxi-column dataField="postal_address"></dxi-column>
            <dxi-column dataField="manufacturing_role"></dxi-column>
            <dxi-column dataField="email_address"></dxi-column>

            <dxi-column [width]="100" caption="Action" name="command-editing" [allowFiltering]="false"
              [allowSorting]="false" cellTemplate="cellTemplate">
              <div *dxTemplate="let data of 'cellTemplate'">
                <a (click)="funcDeleteManufacturingDetails(data)"  *ngIf="!isReadOnly"  class="action-btn"><i class="fa fa-trash"></i>Delete</a>
              </div>
            </dxi-column>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
<!--
  <div class="card">
    <div class="card-header" id="headingFive">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#gmp_inspection"
        aria-expanded="false" aria-controls="gmp_inspection">
        Quality Audit Inspection Details(expand to fill in the Quality Audit Inspection Details)
      </button>
    </div>
    <div id="gmp_inspection" class="collapse" aria-labelledby="headingFive" data-parent="#productInfo">
      <div class="card-body no-padding">

        <div class="no-padding">
<h6>Link Product application to the Quality Audit Inspection Application on the Manufacturing Site</h6>
          <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="true" (onToolbarPreparing)="onProdInspectionDetailsPreparing($event)"
            [dataSource]="productgmpInspectionData" keyExpr="id">
            <dxo-filter-row [visible]="false"></dxo-filter-row>
            <dxo-search-panel [visible]="true">
            </dxo-search-panel>
            <dxo-paging [enabled]="true">
            </dxo-paging>
            <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
            </dxo-pager>
            <dxo-export [enabled]="true" fileName="manufacturingFile" [allowExportSelectedData]="true"></dxo-export>

            
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxi-column dataField="gmp_certificate_no" caption="Quality Audit Certificate No"></dxi-column>
            <dxi-column dataField="manufacturer_name"></dxi-column>
            <dxi-column dataField="country"></dxi-column>
            <dxi-column dataField="region"></dxi-column>
            <dxi-column dataField="physical_address"></dxi-column>
            <dxi-column dataField="postal_address"></dxi-column>
            <dxi-column dataField="email_address"></dxi-column>
            <dxi-column dataField="product_linedetails"></dxi-column>
            <dxi-column dataField="status"></dxi-column>

            <dxi-column [width]="100" caption="Action" name="command-editing" [allowFiltering]="false"
              [allowSorting]="false" cellTemplate="cellTemplate">
              <div *dxTemplate="let data of 'cellTemplate'">
                <a (click)="funcDeleteGMPManufacturingDetails(data)"><i class="fa fa-delete"></i>Delete</a>
              </div>
            </dxi-column>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
-->
  
</div>



    <!--end modal-->
    
      <!--end modal-->
      

  
  

  
  <!-- API Manufacturer Modal-->
  
  <!-- GMP Inspeciton sites -->
  <dx-popup class="popup" [width]="funcpopWidth(80)" [height]="600" [showTitle]="true" title="Quality Audit Inspection Sites" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isgmpinspectionModalShow">
  
        <div *dxTemplate="let data of 'content'" class="row">
          
            <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="true" [remoteOperations]='true' height=520 [dataSource]="tradergmpInspectionData" keyExpr="id">
                <dxo-filter-row [visible]="false"></dxo-filter-row>
                <dxo-search-panel [visible]="true">
                </dxo-search-panel>
                <dxo-paging [enabled]="true">
                </dxo-paging>
                <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
                </dxo-pager>
                <dxo-export [enabled]="true" fileName="manufacturingFile" [allowExportSelectedData]="true"></dxo-export>
      
                
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxi-column [width]="100" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
                    <div *dxTemplate="let data of 'cellTemplate'">
                       <dx-button [disabled] ="isReadOnly"  text="Select Inspected Site" (click)="funcSelectGmpInspection(data)"
                        type="success" icon="edit" [elementAttr]="{ class: 'btn btn-primary' }">
                      </dx-button>
      
                    </div>
                </dxi-column>
                <dxi-column dataField="gmp_certificate_no" caption="Quality Audit Certificate No"></dxi-column>
                <dxi-column dataField="manufacturer_name"></dxi-column>
                <dxi-column dataField="country_name"></dxi-column>
                <dxi-column dataField="region_name"></dxi-column>
                <dxi-column dataField="physical_address"></dxi-column>
                <dxi-column dataField="postal_address"></dxi-column>
                <dxi-column dataField="email_address"></dxi-column>
                <dxi-column dataField="product_linedetails"></dxi-column>
                <dxi-column dataField="registration_status"></dxi-column>
                
                <dxo-paging [pageSize]="50"></dxo-paging>
            </dx-data-grid>
      
        </div>
      </dx-popup>
  
      
<dx-popup class="popup" [width]="funcpopWidth(45)" [height]="auto" [showTitle]="true" title="Product Manufacturing Sites" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isgmpAddinspectionModalShow">

    <div *dxTemplate="let data of 'content'" class="row">
  
        <div class="col-lg-12">
            <form enctype="multipart/form-data" role="form" [formGroup]="prodgmpAddinspectionFrm" (ngSubmit)="onSaveprodgmpAddinspection()">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-12 row">
                        <label class="control-label">Quality Audit Manufacturing site</label>
                        <dx-text-box [readOnly]="true" formControlName="manufacturer_name">
                        </dx-text-box>
                    </div>
  
                    <div class="col-lg-12">
                        <label class="control-label">Physical Address</label>
  
                        <dx-text-area [height]="60" [readOnly]="true" formControlName="physical_address" placeholder="Physical Address">
                        </dx-text-area>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-12">
                        <label for="ti" class="control-label">Manufacturing Device Line</label>
                        <dx-select-box [dataSource]="gmpProductLineData" valueExpr="id" placeholder="Product Line" displayExpr="product_line" [searchEnabled]="true" formControlName="gmp_productline_id">
                            <div *dxTemplate="let data of 'item'">
                                <div class="custom-item">
                                    {{data.product_line}} {{data.product_category}}
  
                                </div>
                            </div>
                        </dx-select-box>
                        <input type="hidden" formControlName="reg_site_id" />
  
                        <input type="hidden" formControlName="manufacturing_site_id" />
                    </div>
                    <div class="col-lg-12 btn-margin-5">
                        <br />
                        <button type="submit" (submit)="onSaveprodgmpAddinspection()" [disabled]="!prodgmpAddinspectionFrm.valid" class="btn btn-primary"><i class="fa fa-user"></i> Save Product Quality Audit Inspection Details</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </dx-popup>
  
  <dx-popup class="popup" [width]="funcpopWidth(80)" [height]="600" [showTitle]="true" title="Local Manufacturing Premises" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isRegisteredPremisesModalShow">
  
    <div *dxTemplate="let data of 'content'" class="row">
        <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="true" [remoteOperations]='true' [height]="550"  [columnHidingEnabled]="false" [dataSource]="registeredPremisesData" keyExpr="id">
            <dxo-filter-row [visible]="false"></dxo-filter-row>
            <dxo-search-panel [visible]="true">
            </dxo-search-panel>
            <dxo-paging [enabled]="true">     
            </dxo-paging>
            <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
            </dxo-pager>
  
            <dxo-export [enabled]="true" fileName="Premises" [allowExportSelectedData]="true"></dxo-export>
  
            <dxo-selection mode="single"></dxo-selection>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
  
            <dxi-column width=130 caption="Actions" name="command-editing" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
                <div *dxTemplate="let data of 'cellTemplate'" class="btn-cursor">
                  
                    <dx-button [disabled] ="isReadOnly"  text="Select Premises" (click)="funSelectRegisteredPremisessApp(data)"
                    type="success" icon="edit" [elementAttr]="{ class: 'btn btn-primary' }">
                  </dx-button>

                </div>
            </dxi-column>
            <dxi-column dataField="section_name" caption="Premises Category/Type"></dxi-column>
            <dxi-column dataField="name"></dxi-column>
  
            <dxi-column dataField="premise_reg_no"></dxi-column>
            <dxi-column dataField="permit_no"></dxi-column>
            <dxi-column dataField="physical_address"></dxi-column>
            <dxi-column dataField="postal_address"></dxi-column>
            <dxi-column dataField="region_name"></dxi-column>
            <dxi-column dataField="registration_status" caption="Registration Status"></dxi-column>
            <dxi-column dataField="validity_status" caption="Validity Status"></dxi-column>
  
            <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
        </dx-data-grid>
    </div>
  </dx-popup>  

    

  
 
  <dx-popup class="popup"  [width]="funcpopWidth(40)" [height]="400" [showTitle]="true" title="Region Name" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="addRegionDetailsWin">
  
      <div *dxTemplate="let data of 'content'" >
            <form [formGroup]="addRegionDetailsFrm" class="col-lg-12  div-nopadding" style="background: #fff;" enctype="multipart/form-data" role="form" (ngSubmit)="onSaveRegiondetails()">
                <div class="col-lg-12">
                  <label class="control-label">Region Name</label>
                  <dx-text-box formControlName="name" placeholder="name" [showClearButton]="true">
                  </dx-text-box>
                </div>
                
                <input type='hidden' formControlName="country_id"/>
                <input type='hidden' value = 'par_regions' formControlName="tablename"/>
  
                <div class="col-lg-12">
                    <dx-button
                        text="Add New Region"
                        type="success"
                        icon="fa fa-plus"
                        [elementAttr]="{  class: 'pull-left' }"
                        (onClick)="onSaveRegiondetails()">
                    </dx-button>
                  </div>
              </form>
      </div>
  </dx-popup>

  <dx-popup class="popup"  [width]="funcpopWidth(40)" [height]="400" [showTitle]="true" title="District Name" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="addDistrictsDetailsWin">
  
      <div *dxTemplate="let data of 'content'" >
            <form [formGroup]="addDistrictsDetailsFrm" class="col-lg-12  div-nopadding" style="background: #fff;" enctype="multipart/form-data" role="form" (ngSubmit)="onSaveaddDistrictDetails()">
                <div class="col-lg-12">
                  <label class="control-label">District Name</label>
                  <dx-text-box formControlName="name" placeholder="name" [showClearButton]="true">
                  </dx-text-box>
                </div>
                
                <input type='hidden' formControlName="region_id"/>
                <input type='hidden' value = 'par_ditricts' formControlName="tablename"/>
  
                <div class="col-lg-12">
                    <dx-button
                        text="Add New District"
                        type="success"
                        icon="fa fa-plus"
                        [elementAttr]="{  class: 'pull-left' }"
                        (onClick)="onSaveaddDistrictDetails()">
                    </dx-button>
                  </div>
              </form>
      </div>
  </dx-popup>


  <dx-popup class="popup" [width]="funcpopWidth(80)" [height]="auto" [showTitle]="true" title="New Manufacturer" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isnewmanufacturerModalShow">

      <div *dxTemplate="let data of 'content'" class="row">
    
          <div class="col-lg-12">
              <form enctype="multipart/form-data" role="form" [formGroup]="manufacturerFrm" (ngSubmit)="onAddManufacturerDetails()">
    
                  <div class="row">
    
                      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
    
                          <label class="control-label">Manufacturer  Name</label>
                          <dx-text-box formControlName="name">
                          </dx-text-box>
    
                      </div>
                      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                          <label class="control-label">Country</label>
    
                          <dx-select-box [dataSource]="countries" valueExpr="id" displayExpr="name" placeholder="Select Country" (onSelectionChanged)="onCoutryCboSelect($event)" [searchEnabled]="true" formControlName="country_id">
                          </dx-select-box>
                      </div>
                      
                      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6  input-group">
                          <div class="col-lg-8">
                              <label for="ti" class="control-label">Region/City</label>
    
                              <dx-select-box [dataSource]="regions" valueExpr="id" displayExpr="name" (onSelectionChanged)="onRegionsCboSelect($event)" [searchEnabled]="true" formControlName="region_id">
                              </dx-select-box>
                          </div>
                          <div class="col-lg-4">
                              <dx-button
                              text="Add Region"
                              type="success"
                              icon="fa fa-plus"
                              [elementAttr]="{  class: 'pull-left' }"
                              (onClick)="OnAddNewManufacturerReionDetails()">
                          </dx-button>
                          </div>
    
                      </div>
                     
                      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6  input-group">
                          <div class="col-lg-8">
                              <label for="ti" class="control-label">District(Optional)</label>
    
                              <dx-select-box [dataSource]="districts" valueExpr="id" placeholder="Select District" displayExpr="name" [searchEnabled]="true" formControlName="district_id">
                              </dx-select-box>
                          </div>
                          <div class="col-lg-4">
                              <dx-button
                              text="Add"
                              type="success"
                              icon="fa fa-plus"
                              [elementAttr]="{  class: 'pull-left' }"
                              (onClick)="OnAddNewManufactureDistrictDetails()">
                          </dx-button>
                          </div>
    
                      </div>
                      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                          <label for="ti" class="control-label">Email Address</label>
                          <dx-text-box formControlName="email_address" placeholder="Email Address">
                          </dx-text-box>
                      </div>
                      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                          <label for="ti" class="control-label">Postal Address</label>
                          <dx-text-box formControlName="postal_address" placeholder="Postal Address">
                          </dx-text-box>
                      </div>
                      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                          <label for="ti" class="control-label">Telephone No</label>
    
                          <dx-text-box formControlName="telephone_no" placeholder="Telephone No">
                          </dx-text-box>
                      </div>
                      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                          <label class="control-label col-lg-12">Mobile No</label>
    
                          <dx-text-box formControlName="mobile_no" placeholder="Mobile No">
                          </dx-text-box>
                      </div>
    
                      <div class="col-lg-12 btn-margin-5">
                          <br />
                          <button type="submit" (submit)="onAddManufacturerDetails()" [disabled]="!manufacturerFrm.valid" class="btn btn-primary"><i
                            class="fa fa-user"></i> Save Manufacturer</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
    </dx-popup>
    <dx-popup class="popup" [width]="funcpopWidth(80)" [height]="auto" [showTitle]="true" title="New Manufacturing Sites" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isnewmanufactureringSiteDetailsModalShow">
    
      <div *dxTemplate="let data of 'content'" class="row">
    
          <div class="col-lg-12">
              <form enctype="multipart/form-data" role="form" [formGroup]="manufacturingSiteFrm" (ngSubmit)="onAddManufacturingSite()">
    
                  <div class="row">
    
                      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
    
                          <label class="control-label">Manufacturing Site</label>
                          <dx-text-box formControlName="name">
                          </dx-text-box>
    
                      </div>
                      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                          <label class="control-label">Country</label>
    
                          <dx-select-box [dataSource]="countries" valueExpr="id" displayExpr="name" placeholder="Select Country" (onSelectionChanged)="onCoutryCboSelect($event)" [searchEnabled]="true" formControlName="country_id">
                          </dx-select-box>
                      </div>
                      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6  input-group">
                          <div class="col-lg-8">
                              <label for="ti" class="control-label">Region/City</label>
    
                              <dx-select-box [dataSource]="regions" valueExpr="id" displayExpr="name" (onSelectionChanged)="onRegionsCboSelect($event)" [searchEnabled]="true" formControlName="region_id">
                              </dx-select-box>
                          </div>
                          <div class="col-lg-4">
                              <dx-button
                              text="Add Region"
                              type="success"
                              icon="fa fa-plus"
                              [elementAttr]="{  class: 'pull-left' }"
                              (onClick)="OnAddNewSiteReionDetails()">
                          </dx-button>
                          </div>
    
                      </div>
                     
                      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6  input-group">
                          <div class="col-lg-8">
                              <label for="ti" class="control-label">District(Optional)</label>
    
                              <dx-select-box [dataSource]="districts" valueExpr="id" placeholder="Select District" displayExpr="name" [searchEnabled]="true" formControlName="district_id">
                              </dx-select-box>
                          </div>
                          <div class="col-lg-4">
                              <dx-button
                              text="Add"
                              type="success"
                              icon="fa fa-plus"
                              [elementAttr]="{  class: 'pull-left' }"
                              (onClick)="OnAddNewSiteDistrictDetails()">
                          </dx-button>
                          </div>
    
                      </div>
                      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                          <label for="ti" class="control-label">Email Address</label>
                          <dx-text-box formControlName="email_address" placeholder="Email Address">
                          </dx-text-box>
                      </div>
                      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                          <label for="ti" class="control-label">Postal Address</label>
                          <dx-text-box formControlName="postal_address" placeholder="Postal Address">
                          </dx-text-box>
                      </div>
                      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                          <label for="ti" class="control-label">Telephone No</label>
    
                          <dx-text-box formControlName="telephone_no" placeholder="Telephone No">
                          </dx-text-box>
                      </div>
                      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                          <label class="control-label col-lg-12">Mobile No</label>
    
                          <dx-text-box formControlName="mobile_no" placeholder="Mobile No">
                          </dx-text-box>
                      </div>
                      <div class="col-lg-12">
                          <label class="control-label">Physical Address</label>
    
                          <dx-text-area [height]="60" formControlName="physical_address" placeholder="Physical Address">
                          </dx-text-area>
                      </div>
                      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6 ">
                          <label for="ti" class="control-label col-lg-12">TIN No</label>
                          <dx-number-box [value]="20" disabled formControlName="tin_no" placeholder="TIN NO">
                          </dx-number-box>
                      </div>
                      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                          <label class="control-label">Contact Person</label>
                          <dx-text-box formControlName="contact_person" placeholder="Contact Person">
                          </dx-text-box>
                      </div>
    
                      <input type='hidden' formControlName="manufacturer_id" />
                      <div class="col-lg-12 btn-margin-5">
                          <br />
                          <button type="submit" (submit)="onAddManufacturingSite()" [disabled]="!manufacturingSiteFrm.valid" class="btn btn-primary"><i
                    class="fa fa-user"></i> Save Manufacturing Site</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
    </dx-popup>
    
  
<dx-popup class="popup" [width]="funcpopWidth(70)" [height]="auto"  [showTitle]="true" title="Product Manufacturing Sites" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isproductmanSiteDetailsModalShow">

  <div *dxTemplate="let data of 'content'" class="row">
    <dx-scroll-view>
      <div class="col-lg-12">
          <form enctype="multipart/form-data" role="form" [formGroup]="productmanufacturingSiteFrm" (ngSubmit)="onsaveProdManufacturingSite()">
              <div class="row">
                  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-12 row">
                      <div class="col-lg-10">
                          <label class="control-label">Manufacturer Details</label>
                          <dx-text-box [readOnly]="true" formControlName="manufacturer_name">
                          </dx-text-box>
                      </div>
                      <div class="col-lg-2">
                          <button type="button" class="btn btn-success" style="margin-top:15px !important;" (click)="onSearchProductManufacturer()"><i
                      class="fa fa-search"></i>Search</button>
                      </div>
                  </div>
                  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-12 row">
                      <div class="col-lg-10">
                          <label class="control-label">Manufacturing Site Name</label>
                          <dx-text-box [readOnly]="true" formControlName="manufacturing_site_name">
                          </dx-text-box>
                      </div>
                      <div class="col-lg-2">
                          <button type="button" class="btn btn-success" style="margin-top:15px !important;" (click)="onSearchProductManufacturerSite()"><i
                  class="fa fa-search"></i>Search</button>
                      </div>
                  </div>
                  <div class="col-lg-12">
                      <label class="control-label">Physical Address</label>

                      <dx-text-area [height]="60" [readOnly]="true" formControlName="physical_address" placeholder="Physical Address">
                      </dx-text-area>
                  </div>
                  <div class="col-lg-12">
                    <label for="ti" class="control-label">Manufacturing Scope</label>

                    <dx-select-box [dataSource]="manufacturingRoleData" valueExpr="id"  placeholder="Manufacturing scope..." displayExpr="name" [searchEnabled]="true" formControlName="manufacturer_role_id">
                    </dx-select-box>
                  </div>
                  <div class="col-lg-12">
                    <label class="control-label">Other Manufacturing Activities</label>
                    <dx-text-area [height]="60"
                     formControlName="manufacturing_activities" placeholder="Manufacturing Activities">
                    </dx-text-area>
                </div>
                <div class="col-lg-12 div-nopadding">
                  <label class="control-label">Has the Manufacturing Site been Inspected/Submitted Request for Inspection to the NDA</label>
                  <dx-select-box [dataSource]="confirmDataParamAll" (onValueChanged)="onManufacturingSiteHasInspection($event)" 
                   valueExpr="id" displayExpr="name" [searchEnabled]="true" 
                     formControlName="has_beeninspected">
                  </dx-select-box>
                </div>
                <div class="col-xs-12 input-group col-lg-12" *ngIf="has_beeninspected">
                   <div class="col-lg-8">
                      <label class="control-label">Inspected site</label>
                      <dx-text-box [readOnly]="true" formControlName="inspected_site_name">
                      </dx-text-box>
                    </div>
                    <div class="col-lg-4">
                      <dx-button
                          text="Search GMP Inspection"
                          type="success"
                          icon="fa fa-plus"
                          [elementAttr]="{  class: 'pull-left' }"
                          (onClick)="onSearchInspectedManufacturingSites()">
                      </dx-button>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12" *ngIf="has_beeninspected">
                    <label for="ti" class="control-label">Manufacturing Product Line</label>
                    <dx-select-box [dataSource]="gmpProductLineData" valueExpr="id" placeholder="Product Line" displayExpr="product_line" [searchEnabled]="true" formControlName="gmp_productline_id">
                        <div *dxTemplate="let data of 'item'">
                            <div class="custom-item">
                                {{data.product_line}} {{data.product_category}}

                            </div>
                        </div>
                    </dx-select-box>
                </div>
      
                <div class="col-lg-12 btn-margin-5">
                    <input type="hidden" formControlName="reg_site_id" />
                   <input type="hidden" formControlName="gmp_application_code" />
                  <input type="hidden" formControlName="manufacturer_id" />
                  <input type="hidden" formControlName="man_site_id" />

                    <br />
                    <button type="submit" (submit)="onsaveProdManufacturingSite()"  class="btn btn-primary"><i class="fa fa-user"></i> Save Product Manufacturer</button>
                </div>
              </div>
          </form>
      </div>
    </dx-scroll-view>
  </div>
</dx-popup>
  
  <!-- API Manufacturer Modal-->
  <dx-popup class="popup" [width]="funcpopWidth(65)" [height]="auto" [showTitle]="true" title="Product API Manufacturer" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isapimanSiteDetailsModalShow">

      <div *dxTemplate="let data of 'content'" class="row">
          <form enctype="multipart/form-data" role="form" [formGroup]="productapimanufacturingSiteFrm" (ngSubmit)="onsaveAPIManufacturingSite()">
            <div class="row">
              <div class="col-xs-12 col-md-6 col-lg-6 col-xl-12 row">
                <div class="col-lg-10">
                  <label class="control-label">Manufacturer Details</label>
                  <dx-text-box [readOnly]="true" formControlName="name">
                  </dx-text-box>
                </div>
                <div class="col-lg-2">
                  <button type="button" class="btn btn-success" style="margin-top:15px !important;" (click)="onSearchAPIManufacturer()"><i
                      class="fa fa-search"></i>Search</button>
                </div>
              </div>
              <div class="col-lg-12">
                <label class="control-label">Physical Address</label>
                <dx-text-area [height]="60" [readOnly]="true" formControlName="physical_address" 
                  placeholder="Physical Address" >
                </dx-text-area>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-6 col-xl-12">
                <label for="ti" class="control-label">Active Pharmeceutical Ingredients</label>
                <dx-select-box [dataSource]="drugsingredientsData" valueExpr="id" placeholder="Select Active Pharmeceutical Ingredients"
                  displayExpr="ingredient" [searchEnabled]="true" formControlName="active_ingredient_id">
                  <div *dxTemplate="let data of 'item'">
                    <div class="custom-item">
                        {{data.ingredient}} {{data.specification}} {{data.strength}}  {{data.si_units}} {{data.reason_of_inclusion}}
                        
                    </div>
                </div>
                </dx-select-box>


               <input type="hidden" formControlName="manufacturer_id" />
  
              </div>
              <div class="col-lg-12 btn-margin-5">
                <br />
                <button type="submit" (submit)="onsaveAPIManufacturingSite()" [disabled]="!productapimanufacturingSiteFrm.valid"
                  class="btn btn-primary"><i class="fa fa-user"></i> Save API Manufacturer</button>
              </div>
            </div>
          </form>

        </div>
  </dx-popup>

  <dx-popup class="popup"  [width]="funcpopWidth(80)" [height]="auto"  [showTitle]="true" title="Manufacturer(s) Information" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isproductManufacturerModalShow">

      <div *dxTemplate="let data of 'content'" class="row">
    
          <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="true"  [height]="420"  [remoteOperations]='true' (onToolbarPreparing)="onManufacturerPreparing($event)" [dataSource]="manufacturersData" keyExpr="id">
              <dxo-filter-row [visible]="false"></dxo-filter-row>
              <dxo-search-panel [visible]="true">
              </dxo-search-panel>
              <dxo-paging [enabled]="true">
              </dxo-paging>
              <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
              </dxo-pager>
              <dxo-export [enabled]="true" fileName="manufacturingFile" [allowExportSelectedData]="true"></dxo-export>
              
              <dxo-group-panel [visible]="true"></dxo-group-panel><dxi-column [width]="140" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
                  <div *dxTemplate="let data of 'cellTemplate'">
                    
                    <dx-button [disabled] ="isReadOnly"  text="Select Manufacturer" (click)="funcSelectManufacturer(data)"
                    type="success" icon="edit" [elementAttr]="{ class: 'btn btn-primary' }">
                  </dx-button>

                  </div>
              </dxi-column>
              <dxi-column dataField="manufacturer_name"></dxi-column>
              <dxi-column dataField="country"></dxi-column>
              <dxi-column dataField="region"></dxi-column>
              <dxi-column dataField="district"></dxi-column>
              <dxi-column dataField="physical_address"></dxi-column>
              <dxi-column dataField="postal_address"></dxi-column>
              <dxi-column dataField="email_address"></dxi-column>
              
              <dxo-paging [pageSize]="50"></dxo-paging>
          </dx-data-grid>
    
      </div>
    </dx-popup>
    
    <dx-popup class="popup"  [width]="funcpopWidth(80)" [height]="auto"  [showTitle]="true" title="Manufacturing Site Information" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isproductManufactureringSiteModalShow">
    
      <div *dxTemplate="let data of 'content'" class="row">
          <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="true" [remoteOperations]='true'  [height]="420"  (onToolbarPreparing)="onManufacturingSitePreparing($event)" [dataSource]="manufacturersSiteData" keyExpr="id">
              <dxo-filter-row [visible]="false"></dxo-filter-row>
              <dxo-search-panel [visible]="true">
              </dxo-search-panel>
              <dxo-paging [enabled]="true">
              </dxo-paging>
              <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
              </dxo-pager>
              <dxo-export [enabled]="true" fileName="manufacturingFile" [allowExportSelectedData]="true"></dxo-export>
              
              <dxo-group-panel [visible]="true"></dxo-group-panel>
              <dxi-column [width]="140" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
                  <div *dxTemplate="let data of 'cellTemplate'">
                    
                    <dx-button [disabled] ="isReadOnly"  text="Select Manufacturing Site" (click)="funcSelectManufacturingSite(data)"
                    type="success" icon="edit" [elementAttr]="{ class: 'btn btn-primary' }">
                  </dx-button>
                  </div>
              </dxi-column>
              <dxi-column dataField="manufacturing_site_name"></dxi-column>
              <dxi-column dataField="country"></dxi-column>
              <dxi-column dataField="region"></dxi-column>
              <dxi-column dataField="district"></dxi-column>
              <dxi-column dataField="physical_address"></dxi-column>
              <dxi-column dataField="postal_address"></dxi-column>
              <dxi-column dataField="email_address"></dxi-column>
              
    
              <dxo-paging [pageSize]="50"></dxo-paging>
          </dx-data-grid>
    
      </div>
    </dx-popup>

    <!-- GMP Inspeciton sites -->
    <dx-popup class="popup" [width]="funcpopWidth(80)" [height]="auto"  [showTitle]="true" title="GMP Inspection Sites" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isgmpinspectionModalShow">
  
      <div *dxTemplate="let data of 'content'" class="row">
        
          <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="true"  [height]="550"  [remoteOperations]='true' height=520 [dataSource]="tradergmpInspectionData" keyExpr="id">
              <dxo-filter-row [visible]="false"></dxo-filter-row>
              <dxo-search-panel [visible]="true">
              </dxo-search-panel>
              <dxo-paging [enabled]="true">
              </dxo-paging>
              <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
              </dxo-pager>
              <dxo-export [enabled]="true" fileName="manufacturingFile" [allowExportSelectedData]="true"></dxo-export>
    
              <dxo-group-panel [visible]="true"></dxo-group-panel>
              <dxi-column [width]="100" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
                <div *dxTemplate="let data of 'cellTemplate'">
                  
                  <dx-button [disabled] ="isReadOnly"  text="Select Inspected Site" (click)="funcSelectGmpInspection(data)"
                  type="success" icon="edit" [elementAttr]="{ class: 'btn btn-primary' }">
                </dx-button>
                </div>
            </dxi-column>
              <dxi-column dataField="gmp_certificate_no"></dxi-column>
              <dxi-column dataField="manufacturer_name"></dxi-column>
              <dxi-column dataField="country_name"></dxi-column>
              <dxi-column dataField="region_name"></dxi-column>
              <dxi-column dataField="physical_address"></dxi-column>
              <dxi-column dataField="postal_address"></dxi-column>
              <dxi-column dataField="email_address"></dxi-column>
              <dxi-column dataField="product_linedetails"></dxi-column>
              <dxi-column dataField="registration_status"></dxi-column>
             
              <dxo-paging [pageSize]="50"></dxo-paging>
          </dx-data-grid>
    
      </div>
    </dx-popup>
    
