<div class=" wizard-content">
<form [formGroup]="onApplicationSubmissionFrm" class="col-lg-12 row div-nopadding" style="background: #fff;" enctype="multipart/form-data" role="form" (ngSubmit)="onProductApplicationSubmit()">
  <div class="col-lg-12">
      <b><label>Declaration</label></b>
      <ul>
          <li *ngFor="let guide of terms_conditions;">
              <p>{{guide.no}} {{guide.term_conditiondetails}}</p>
          </li>
      </ul>
  </div>
  <div class="col-lg-4"  *ngIf="sub_module_id === 7 || sub_module_id === 8  || sub_module_id === 9">
      <label> Track Option Process</label>
      <dx-select-box [dataSource]="fastTrackOptionsData" valueExpr="id" displayExpr="name" value=1 
        placeholder="Select Fast Track" [searchEnabled]="true" formControlName="fasttrack_option_id">
      </dx-select-box>
    </div>
     
  <div class="col-lg-12">
    <dx-check-box text="Agree to the Declaration" class="agreetoterms" [value]="undefined" (onValueChanged)="newProductTermscheckbox($event)">
    </dx-check-box>
  </div>

  <div class="wizard-divbottom">
    <button class="btn btn-primary" type="button" previousStep>Previous Step</button>
    <app-invoice-appgeneration  [onApplicationSubmissionFrm] ="onApplicationSubmissionFrm" [module_id] ="module_id"  [status_id] ="status_id" [application_code]="application_code" ></app-invoice-appgeneration>
    
    <button class="btn btn-primary" type="button" [disabled]="!checkProductsSubmission" (click)="onProductApplicationSubmit()">Submit
      Product Application</button>
  </div>
</form>

</div>
<dx-popup class="popup"  [width]="funcpopWidth(80)" [height]="600" [showTitle]="true" title="Preview Product Details"
  [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isPreviewProductsDetails">
  <div *dxTemplate="let data of 'content'" style="background:#fff;">
    <dx-scroll-view>
        <!--<app-product-application-preview [applicationcheckcode]="applicationcheckcode" [tracking_no]="tracking_no" [childVar]="variable" [status_name]="status_name"></app-product-application-preview>-->
    </dx-scroll-view>
  </div>
</dx-popup>