
<div class="accordion" id="productInfo">
  <div class="card">
    <div class="card-headerdefined" id="headingZ">

      <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#manufacturer"
        aria-expanded="false" aria-controls="manufacturer">
        2.3.P.3.1 Manufacturer(s)       
      </button>
    </div>
    <div id="manufacturer" class="collapse show" aria-labelledby="headingZ" data-parent="#productInfo">
      <div class="card-body no-padding">
        <div class="no-padding">
          <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="false" (onToolbarPreparing)="onNameManufacturerPreparing($event)"
            [dataSource]="nameManufacturerData" keyExpr="id">
            <dxo-filter-row [visible]="false"></dxo-filter-row>
            <dxo-search-panel [visible]="true">
            </dxo-search-panel>
            <dxo-paging [enabled]="true">
            </dxo-paging>
            <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
            </dxo-pager>
            <dxo-export [enabled]="true" fileName="ingredientsFile" [allowExportSelectedData]="true"></dxo-export>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxi-column [width]="200" caption="Action" name="command-editing" [allowFiltering]="false"
              [allowSorting]="false" cellTemplate="cellTemplate">
              <div *dxTemplate="let data of 'cellTemplate'">
                <dx-button text="Edit" (click)="funcEditIngredientsDetails(data)" 
                  type="success" icon="edit">
                </dx-button> 
                <dx-button text="Delete" (click)="funcDeleteIngredientsDetails(data)" 
                  type="danger" icon="delete">
                </dx-button> 
              </div>
            </dxi-column>
            <dxi-column dataField="manufacturer"></dxi-column>
            <dxi-column dataField="responsibilities"></dxi-column>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingGD">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#batch_formula"
        aria-expanded="false" aria-controls="batch_formula">
        2.3.P.3.2 Batch Formula  
      </button>
    </div>
    <div id="batch_formula" class="collapse" aria-labelledby="headingGD" data-parent="#productInfo">
      <div class="card-body no-padding">

        <div class="no-padding">
          <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="false" (onToolbarPreparing)="onBatchFormulaPreparing($event)"
            [dataSource]="batchFormulaData" keyExpr="id">
            <dxo-filter-row [visible]="false"></dxo-filter-row>
            <dxo-search-panel [visible]="true">
            </dxo-search-panel>
            <dxo-paging [enabled]="true">
            </dxo-paging>
            <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
            </dxo-pager>
            <dxo-export [enabled]="true" fileName="packagingFile" [allowExportSelectedData]="true"></dxo-export>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxi-column  [width]="200" caption="Action" name="command-editing" [allowFiltering]="false"
              [allowSorting]="false" cellTemplate="cellTemplate">
              <div *dxTemplate="let data of 'cellTemplate'">
               
                    <dx-button text="Edit" (click)="funcEditPackagingDetails(data)" 
                      type="success" icon="edit">
                      </dx-button> 
                  <dx-button text="Delete" (click)="funcDeletePackDetails(data)" 
                      type="danger" icon="delete">
                  </dx-button> 
              </div>
            </dxi-column>
            <dxi-column dataField="manufacturing_process"></dxi-column>
            <dxi-column dataField="narrative_description"></dxi-column>
            <dxi-column dataField="justification_reprocessing"></dxi-column>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingX">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#desc_materials"
        aria-expanded="false" aria-controls="desc_materials">
        2.3.P.3.3 Description of Manufacturing Process and Process Controls 
      </button>
    </div>
    <div id="desc_materials" class="collapse" aria-labelledby="headingX" data-parent="#productInfo">
      <div class="card-body no-padding">

        <div class="no-padding">
          <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="false" (onToolbarPreparing)="onDescriptionPreparing($event)"
            [dataSource]="descriptionData" keyExpr="id">
            <dxo-filter-row [visible]="false"></dxo-filter-row>
            <dxo-search-panel [visible]="true">
            </dxo-search-panel>
            <dxo-paging [enabled]="true">
            </dxo-paging>
            <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
            </dxo-pager>
            <dxo-export [enabled]="true" fileName="packagingFile" [allowExportSelectedData]="true"></dxo-export>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxi-column  [width]="200" caption="Action" name="command-editing" [allowFiltering]="false"
              [allowSorting]="false" cellTemplate="cellTemplate">
              <div *dxTemplate="let data of 'cellTemplate'">
               
                    <dx-button text="Edit" (click)="funcEditPackagingDetails(data)" 
                      type="success" icon="edit">
                      </dx-button> 
                  <dx-button text="Delete" (click)="funcDeletePackDetails(data)" 
                      type="danger" icon="delete">
                  </dx-button> 
              </div>
            </dxi-column>
            <dxi-column dataField="manufacturing_process"></dxi-column>
            <dxi-column dataField="narrative_description"></dxi-column>
            <dxi-column dataField="justification_reprocessing"></dxi-column>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingU">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#control_critical"
        aria-expanded="false" aria-controls="control_critical">
        2.3.P.3.4 Controls of Critical Steps and Intermediates 
      </button>
    </div>
    <div id="control_critical" class="collapse" aria-labelledby="headingU" data-parent="#productInfo">
      <div class="card-body no-padding">

        <div class="no-padding">
          <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="false" (onToolbarPreparing)="onCriticalControlPreparing($event)"
            [dataSource]="criticalControlData" keyExpr="id">
            <dxo-filter-row [visible]="false"></dxo-filter-row>
            <dxo-search-panel [visible]="true">
            </dxo-search-panel>
            <dxo-paging [enabled]="true">
            </dxo-paging>
            <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
            </dxo-pager>
            <dxo-export [enabled]="true" fileName="packagingFile" [allowExportSelectedData]="true"></dxo-export>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxi-column  [width]="200" caption="Action" name="command-editing" [allowFiltering]="false"
              [allowSorting]="false" cellTemplate="cellTemplate">
              <div *dxTemplate="let data of 'cellTemplate'">
               
                    <dx-button text="Edit" (click)="funcEditPackagingDetails(data)" 
                      type="success" icon="edit">
                      </dx-button> 
                  <dx-button text="Delete" (click)="funcDeletePackDetails(data)" 
                      type="danger" icon="delete">
                  </dx-button> 
              </div>
            </dxi-column>
            <dxi-column dataField="summary_control_performed"></dxi-column>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingDF">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#process_validation"
        aria-expanded="false" aria-controls="process_validation">
      2.3.P.3.5 Process Validation and/or Evaluation       
    </button>
    </div>
    <div id="process_validation" class="collapse" aria-labelledby="headingDF" data-parent="#productInfo">
      <div class="card-body no-padding">

        <div class="no-padding">
          <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="false" (onToolbarPreparing)="onProcessValidationPreparing($event)"
            [dataSource]="processValidationData" keyExpr="id">
            <dxo-filter-row [visible]="false"></dxo-filter-row>
            <dxo-search-panel [visible]="true">
            </dxo-search-panel>
            <dxo-paging [enabled]="true">
            </dxo-paging>
            <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
            </dxo-pager>
            <dxo-export [enabled]="true" fileName="packagingFile" [allowExportSelectedData]="true"></dxo-export>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxi-column  [width]="200" caption="Action" name="command-editing" [allowFiltering]="false"
              [allowSorting]="false" cellTemplate="cellTemplate">
              <div *dxTemplate="let data of 'cellTemplate'">
               
                    <dx-button text="Edit" (click)="funcEditPackagingDetails(data)" 
                      type="success" icon="edit">
                      </dx-button> 
                  <dx-button text="Delete" (click)="funcDeletePackDetails(data)" 
                      type="danger" icon="delete">
                  </dx-button> 
              </div>
            </dxi-column>
            <dxi-column dataField="summary_process_validation"></dxi-column>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>

 <dx-popup class="popup" [width]="funcpopWidth(80)" [height]="500" [showTitle]="true" title="Manufacturer(s)" [dragEnabled]="false"
  [closeOnOutsideClick]="true" [(visible)]="isManufacturerWinshow">
  <div *dxTemplate="let data of 'content'" class="row">
  <dx-scroll-view>
    <form [formGroup]="manufacturingDetailsFrm" enctype="multipart/form-data" role="form" (ngSubmit)="onSaveManufacturingDetails()">
      <div class="row" style="background: #fff;">
        <fieldset class="col-lg-12 row">
          <legend  class="contentfieldset">Name, address and responsibility (e.g. fabrication, packaging, labelling, testing) of each manufacturer, including contractors and each proposed production site or facility involved in manufacturing and testing</legend>
          <div class="col-lg-12" >
            <label class="control-label">Name and address (including block(s)/unit(s))</label>
            <textarea  [readOnly]= "true" (input)="adjustTextAreaHeight($event)"formControlName="manufacturer" placeholder="Name and address (including block(s)/unit(s))" class="custom-textarea">
            </textarea>
          </div>
          <div class="col-lg-12" >
            <label class="control-label">Responsibility </label>
            <textarea   (input)="adjustTextAreaHeight($event)"formControlName="responsibility" placeholder="Responsibility" class="custom-textarea">
            </textarea>
          </div>
        </fieldset>
          <div class="col-lg-6 form-group " >
            <input type="hidden" name="id"  formControlName = "id"/>
          </div>
        <div class="col-lg-12">
          <button type="submit" (submit)="onSaveManufacturingDetails()" 
            [disabled]="!manufacturingDetailsFrm.valid"
            class="btn btn-primary  pull-right" style="margin:5px;"><i class="fa fa-save"></i>&nbsp;Save Details
        </button>
      </div>
    </div>
    </form>
  </dx-scroll-view>
  </div>
  </dx-popup>

 <dx-popup class="popup" [width]="funcpopWidth(80)" [height]="500" [showTitle]="true" title="Batch Formula " [dragEnabled]="false"
  [closeOnOutsideClick]="true" [(visible)]="isManufacturerWinshow">
  <div *dxTemplate="let data of 'content'" class="row">
  <dx-scroll-view>
    <form [formGroup]="batchFormulaDetailsFrm" enctype="multipart/form-data" role="form" (ngSubmit)="onSaveBatchFormulaDetails()">
      <div class="row" style="background: #fff;">
        <div class="col-lg-12" >
            <label class="control-label">(a) List of all components of the FPP to be used in the manufacturing process and their amounts on a per batch basis (including individual components of mixtures prepared in-house (e.g. coatings) and overages, if any):
            </label>
            <dx-html-editor height="250"  formControlName="list_all_components">
              <dxo-toolbar>
                <dxi-item formatName="undo"></dxi-item>
                <dxi-item formatName="redo"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item
                  formatName="size"
                  [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"
                  [options]="{ inputAttr: { 'aria-label': 'Font size' } }"
                ></dxi-item>
                <dxi-item
                  formatName="font"[formatValues]="['Arial','Courier New','Georgia','Impact','Lucida Console','Tahoma','Times New Roman','Verdana']"
                  [options]="{ inputAttr: { 'aria-label': 'Font family' } }"
                ></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item formatName="bold"></dxi-item>
                <dxi-item formatName="italic"></dxi-item>
                <dxi-item formatName="strike"></dxi-item>
                <dxi-item formatName="underline"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item formatName="alignLeft"></dxi-item>
                <dxi-item formatName="alignCenter"></dxi-item>
                <dxi-item formatName="alignRight"></dxi-item>
                <dxi-item formatName="alignJustify"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item formatName="orderedList"></dxi-item>
                <dxi-item formatName="bulletList"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item
                  formatName="header"
                  [formatValues]="[false, 1, 2, 3, 4, 5]"
                  [options]="{ inputAttr: { 'aria-label': 'Header' } }"
                ></dxi-item>
              </dxo-toolbar>
              <dxo-media-resizing [enabled]="true"> </dxo-media-resizing>
            </dx-html-editor>
          </div>
          <div class="col-lg-12" >
            <dx-text-box [readOnly]= "true" formControlName="manufacturer" placeholder="Stage" [showClearButton]="true">
            </dx-text-box>
          </div>
          <div class="col-lg-6 form-group " >
            <input type="hidden" name="id"  formControlName = "id"/>
          </div>
        <div class="col-lg-12">
          <button type="submit" (submit)="onSaveBatchFormulaDetails()" 
            [disabled]="!batchFormulaDetailsFrm.valid"
            class="btn btn-primary  pull-right" style="margin:5px;"><i class="fa fa-save"></i>&nbsp;Save Details
        </button>
      </div>
    </div>
    </form>
  </dx-scroll-view>
  </div>
  </dx-popup>

 <dx-popup class="popup" [width]="funcpopWidth(80)" [height]="500" [showTitle]="true" title="Process Validation and/or Evaluation" [dragEnabled]="false"
  [closeOnOutsideClick]="true" [(visible)]="isEvaluationWinshow">
  <div *dxTemplate="let data of 'content'" class="row">
  <dx-scroll-view>
    <form [formGroup]="processEvaluationDetailsFrm" enctype="multipart/form-data" role="form" (ngSubmit)="onSaveProcessEvaluationDetails()">
      <div class="row" style="background: #fff;">
        <div class="col-lg-12" >
            <label class="control-label"> (a) Summary of the process validation and/or evaluation studies conducted (including product quality review(s) where relevant) and/or a summary of the proposed process validation protocol for the critical steps or critical assays used in the manufacturing process (e.g. protocol number, parameters, results): 
            </label>
            <dx-html-editor height="250"  formControlName="summary_process_validation">
              <dxo-toolbar>
                <dxi-item formatName="undo"></dxi-item>
                <dxi-item formatName="redo"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item
                  formatName="size"
                  [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"
                  [options]="{ inputAttr: { 'aria-label': 'Font size' } }"
                ></dxi-item>
                <dxi-item
                  formatName="font"[formatValues]="['Arial','Courier New','Georgia','Impact','Lucida Console','Tahoma','Times New Roman','Verdana']"
                  [options]="{ inputAttr: { 'aria-label': 'Font family' } }"
                ></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item formatName="bold"></dxi-item>
                <dxi-item formatName="italic"></dxi-item>
                <dxi-item formatName="strike"></dxi-item>
                <dxi-item formatName="underline"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item formatName="alignLeft"></dxi-item>
                <dxi-item formatName="alignCenter"></dxi-item>
                <dxi-item formatName="alignRight"></dxi-item>
                <dxi-item formatName="alignJustify"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item formatName="orderedList"></dxi-item>
                <dxi-item formatName="bulletList"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item
                  formatName="header"
                  [formatValues]="[false, 1, 2, 3, 4, 5]"
                  [options]="{ inputAttr: { 'aria-label': 'Header' } }"
                ></dxi-item>
              </dxo-toolbar>
              <dxo-media-resizing [enabled]="true"> </dxo-media-resizing>
            </dx-html-editor>
          </div>
          <div class="col-lg-12" >
            <dx-text-box [readOnly]= "true" formControlName="manufacturer" placeholder="Stage" [showClearButton]="true">
            </dx-text-box>
          </div>
          <div class="col-lg-6 form-group " >
            <input type="hidden" name="id"  formControlName = "id"/>
          </div>
        <div class="col-lg-12">
          <button type="submit" (submit)="onSaveProcessEvaluationDetails()" 
            [disabled]="!processEvaluationDetailsFrm.valid"
            class="btn btn-primary  pull-right" style="margin:5px;"><i class="fa fa-save"></i>&nbsp;Save Details
        </button>
      </div>
    </div>
    </form>
  </dx-scroll-view>
  </div>
  </dx-popup>

  <dx-popup class="popup" [width]="funcpopWidth(80)" [height]="500" [showTitle]="true" title="Description of Manufacturing Process and Process Controls" [dragEnabled]="false"
  [closeOnOutsideClick]="true" [(visible)]="isDescriptionManDetailsWinshow">
  <div *dxTemplate="let data of 'content'" class="row">
  <dx-scroll-view>
    <form [formGroup]="decriptionManufacturingDetailsFrm" enctype="multipart/form-data" role="form" (ngSubmit)="onSaveDescriptionManufacturingDetails()">
      <div class="row" style="background: #fff;">
        <div class="col-lg-12" >
            <label class="control-label">Flow diagram of the manufacturing process
            </label>
            <dx-html-editor height="250"  formControlName="manufacturing_process">
              <dxo-toolbar>
                <dxi-item formatName="undo"></dxi-item>
                <dxi-item formatName="redo"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item
                  formatName="size"
                  [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"
                  [options]="{ inputAttr: { 'aria-label': 'Font size' } }"
                ></dxi-item>
                <dxi-item
                  formatName="font"[formatValues]="['Arial','Courier New','Georgia','Impact','Lucida Console','Tahoma','Times New Roman','Verdana']"
                  [options]="{ inputAttr: { 'aria-label': 'Font family' } }"
                ></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item formatName="bold"></dxi-item>
                <dxi-item formatName="italic"></dxi-item>
                <dxi-item formatName="strike"></dxi-item>
                <dxi-item formatName="underline"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item formatName="alignLeft"></dxi-item>
                <dxi-item formatName="alignCenter"></dxi-item>
                <dxi-item formatName="alignRight"></dxi-item>
                <dxi-item formatName="alignJustify"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item formatName="orderedList"></dxi-item>
                <dxi-item formatName="bulletList"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item
                  formatName="header"
                  [formatValues]="[false, 1, 2, 3, 4, 5]"
                  [options]="{ inputAttr: { 'aria-label': 'Header' } }"
                ></dxi-item>
              </dxo-toolbar>
              <dxo-media-resizing [enabled]="true"> </dxo-media-resizing>
            </dx-html-editor>
          </div>
          <div class="col-lg-12" >
            <label class="control-label">(b) Narrative description of the manufacturing process, including equipment type and working capacity, process parameters</label>
            <textarea  (input)="adjustTextAreaHeight($event)"formControlName="narrative_description" placeholder="Narrative description of the manufacturing process, including equipment type and working capacity, process parameters:" class="custom-textarea">
            </textarea>
          </div>
          <div class="col-lg-12" >
            <label class="control-label">(c) Justification of reprocessing of materials:</label>
            <textarea  (input)="adjustTextAreaHeight($event)"formControlName="justification_reprocessing" placeholder="Justification of reprocessing of materials:" class="custom-textarea">
            </textarea>
          </div>
      </div>
      <div class="col-lg-6 form-group " >

          <input type="hidden" name="id"  formControlName = "id"/>
      </div>
          
      <div class="col-lg-12">
        <button type="submit" (submit)="onSaveDescriptionManufacturingDetails()" [disabled]="!decriptionManufacturingDetailsFrm.valid"
          class="btn btn-primary  pull-right" style="margin:5px;"><i class="fa fa-save"></i>&nbsp;Save Details
        </button>
      </div>
    </form>
  </dx-scroll-view>
  </div>
  </dx-popup>


 <dx-popup class="popup" [width]="funcpopWidth(80)" [height]="500" [showTitle]="true" title="Controls of Critical Steps and Process Validation" [dragEnabled]="false"
  [closeOnOutsideClick]="true" [(visible)]="isProcessValidationWinshow">
  <div *dxTemplate="let data of 'content'" class="row">
  <dx-scroll-view>
    <form [formGroup]="processValidationDetailsFrm" enctype="multipart/form-data" role="form" (ngSubmit)="onSaveProcessValidationDetails()">
      <div class="row" style="background: #fff;">
        <div class="col-lg-12" >
            <label class="control-label">(a) Summary of controls performed at the critical steps of the manufacturing process and on isolated intermediates: 
            </label>
            <dx-html-editor height="250"  formControlName="summary_control_performed">
              <dxo-toolbar>
                <dxi-item formatName="undo"></dxi-item>
                <dxi-item formatName="redo"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item
                  formatName="size"
                  [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"
                  [options]="{ inputAttr: { 'aria-label': 'Font size' } }"
                ></dxi-item>
                <dxi-item
                  formatName="font"[formatValues]="['Arial','Courier New','Georgia','Impact','Lucida Console','Tahoma','Times New Roman','Verdana']"
                  [options]="{ inputAttr: { 'aria-label': 'Font family' } }"
                ></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item formatName="bold"></dxi-item>
                <dxi-item formatName="italic"></dxi-item>
                <dxi-item formatName="strike"></dxi-item>
                <dxi-item formatName="underline"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item formatName="alignLeft"></dxi-item>
                <dxi-item formatName="alignCenter"></dxi-item>
                <dxi-item formatName="alignRight"></dxi-item>
                <dxi-item formatName="alignJustify"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item formatName="orderedList"></dxi-item>
                <dxi-item formatName="bulletList"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item
                  formatName="header"
                  [formatValues]="[false, 1, 2, 3, 4, 5]"
                  [options]="{ inputAttr: { 'aria-label': 'Header' } }"
                ></dxi-item>
              </dxo-toolbar>
              <dxo-media-resizing [enabled]="true"> </dxo-media-resizing>
            </dx-html-editor>
          </div>
          <div class="col-lg-12" >
            <dx-text-box [readOnly]="true" formControlName="stage" [showClearButton]="true">
            </dx-text-box>
          </div>
          <div class="col-lg-6 form-group " >
            <input type="hidden" name="id"  formControlName = "id"/>
          </div>
        <div class="col-lg-12">
          <button type="submit" (submit)="onSaveProcessValidationDetails()" 
            [disabled]="!processValidationDetailsFrm.valid"
            class="btn btn-primary  pull-right" style="margin:5px;"><i class="fa fa-save"></i>&nbsp;Save Details
        </button>
      </div>
    </div>
    </form>
  </dx-scroll-view>
  </div>
  </dx-popup>




