<div class=" wizard-content">

    <dx-data-grid class="table row-border hover" [dataSource]="premPersonnelDetailsData" keyExpr="id" (onToolbarPreparing)="onPremisesPersonnelToolbar($event,'')">
        
        <dxo-paging [enabled]="true">
        </dxo-paging>
        <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
        </dxo-pager>
        <dxo-export [enabled]="true" fileName="premPersonnelDetailsData" [allowExportSelectedData]="true"></dxo-export>

        <dxo-selection mode="multiple"></dxo-selection>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxi-column [width]="200" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
            <div *dxTemplate="let data of 'cellTemplate'">
                <dx-button text="Edit" (click)="funcEditPersonnelDetails(data)" 
                    type="success" icon="edit">
                    </dx-button> 
                <dx-button text="Delete"[disabled]= "is_readonly" (click)="funcDeletePersonnelDetails(data)" 
                    type="danger" icon="delete">
                </dx-button> 
            </div>
        </dxi-column>
        <dxi-column dataField="name"></dxi-column>
        <dxi-column dataField="email_address"></dxi-column>
        <dxi-column dataField="telephone"></dxi-column>
        <dxi-column dataField="qualification"></dxi-column>
        <dxi-column dataField="position"></dxi-column>
    </dx-data-grid>
</div>


<dx-popup class="popup"  [width]="funcpopWidth(70)" [height]="auto" [showTitle]="true" title="Staff Details" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isBusinessPersonnelPopupVisible">
    <div *dxTemplate="let data of 'content'" class="row">
        <dx-scroll-view></dx-scroll-view>
        <div class="col-lg-12">
            <form role="form" enctype="multipart/form-data" role="form" 
                [formGroup]="clinicalPersonnellDetailsfrm" class="col-lg-12" (ngSubmit)="onSavePremisesPersonnelDetails()">
                    <div class="row wizard-contentwin">
                        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6 row input-group ">
                            <div class="col-lg-9">
                                <label class="control-label">Full Name</label>
                                <dx-text-box [readOnly]= "is_readonly" formControlName="name"  placeholder="Full Name" [showClearButton]="true">
                                </dx-text-box>
                            </div>
                            <div class="col-lg-3 no-padding">
                                <dx-button  [disabled]= "is_readonly" [elementAttr]="{ class: 'btn btn-primary pull-left'}" style="margin-top:30px  !important;"  text="Search Staff Details"  type="default" (onClick)="onSearchStaffDetails()">
                                 <i class="fa fa-search"></i>Search Staff Details
                                 </dx-button>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                            <label class="control-label">Telephone No</label>
                            <dx-text-box [readOnly]= "is_readonly" formControlName="telephone" placeholder="Telephone" [showClearButton]="true">
                            </dx-text-box>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                            <label class="control-label">Email Address</label>
                            <dx-text-box [readOnly]= "is_readonly" formControlName="email_address"  placeholder="Email" [showClearButton]="true">
                            </dx-text-box>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                            <label>Qualification</label>
                            <dx-select-box [readOnly]= "is_readonly" [dataSource]="qualificationsData" valueExpr="id" placeholder="Qualification" displayExpr="name" [searchEnabled]="true" formControlName="qualification_id">
                            </dx-select-box>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                            <label>Personnel Position</label>
                            <dx-select-box [readOnly]= "is_readonly" [dataSource]="personnelPositionData" valueExpr="id" placeholder="Personnel Position" displayExpr="name" [searchEnabled]="true" formControlName="position_id">
                            </dx-select-box>
                        </div>
                        <div class="col-lg-12">
                            <input type="hidden" formControlName="id" />
                        </div>
                    </div>
                    <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
                        <dx-button text="Save Staff Details" [disabled]="!clinicalPersonnellDetailsfrm.valid" (onClick)="onSaveClinicalPersonnelDetails()" type="success" class="btn" icon="save" [elementAttr]="{ class: 'btn btn-primary; pull-right' }">
                        </dx-button>
                    </div>
            </form>
        </div>
    </div>
</dx-popup>

 <dx-popup class="popup"  [width]="funcpopWidth(80)" [height]="450" [showTitle]="true" title=" Staff Details"
    [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="isStaffPopupVisible">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view>
          <dx-data-grid class="table row-border hover" [remoteOperations]='true'  [allowColumnResizing]="true"  [columnHidingEnabled]="true" 
                    [dataSource]="staffDetailsData"  keyExpr="id">
                    <dxo-filter-row [visible]="false"></dxo-filter-row>
                    <dxo-search-panel [visible]="true">
                    </dxo-search-panel>
                    <dxo-paging [enabled]="true">
                    </dxo-paging>
                    <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
                    </dxo-pager>
                    <dxo-export [enabled]="true" fileName="premDirectorsDetailsData" [allowExportSelectedData]="true"></dxo-export>
                    
                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxi-column [width]="180" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
                      cellTemplate="cellTemplate">
                      <div *dxTemplate="let data of 'cellTemplate'">
                        <a (click)="funcSelectStaffDetails(data)" class="action-btn"><i class="fa fa-edit"></i>Select Personnel Details</a>&nbsp;
                      </div>
                    </dxi-column>
                    <dxi-column dataField="name"></dxi-column>
                    <dxi-column dataField="email_address"></dxi-column>
                    <dxi-column dataField="telephone"></dxi-column>
                    <dxi-column dataField="qualification"></dxi-column>
                    <dxi-column dataField="position"></dxi-column>
              </dx-data-grid>
        </dx-scroll-view>
      </div>
  </dx-popup>
 

