
<form role="form" enctype="multipart/form-data"  role="form" [formGroup]="premisesGeneraldetailsfrm">
  <div class="row  wizard-content wizard-contentfieldset">
      <fieldset class="col-lg-12 row">
          <legend  class="contentfieldset">Surgical Instruments Details</legend>
      <div class="col-lg-4">
      <label>Application Type</label>
      <dx-select-box [readOnly]="true"  [dataSource]="businessTypesData" valueExpr="id"
        displayExpr="name" placeholder="Select Application Type" [searchEnabled]="true"
        formControlName="business_type_id">
      </dx-select-box>
    </div>
    <div class="col-lg-4">
      <label>Is This Application made for:</label>
      <dx-select-box  [readOnly]= "is_readonly || is_made_readOnly" [dataSource]="applicantTypesData" valueExpr="id"
        displayExpr="name" placeholder="Select Application Type" [searchEnabled]="true"
        formControlName="applicant_type_id">
      </dx-select-box>
    </div>
        <div class="col-lg-4">
      <label class="control-label">Business/Company Registration No </label>
      <dx-text-box formControlName="company_registration_no"  
        [readOnly]= "is_readonly || is_made_readOnly"placeholder="Registration" [showClearButton]="true">
      </dx-text-box>
    </div>
     <div class="col-lg-4">
          <label class="control-label">Name of the Business</label>
          <dx-text-box [readOnly]= "is_readonly || is_made_readOnly" formControlName="premises_name"  placeholder="Premises Name" [showClearButton]="true">
          </dx-text-box>
      </div>      
      <div class="col-lg-4">
        <label>Business Registration Date</label>
        <dx-date-box  [readOnly]= "is_readonly || is_made_readOnly" formControlName="registration_date">
        </dx-date-box>
      </div> 
        <div class="col-lg-4 input-group">
            <div class="col-lg-8">
              <label class="control-label">TIN</label>
                <dx-text-box  [readOnly]= "is_readonly || is_made_readOnly" formControlName="tpin_no" [showClearButton]="true">
                </dx-text-box>
            </div>
            <div class="col-lg-4">
              <dx-button  
                [elementAttr]="{ class: 'btn btn-primary pull-left'}" style="margin-top:30px  !important;"  text="Search Tin "  type="default" [disabled]= "is_readonly"(onClick)="onSearchTinDetails()">
               <i class="fa fa-search"></i>Search
              </dx-button>
            </div> 
          </div>
      <div class="col-lg-4">
      <label class="control-label">Product Classification</label>
      <dx-select-box [readOnly]= "is_readonly || is_made_readOnly" [dataSource]="premiseClassData"formControlName="product_classification_id"
          placeholder="Product Classification"
          valueExpr="id"
          [searchEnabled]="true"
          displayExpr="name">
      </dx-select-box>
    </div>
    <div class="col-lg-4" *ngIf="is_other_classification">
            <label class="control-label">Please Specify</label>
            <dx-text-box [readOnly]= "is_readonly || is_made_readOnly" formControlName="other_classification" placeholder="Specify if other Classification" [showClearButton]="true">
            </dx-text-box>
        </div>
    </fieldset> 
    <fieldset class="col-lg-12 row" *ngIf="sub_module_id == 120 || sub_module_id == 121 || sub_module_id == 122" >
        <legend  class="contentfieldset"> Declarations</legend>
        <div class="col-lg-4" [hidden]="true">
            <label class="control-label">Name of Managing Director</label>
            <dx-text-box [readOnly]="is_readonly" formControlName="managing_director" placeholder="Director Name" [showClearButton]="true">
            </dx-text-box>
        </div>
          <div class="col-lg-4"[hidden]="true">
            <label class="control-label">Managing Director's Email</label>
            <dx-text-box [readOnly]="is_readonly" formControlName="managing_director_email" placeholder="Director Email" [showClearButton]="true">
            </dx-text-box>
        </div>
        <div class="col-lg-4"[hidden]="true">
            <label class="control-label">Managing Director's Telephone No.</label>
            <dx-text-box [readOnly]="is_readonly" formControlName="managing_director_telepone" placeholder="Director Telephone No" [showClearButton]="true">
            </dx-text-box>
        </div>
        <div class="col-lg-4" [hidden]="true">
          <label class="control-label">Director As Primary Contact Person</label>
          <dx-select-box [readOnly]="is_readonly" (onSelectionChanged)="onTraderasContactpersnChange($event)"  [dataSource]="confirmDataParam" valueExpr="id" displayExpr="name" [searchEnabled]="true"
           placeholder="Director as Contact Person" formControlName="applicant_contact_person">
          </dx-select-box>
        </div>
        <div class="col-lg-4" *ngIf="!isReadOnlyTraderasContact"[hidden]="true">
          <label class="control-label">Contact Person</label>
          <dx-text-box [readOnly]="is_readonly" formControlName="contact_person"  placeholder="Contact Person Name"  [showClearButton]="true">
          </dx-text-box>
      </div>
        <div class="col-lg-4" *ngIf="!isReadOnlyTraderasContact"[hidden]="true">
          <label class="control-label">Contact Person's Email</label>
          <dx-text-box [readOnly]="is_readonly" formControlName="contact_person_email"  placeholder="Contact Person Email"  [showClearButton]="true">
          </dx-text-box>
      </div>
      <div class="col-lg-4" *ngIf="!isReadOnlyTraderasContact"[hidden]="true">
          <label class="control-label">Contact Person's Telephone No.</label>
          <dx-text-box [readOnly]="is_readonly" formControlName="contact_person_telephone"  placeholder="Contact Person Telephone No"   [showClearButton]="true">
          </dx-text-box>
      </div>
      <div class="col-lg-4" *ngIf="!isReadOnlyTraderasContact"[hidden]="true">
        <label class="control-label"> Contact Person Position</label>
        <dx-text-box [readOnly]="is_readonly" formControlName="contact_person_position"  placeholder="Contact Person Position" [showClearButton]="true">
        </dx-text-box>
    </div>
    <div class="col-lg-12">
       <label>Has the applicant, any partner or director been convicted the past three years within or outside Uganda, of any offence involving drug  </label>
      <dx-select-box [readOnly]= "is_readonly || is_made_relocation" [dataSource]="confirmDataParam" valueExpr="id"
        displayExpr="name"  (onSelectionChanged)="onApplicantConvictionChange($event)" placeholder="Is convicted" [searchEnabled]="true"
        formControlName="had_offence">
      </dx-select-box>
    </div>
    <div class="col-lg-12" *ngIf="isConvicted">
          <label class="control-label">Give Offence Reason</label>
          <dx-text-area [readOnly]= "is_readonly || is_made_relocation"formControlName="offence"placeholder="Offence Reason">
          </dx-text-area>
      </div>
    <div class="col-lg-12">
       <label>Has any previous application by the applicants any partner or director, for a license to operate any type of pharmaceutical business been refused or cancelled</label>
      <dx-select-box [readOnly]= "is_readonly || is_made_relocation" (onSelectionChanged)="onApplicantCancelledChange($event)"  [dataSource]="confirmDataParam" valueExpr="id"
        displayExpr="name" placeholder="Had Cancelled" [searchEnabled]="true"
        formControlName="had_cancelled_application">
      </dx-select-box>
    </div>
    <div class="col-lg-12" *ngIf="isCancelled">
          <label class="control-label">Give Reason</label>
          <dx-text-area [readOnly]= "is_readonly || is_made_relocation" formControlName="cancelling_reason" placeholder="Cancellation Reason">
          </dx-text-area>
      </div>
    <div class="col-lg-12">
       <label>Does the applicant work in any other health institution (private or public)</label>
      <dx-select-box [readOnly]= "is_readonly || is_made_relocation" (onSelectionChanged)="onApplicanthealthChange($event)"  [dataSource]="confirmDataParam" valueExpr="id"
        displayExpr="name" placeholder="Select" [searchEnabled]="true"
        formControlName="is_workinotherinstitutions">
      </dx-select-box>
    </div>
    <div class="col-lg-12" *ngIf="isHealth">
          <label class="control-label">Working Other Institutions</label>
          <dx-text-area [readOnly]= "is_readonly || is_made_relocation" formControlName="working_inotherinstitutions"   placeholder="Working Other Institutions">
          </dx-text-area>
      </div>
     </fieldset>          
 
      <fieldset class="col-lg-12 row" *ngIf="sub_module_id == 120 || sub_module_id == 121 || sub_module_id == 122">
        <legend  class="contentfieldset">Technician</legend>
          <div class="col-lg-4">
             <label>Is the Applicant full time technician</label>
            <dx-select-box [readOnly]= "is_readonly || is_made_readOnly" [dataSource]="confirmDataParam" valueExpr="id"
              displayExpr="name"  (onSelectionChanged)="onApplicantFullTimeIncharge($event)" placeholder="Is the Applicant full time incharge" [searchEnabled]="true"
              formControlName="has_incharge">
            </dx-select-box>
          </div>
        <fieldset class="col-lg-12 row"*ngIf="isFullTimeIncharge" >
          <legend  class="contentfieldset">Fill the Details of the In Technician</legend>
        </fieldset>
          <div class="col-lg-4" *ngIf="isFullTimeIncharge">
            <label class="control-label">NIN</label>
                <dx-text-box [readOnly]= "is_readonly || is_made_readOnly" formControlName="nin_no"   placeholder="NIN" [showClearButton]="true">
                 </dx-text-box>
                </div>
               <div class="col-lg-4"*ngIf="isFullTimeIncharge">
                 <label class="control-label">Full Names</label>
                   <dx-text-box [readOnly]="true" formControlName="fullname"placeholder="Full Names" [showClearButton]="true">
                    </dx-text-box>
              </div>
              <div class="col-lg-4"*ngIf="isFullTimeIncharge">
              <label for="ti" class="control-label">Level of Education</label>
                <dx-select-box [readOnly]="true" [dataSource]="qualificationsData" valueExpr="id" 
                   placeholder="Select Qualification" displayExpr="name" [searchEnabled]="true" formControlName="incharge_qualification">
                </dx-select-box>
              </div>
              <div class="col-lg-4"*ngIf="isFullTimeIncharge">
                <label class="control-label">Telephone No</label>
                <dx-text-box [readOnly]="true" formControlName="incharge_telephone"  placeholder="Telephone No" [showClearButton]="true">
                </dx-text-box>
              </div>
              <div class="col-lg-4"*ngIf="isFullTimeIncharge">
                <label class="control-label">Email Address</label>
                <dx-text-box [readOnly]="true" formControlName="incharge_email"  placeholder="Email" [showClearButton]="true">
                </dx-text-box>
              </div>
              <div class="col-lg-4"*ngIf="isFullTimeIncharge">
                <label class="control-label">Country</label>
                <dx-select-box [readOnly]="true" [dataSource]="countries" valueExpr="id" displayExpr="name" 
                  placeholder="Select Country" (onSelectionChanged)="onCoutryCboSelect($event)" [searchEnabled]="true" formControlName="incharge_country_id">
                </dx-select-box>
              </div>
               <div class="col-lg-4"*ngIf="isFullTimeIncharge">
                <label for="ti" class="control-label">District</label>
                <dx-select-box [readOnly]="true" [dataSource]="districts" 
                  valueExpr="id" 
                  placeholder="Select District" displayExpr="name" 
                  [searchEnabled]="true" formControlName="incharge_district_id" (onSelectionChanged)="oDistrictsCboSelect($event)" >
                </dx-select-box>
              </div>
              <div class="col-lg-4"*ngIf="isFullTimeIncharge">
                <label for="ti" class="control-label">Region</label>
                <dx-select-box [readOnly]="true" [dataSource]="regions" valueExpr="id" 
                  displayExpr="name" (onSelectionChanged)="onRegionsCboSelect($event)" [searchEnabled]="true" formControlName="incharge_region_id">
                </dx-select-box>
              </div>
             <!-- Details of the full time incharge -->

            <fieldset class="col-lg-12 row"*ngIf="FullTimeIncharge" >
              <legend  class="contentfieldset"> Details of the In Charge</legend>
            </fieldset>
              <div class="col-lg-4" *ngIf="FullTimeIncharge">
              <label class="control-label">NIN</label>
                  <dx-text-box [readOnly]="true"  formControlName="nin_no"   placeholder="NIN" [showClearButton]="true">
                   </dx-text-box>
                  </div>
                 <div class="col-lg-4"*ngIf="FullTimeIncharge">
                   <label class="control-label">Full Names</label>
                     <dx-text-box [readOnly]="true" formControlName="fullname"placeholder="Full Names" [showClearButton]="true">
                      </dx-text-box>
                </div>
                <div class="col-lg-4"*ngIf="FullTimeIncharge">
                <label for="ti" class="control-label">Level of Education</label>
                  <dx-select-box [dataSource]="qualificationsData" valueExpr="id" 
                     placeholder="Select Qualification" displayExpr="name" [searchEnabled]="true" formControlName="incharge_qualification">
                  </dx-select-box>
                </div>
                <div class="col-lg-4"*ngIf="FullTimeIncharge">
                  <label class="control-label">Telephone No</label>
                  <dx-text-box [readOnly]="true" formControlName="incharge_telephone"  placeholder="Telephone No" [showClearButton]="true">
                  </dx-text-box>
                </div>

                <div class="col-lg-4"*ngIf="FullTimeIncharge">
                  <label class="control-label">Email Address</label>
                  <dx-text-box [readOnly]="true" formControlName="incharge_email"  placeholder="Email" [showClearButton]="true">
                  </dx-text-box>
                </div>
                <div class="col-lg-4"*ngIf="FullTimeIncharge">
                  <label class="control-label">Country</label>
                  <dx-select-box [readOnly]="true" [dataSource]="countries" valueExpr="id" displayExpr="name" 
                    placeholder="Select Country" (onSelectionChanged)="onCoutryCboSelect($event)" [searchEnabled]="true" formControlName="incharge_country_id">
                  </dx-select-box>
                </div>
                 <div class="col-lg-4"*ngIf="FullTimeIncharge">
                  <label for="ti" class="control-label">District</label>
                  <dx-select-box [readOnly]="true" [dataSource]="districts" 
                    valueExpr="id" 
                    placeholder="Select District" displayExpr="name" 
                    [searchEnabled]="true" formControlName="incharge_district_id" (onSelectionChanged)="oDistrictsCboSelect($event)" >
                  </dx-select-box>
                </div>
                <div class="col-lg-4"*ngIf="FullTimeIncharge">
                  <label for="ti" class="control-label">Region</label>
                  <dx-select-box [readOnly]="true" [dataSource]="regions" valueExpr="id" 
                    displayExpr="name" (onSelectionChanged)="onRegionsCboSelect($event)" [searchEnabled]="true" formControlName="incharge_region_id">
                  </dx-select-box>
                </div>
      </fieldset> 
      <fieldset class="col-lg-12 row">
        <legend  class="contentfieldset">Physical Location of Premises of the business</legend>
        <div class="col-lg-4">
          <label class="control-label">Country</label>

          <dx-select-box [readOnly]= "is_readonly || is_made_readOnly" [dataSource]="countries" valueExpr="id" displayExpr="name" placeholder="Select Country" (onSelectionChanged)="onCoutryCboSelect($event)" [searchEnabled]="true" formControlName="country_id">
          </dx-select-box>

      </div>
      <div class="col-lg-4">
          <label for="ti" class="control-label">District</label>

          <dx-select-box [readOnly]= "is_readonly || is_made_readOnly" [dataSource]="districts" valueExpr="id" placeholder="Select District" displayExpr="name" [searchEnabled]="true" formControlName="district_id" (onSelectionChanged)="oDistrictsCboSelect($event)" >
          </dx-select-box>
      </div>
      <div class="col-lg-4">
          <label for="ti" class="control-label">Region</label>

          <dx-select-box [readOnly]= "is_readonly || is_made_readOnly" [dataSource]="regions" valueExpr="id" displayExpr="name" (onSelectionChanged)="onRegionsCboSelect($event)" [searchEnabled]="true" formControlName="region_id">
          </dx-select-box>
      </div>

      <div class="col-lg-4">
        <label for="ti" class="control-label">County/Division</label>
          <dx-select-box [readOnly]= "is_readonly || is_made_readOnly" [dataSource]="countyData" valueExpr="id" 
             placeholder="Select County/Division" displayExpr="name" [searchEnabled]="true" formControlName="county_id" (onSelectionChanged)="oCountyCboSelect($event)" >
          </dx-select-box>
        </div> 
        <div class="col-lg-4">
          <label for="ti" class="control-label">Sub-County</label>
            <dx-select-box [readOnly]= "is_readonly || is_made_readOnly" [dataSource]="subCountyData" valueExpr="id" 
              placeholder="Select Sub-County" displayExpr="name" [searchEnabled]="true" formControlName="sub_county_id"(onSelectionChanged)="onSubCountyCboSelect($event)">
            </dx-select-box>
        </div>

        <div class="col-lg-4">
          <label for="ti" class="control-label">Parishes</label>
            <dx-select-box [readOnly]= "is_readonly || is_made_readOnly" [dataSource]="perishData" valueExpr="id" 
              placeholder="Select Parish" displayExpr="name" [searchEnabled]="true" formControlName="parish_id" (onSelectionChanged)="onParishesCboSelect($event)">
            </dx-select-box>
        </div>

        <div class="col-lg-4">
          <label for="ti" class="control-label">Village</label>
            <dx-select-box [readOnly]= "is_readonly || is_made_readOnly" [dataSource]="villageData" valueExpr="id" 
              placeholder="Select Village" displayExpr="name" [searchEnabled]="true" formControlName="village">
            </dx-select-box>
        </div> 
        <div class="col-lg-4">
            <label for="ti" class="control-label">Street/Road</label>
            <dx-text-box  [readOnly]= "is_readonly || is_made_readOnly" formControlName="street" placeholder="Road/Street" [showClearButton]="true">
            </dx-text-box>
        </div>
      <div class="col-lg-12">
          <label class="control-label">Physical Address</label>

          <dx-text-area [readOnly]= "is_readonly || is_made_readOnly" [height]="60" formControlName="physical_address" placeholder="Physical Address">
          </dx-text-area>
      </div>

       <div class="col-lg-8 row form-group">
          <label class="control-label col-lg-12">Geo-Location</label>
          <div class="col-lg-6">
            <dx-text-box [readOnly]="is_readonly" formControlName="latitude" placeholder="Latitude" [showClearButton]="true"></dx-text-box>
          </div>
          <div class="col-lg-6">
            <dx-text-box [readOnly]="is_readonly" formControlName="longitude" placeholder="Longitude" [showClearButton]="true"></dx-text-box>
          </div>
          <div class="col-lg-6">
            <dx-button
              text="Add Location"
              type="success"
              icon="fa fa-plus"
              [elementAttr]="{ class: 'pull-left' }"
              (click)="captureLocation()"
            ></dx-button>
          </div>
        </div>


      </fieldset> 
     
          <div class="col-lg-12">
              <input type="hidden" [value]= "incharge_id" formControlName="incharge_id" />
              <input type="hidden" value={{sub_module_id}} formControlName="sub_module_id" />
              <input type="hidden" value={{module_id}} formControlName="module_id" />
              <input type="hidden" value={{application_code}} formControlName="application_code" />
              <input type="hidden" value={{tra_premise_id}} formControlName="tra_premise_id" />
              <input type="hidden" value={{registered_id}} formControlName="registered_id" />
          </div>
   </div>
</form>



<dx-popup  title="Location Selector"
[visible]="mapVisible">
    <dx-map
      provider="bing"
      [key]="configService.apiKey"
      [center]="mapCenter"
      [zoom]="mapZoom"
      [height]="440"
      width="100%"
      [controls]="true"
      [markers]="markers"
      (onClick)="onMapClick($event)"
    >
    </dx-map> 
</dx-popup>

<dx-popup class="popup"  [width]="funcpopWidth(45)" [showTitle]="true" title="Premises Personnel" [dragEnabled]="false" [closeOnOutsideClick]="false"
[(visible)]="isPersonnelPopupVisible">

<div *dxTemplate="let data of 'content'" class="row">
  <dx-data-grid [dataSource]="personnel_informationData" height=500 (onToolbarPreparing)="onPremisesPerGridToolbar($event)"
    [showBorders]="true">
    <dxi-column dataField="name"></dxi-column>

    <dxi-column dataField="postal_address"></dxi-column>
    <dxi-column dataField="telephone_no"></dxi-column>
    <dxi-column dataField="email_address"></dxi-column>

    <dxi-column [width]="60" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
      cellTemplate="cellTemplate">
      <div *dxTemplate="let data of 'cellTemplate'">
        <a style="cursor: pointer;" (click)="funcSelectPremisePersonnel(data)"><i class="fa fa-edit"></i>Select
          Personnel</a>&nbsp;
      </div>
    </dxi-column>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-paging [enabled]="true">
    </dxo-paging>
    <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
    </dxo-pager>
    <dxo-export [enabled]="true" fileName="dtpremDocumentsUploadData" [allowExportSelectedData]="true"></dxo-export>

  </dx-data-grid>
</div>
</dx-popup>


<dx-popup class="popup"  [width]="funcpopWidth(50)" [height]="'auto'" [showTitle]="true" title="Personnel Information"
[dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isaddNewPremisesPersonnelDetails">
<div *dxTemplate="let data of 'content'">
<div class="col-lg-12">
  <form enctype="multipart/form-data" role="form" [formGroup]="newPremisesPersonnelDetailsFrm"
    (ngSubmit)="onSaveNewPremisesPersonnelDetails()">

    <div class="row">

      <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">

        <label class="control-label">Name</label>
        <dx-text-box formControlName="name">
        </dx-text-box>

      </div>
     
      <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
        <label for="ti" class="control-label">Email Address</label>
        <dx-text-box formControlName="email_address" placeholder="Email Address">
        </dx-text-box>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
        <label for="ti" class="control-label">Postal Address</label>
        <dx-text-box formControlName="postal_address" placeholder="Postal Address">
        </dx-text-box>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
        <label for="ti" class="control-label">Telephone No</label>

        <dx-text-box formControlName="telephone_no" placeholder="Telephone No">
        </dx-text-box>
      </div>
      <div class="col-lg-12 btn-margin-5">
        <br />
        <button type="submit" (submit)="onSaveNewPremisesPersonnelDetails()" [disabled]="!newPremisesPersonnelDetailsFrm.valid"
          class="btn btn-primary"><i class="fa fa-user"></i> Save Personnel Details</button>
      </div>
    </div>
  </form>
</div>
</div>
</dx-popup>

<dx-popup class="popup"  [width]="funcpopWidth(70)" [height]="500" [showTitle]="true" title=" Registered Incharge Applicant Details"
    [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="isSupervisorPopupVisible">
    <div *dxTemplate="let data of 'content'">
          <dx-data-grid class="table row-border hover" [remoteOperations]='true'  [allowColumnResizing]="true"  [columnHidingEnabled]="true" 
                    [dataSource]="supervisingDetailsData" keyExpr="id">
                    <dxo-filter-row [visible]="false"></dxo-filter-row>
                    <dxo-search-panel [visible]="true">
                    </dxo-search-panel>
                    <dxo-paging [enabled]="true">
                    </dxo-paging>
                    <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
                    </dxo-pager>
                    <dxo-export [enabled]="true" fileName="premPersonnelDetailsData" [allowExportSelectedData]="true"></dxo-export>
                    
                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxi-column [width]="140" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
                      cellTemplate="cellTemplate">
                      <div *dxTemplate="let data of 'cellTemplate'">
                        <a (click)="funcSelectSupervisingDetails(data)" class="action-btn"><i class="fa fa-edit"></i>Select Incharge Applicants Details</a>&nbsp;
                      </div>
                    </dxi-column>
                    <dxi-column [groupIndex]="1" dataField="fullnames"></dxi-column>
                    <dxi-column dataField="fullnames"></dxi-column>
                    <dxi-column dataField="applicant_reg_no"></dxi-column>
                    <dxi-column dataField="applicant_reg_date"></dxi-column>
                    <dxi-column dataField="country"></dxi-column>
                    <dxi-column dataField="region"></dxi-column>
                    <dxi-column dataField="district"></dxi-column>
                    <dxi-column dataField="physical_address"></dxi-column>
                    <dxi-column dataField="postal_address"></dxi-column>
                    <dxi-column dataField="email_address"></dxi-column>
                    
          </dx-data-grid>
      </div>
  </dx-popup>
  <dx-popup class="popup"  [width]="funcpopWidth(30)" 
  [height]="400" 
  [showTitle]="true" title="Telephone Number" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="addTelephoneModal">
  <div *dxTemplate="let data of 'content'" >
    <form [formGroup]="addTelephonefrm" class="col-lg-12  div-nopadding" 
      style="background: #fff;" enctype="multipart/form-data" role="form" (ngSubmit)="onSaveNewTelephone()">
      <div class="col-lg-12">
        <label class="control-label">Telephone Number</label>
          <dx-text-box formControlName="telephone" placeholder="Telephone" [showClearButton]="true">
          </dx-text-box>
      </div>

      <input type='hidden' value="{{trader_id}}" formControlName="trader_id"/>
      <div class="col-lg-12">
        <dx-button
          text="Add Telephone"
          type="success"
          icon="fa fa-plus"
          [elementAttr]="{  class: 'pull-left' }"
          (onClick)="onSaveNewTelephone()">
        </dx-button>
      </div>
     </form>
    </div>
  </dx-popup>
