<dx-data-grid class="table row-border hover" [dataSource]="clinicalTrialIntData" keyExpr="id"  (onToolbarPreparing)="onClinicalTrialInterventionsPreparing($event)">
  <dxo-filter-row [visible]="false"></dxo-filter-row>
  <dxo-search-panel [visible]="false">
  </dxo-search-panel>
  <dxo-paging [enabled]="true">
  </dxo-paging>
  <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
  </dxo-pager>
  <dxo-export [enabled]="true" fileName="clinicalTrialApplicationData" [allowExportSelectedData]="true"></dxo-export>
  <dxo-selection mode="multiple"></dxo-selection>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxi-column dataField="intervention_name"></dxi-column>
  <dxi-column dataField="intervention_description"></dxi-column>
  <dxi-column dataField="intervention_type"></dxi-column>
  <dxi-column dataField="intervention_dose"></dxi-column>
  <dxi-column dataField="intervention_duration"></dxi-column>
  <dxi-column dataField="group_size"></dxi-column>
  <dxi-column dataField="control_name"></dxi-column>
  <dxi-column [width]=100 caption="Other Actions" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
        cellTemplate="cellTemplate">
        <div *dxTemplate="let d of 'cellTemplate'">
          <dx-button type="success" [disabled]="is_readonly" (onClick)="onEditInterventions(d.data)">
            <i class="fa fa-edit"></i> 
        </dx-button>
        <dx-button type="success" [disabled]="is_readonly" (onClick)="funcDeleteInterventionsDetails(d.data)">
          <i class="fa fa-trash"></i> 
      </dx-button>
        </div>
      </dxi-column>
</dx-data-grid>


<dx-popup class="popup" [width]="funcpopWidth(80)" [height]="480" [showTitle]="true" title="Interventions"
[dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="interventionsAddWin">
<div *dxTemplate="let data of 'content'">
  <div class="col-lg-12">
    <form enctype="multipart/form-data" role="form" [formGroup]="interventionsFrm"
      (ngSubmit)="onSaveInterventionFrm()">

      <div class="row">

        <div class="col-xs-12 col-md-4 col-lg-4 col-xl-4">

          <label class="control-label">Intervention type</label>
            <dx-select-box [dataSource]="interventionTypesData" valueExpr="id" displayExpr="name" placeholder="Select Intervention Type" [searchEnabled]="true" formControlName="intervention_type_id">
          </dx-select-box>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4 col-xl-4">

            <label class="control-label">Intervention name</label>
            <dx-text-box formControlName="intervention_name">
            </dx-text-box>
          </div>
          <div class="col-lg-4">
            <label class="control-label">Dose (How much or how often) </label>
  
            <dx-text-area [height]="60" formControlName="intervention_dose" placeholder="">
            </dx-text-area>
          </div>
          <div class="col-lg-4">
            <label class="control-label">Duration (for how long) </label>
  
            <dx-text-box [height]="60" formControlName="intervention_duration" placeholder="">
            </dx-text-box>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-4 col-xl-4">

            <label class="control-label">Group Size</label>
            <dx-text-box formControlName="group_size">
            </dx-text-box>
          </div>

          <div class="col-xs-12 col-md-4 col-lg-4 col-xl-4">

            <label class="control-label">Nature of control            </label>
              <dx-select-box [dataSource]="natureofControlData" valueExpr="id" displayExpr="name" placeholder="Select Nature of control " [searchEnabled]="true" formControlName="nature_ofcontrol_id">
            </dx-select-box>
          </div>
          <div class="col-lg-12">
            <label class="control-label">Intervention Description </label>
  
            <dx-text-area [height]="60" formControlName="intervention_description" placeholder="">
            </dx-text-area>
          </div>

          
        <div class="col-lg-12 btn-margin-5">
          <br />
          <button type="submit" (submit)="onSaveInterventionFrm()" [disabled]="!interventionsFrm.valid"
            class="btn btn-primary"><i class="fa fa-user"></i> Save Intervention</button>
        </div>
      </div>
    </form>
  </div>
</div>
</dx-popup>