<dx-data-grid class="table row-border hover" (onToolbarPreparing)="onApplicationVariationsDetailsToolbar($event)"
[dataSource]="applicationVariationRequestsData" keyExpr="id">
<dxo-filter-row [visible]="false"></dxo-filter-row>
<dxo-paging [enabled]="true">
</dxo-paging>
<dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
</dxo-pager>
<dxo-export [enabled]="true" fileName="Variation details" [allowExportSelectedData]="true">
</dxo-export>
<dxo-selection mode="multiple"></dxo-selection>
<dxo-group-panel [visible]="true"></dxo-group-panel>

<dxi-column dataField="type_of_variation"></dxi-column>

<dxi-column dataField="present_details"></dxi-column>
<dxi-column dataField="proposed_variation"></dxi-column>
<dxi-column dataField="variation_background_information"></dxi-column>

<dxi-column [width]="170" caption="Action" name="command-editing" [allowFiltering]="false"
  [allowSorting]="false" cellTemplate="cellTemplate">
  <div *dxTemplate="let data of 'cellTemplate'">
      <a (click)="funcEditVariationRequestDetails(data)"><i class="fa fa-edit"></i>Edit/Preview</a>&nbsp;
     <a  class="action-btn"  (click)="funcDeleteApplicationVariationRequestsDetails(data)"><i class="fa fa-trash"></i>Delete</a>
  </div>
</dxi-column>
</dx-data-grid>

<dx-popup class="popup" [width]="funcpopWidth(80)" [height]="600" [showTitle]="true" title="Application Variation Request"
[dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isApplicationVariationsDetailsWin">
<div *dxTemplate="let data of 'content'">
<dx-scroll-view>
  <div class="col-lg-12" style="background:#fff;">
    <form enctype="multipart/form-data" role="form" [formGroup]="applicationVariationRequestsFrm"
      (ngSubmit)="onsaveApplicationVariationRequests()">

      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
            <label class="control-label">Present Details(Optional)</label>
              <dx-text-area [height]="60" formControlName="present_details"  placeholder="Present Details"
              >
            </dx-text-area>
          </div>
            <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                <label class="control-label">Proposed Variations Details(Mandatory)</label>
                  <dx-text-area [height]="60" formControlName="proposed_variation"  placeholder="Proposed Variations"
                 >
                </dx-text-area>
              </div>
              <div class="col-lg-12">
                  <label class="control-label">Background for change & Justification for Consequential change(Optional)</label>
                    <dx-text-area [height]="60" formControlName="variation_background_information"  placeholder="Background Information"
                    >
                  </dx-text-area>
                  
                <input type="hidden" formControlName="id" />

              </div>
              <div class="col-lg-12 btn-margin-5">
                <button type="submit" (submit)="onsaveApplicationVariationRequests()" [disabled]="!applicationVariationRequestsFrm.valid"
                  class="btn btn-primary"><i class="fa fa-user"></i> Save Variation Details</button>
              </div>
      </div>
    </form>
    <div class="col-lg-12">
      <dx-data-grid class="table row-border hover"   [paging]="{ enabled: true, pageSize: 1000 }" [showRowLines] = "true"  [wordWrapEnabled] = "true" [dataSource]="appDocumentsUploadData" keyExpr="id" 
          (onToolbarPreparing)="onApplicationDocumentToolbar($event)">
          <dxo-filter-row [visible]="false"></dxo-filter-row>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[1000]" [showNavigationButtons]="true" [showInfo]="true"
          infoText="Page #{0}. Total: {1} ({2} items)">
        </dxo-pager>
          <dxo-export [enabled]="true" fileName="appDocumentsUploadData" [allowExportSelectedData]="true"></dxo-export>
        
          <dxo-selection mode="multiple"></dxo-selection>
          <dxo-group-panel [visible]="true"></dxo-group-panel>
          <dxi-column [width]="250" caption="Action"  [allowFiltering]="false" [allowSorting]="false"
          cellTemplate="cellTemplate">
            <div *dxTemplate="let data of 'cellTemplate'">
                <div class="row">
                    <dx-button text="Upload" (onClick)="funAddApplicationUploadDetails(data)"
                        type="success" icon="upload">
                      </dx-button> 
                  <dx-menu  type="success"  (onItemClick)="appDocumentsActionColClick($event,data)"  [items]="documentMenuItems"></dx-menu>
                    
                </div>
            </div>
        </dxi-column>
          <dxi-column [groupIndex]="0"   dataField="document_requirement"></dxi-column>
          <dxi-column dataField="file_name"></dxi-column>
          <dxi-column dataField="initial_file_name"></dxi-column>
          <dxi-column width=130 dataField="uploaded_on"></dxi-column>
          <dxo-group-panel [visible]="true"></dxo-group-panel>
          <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
        </dx-data-grid>
    </div>
  </div>
</dx-scroll-view>
</div>
</dx-popup>

<dx-popup class="popup" [width]="800" [height]="650" [showTitle]="true" title="Document Preview" [dragEnabled]="false"
  [closeOnOutsideClick]="true" [(visible)]="isDocumentPreviewDownloadwin">
  <div *dxTemplate="let data of 'content'" class="row">
      <iframe [src]="document_previewurl" class="col-lg-12" height="650" ></iframe> 

  </div>

</dx-popup>

<dx-popup class="popup" [width]="500" [height]="400" [showTitle]="true" title="Registration Documents Upload"
  [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isDocumentUploadPopupVisible">
  <div *dxTemplate="let data of 'content'">
    <form role="form" class="row" enctype="multipart/form-data" role="form" [formGroup]="appDocumentUploadfrm"
      (ngSubmit)="onpremisesDocumentUpload()">
      <div class="col-lg-12">
        <label>Document Requirement</label>
        <dx-select-box [readOnly] = true [dataSource]="appDocumentsUploadRequirement" valueExpr="document_requirement_id"  displayExpr="document_requirement"
          placeholder="Select Document Upload" [searchEnabled]="true" formControlName="document_requirement_id">

        </dx-select-box>
      </div>
     
      <div class="col-lg-12">
        <label>File Upload</label>
        <input type="file" (change)="onFileChange($event)" placeholder="Upload Application Document"/>
      </div>
      <div class="col-lg-12">
        <label>Description</label>
        <dx-text-area [height]="60" formControlName="description"  placeholder="Description"
          [(value)]="value">
        </dx-text-area>
      </div>
      <input type="hidden" formControlName="id"/>
      <input type="hidden" formControlName="node_ref" />
      <input type="hidden" formControlName="portalapp_variationsdata_id" />
      <div class="col-lg-12">
        <dx-button text="Upload Application Document" [disabled]="!appDocumentUploadfrm.valid" (onClick)="onaplicationDocumentUpload()"
          type="success" icon="save" [elementAttr]="{ class: 'btn btn-primary; pull-right' }">
        </dx-button>
      </div>
    </form>
  </div>
</dx-popup>