<div class="row">
  <div class="col-lg-9" >
    <div style="border-radius: 2px;min-height:30px; color: #000;font-weight: bold;font-size:24px;">
      <label class="labelsign-in">Services available on the self service Portal.</label>
    </div>
    
        <dx-data-grid class="table row-border hover" [dataSource]="servicesDataset" keyExpr="id">
            <dxo-filter-row [visible]="false"></dxo-filter-row>
            <dxo-grouping 
                [autoExpandAll]="false">
            </dxo-grouping>
            <dxo-search-panel [visible]="false">
            </dxo-search-panel>
            <dxo-paging [enabled]="false">
            </dxo-paging>
            <dxo-pager [showInfo]="false" infoText="Page #{0}. Total: {1} ({2} items)">
            </dxo-pager>
            <dxo-export [enabled]="true" fileName="Services" [allowExportSelectedData]="true"></dxo-export>
            
            <dxo-group-panel [visible]="true"></dxo-group-panel>
      
            <dxi-column [groupIndex]="0" caption="" dataField="module_name"></dxi-column>
            <dxi-column caption="Organisation Services"  dataField="submodule_name"></dxi-column>
            <dxi-column dataField="description"></dxi-column>
            
          </dx-data-grid>
    
  </div>
  <div class="col-lg-3 frm-logindiv row" style="background: #fff;">
    <form role="form" enctype="multipart/form-data" role="form" [formGroup]="forgotPasswordFrm" (ngSubmit)="onFuncRecoverPasswordRequest()">

      <div style="border-radius: 2px;min-height:50px; color: #000;font-weight: bold;font-size:36px;">
        <label class="labelsign-in">Forgot Password</label>
      </div>

      <div class="col-lg-12">
          <div class="form-group">
              <label>Trader Account No</label>
              <dx-text-box formControlName="identification_no" [showClearButton]="true">
    
              </dx-text-box>
            </div>
        <div class="form-group">
          <label>Email Address</label>
          <dx-text-box formControlName="email_address" [showClearButton]="true">

          </dx-text-box>
        </div>

      </div>

      <div class="col-lg-12">
        <a class="btn btn-danger pull-left" style="margin:5px;" routerLink="./../"><i class="fa fa-arrow-left"></i>
          &nbsp;Back to Login</a>
        <dx-button [elementAttr]="{ class: 'btn btn-primary  pull-right' }" text="Request Password Recovery" [disabled]="!forgotPasswordFrm.valid"
          type="success" (onClick)="onFuncRecoverPasswordRequest()">
        </dx-button>
      </div>

    </form>

  </div>

</div>
<ng-http-loader spinner="sk-wave" [filteredMethods]="['POST', 'PuT','GET']"></ng-http-loader>