<form role="form" enctype="multipart/form-data" role="form" [formGroup]="clinicaltrialReportingdetailsfrm">

  <div class="row wizard-content">
    <div class=" col-xs-12 col-md-4 col-lg-4 col-xl-4">
      <label class="control-label">Clinical Study Reporting Type</label>
      <dx-select-box [dataSource]="clinicalStudyReportTypeData"  valueExpr="id" displayExpr="name"  
       [searchEnabled]="true" formControlName="clinicalreport_type_id">
      </dx-select-box>
    </div>
    <div class=" col-xs-12 col-md-4 col-lg-4 col-xl-4">
      <label class="control-label">Clinical Study Statuse</label>
      <dx-select-box [dataSource]="clinicalStudyStatusesData"  valueExpr="id" displayExpr="name"  
       [searchEnabled]="true" formControlName="clinicalstudy_status_id">
      </dx-select-box>
    </div>
    <div class="col-lg-4">
        <label class="control-label">Reporting Period Start Date</label>
        <dx-date-box     formControlName="reporting_start_date">
        </dx-date-box>
  
      </div>
      <div class="col-lg-4">
        <label class="control-label">Reporting Period End Date</label>
        <dx-date-box    formControlName="reporting_end_date">
        </dx-date-box>
  
      </div>
     
      <div class="col-lg-4">
        <label class="control-label">Screened Participants(#)</label>
        <dx-number-box     formControlName="screen_participants">
        </dx-number-box>
  
      </div>
    
      <div class="col-lg-4">
        <label class="control-label">Date Of First Screening</label>
        <dx-date-box      formControlName="dateof_first_screening">
        </dx-date-box>
  
      </div>
      <div class="col-lg-4">
        <label class="control-label">Target Participants</label>
        <dx-number-box      formControlName="target_sample_size">
        </dx-number-box>
  
      </div>
      <div class="col-lg-4">
        <label class="control-label">Enrolled Participants</label>
        <dx-number-box      formControlName="enrolled_participants">
        </dx-number-box>
  
      </div>
      <div class="col-lg-4">
        <label class="control-label">Date Of First Enrollment</label>
        <dx-date-box      formControlName="dateof_first_enrollment">
        </dx-date-box>
  
   r   </div>
      <div class="col-lg-4">
        <label class="control-label">Number of Withdrawals /Dropouts</label>
        <dx-number-box      formControlName="number_of_dropouts">
        </dx-number-box>
  
      </div>
      <div class="col-lg-4">
        <label class="control-label">Number lost to follow up</label>
        <dx-number-box      formControlName="number_lost_tofollow_ups">
        </dx-number-box>
  
      </div>
      <div class="col-lg-4">
        <label class="control-label">Number of SAEs line listing</label>
        <dx-number-box      formControlName="number_of_saes">
        </dx-number-box>
      </div>
      <div class="col-lg-4">
        <label class="control-label">Number of Events of medical importance that have occurred</label>
        <dx-number-box      formControlName="events_of_medialimportance">
        </dx-number-box>
      </div>
      <div class="col-lg-4">
        <label class="control-label">Number of protocol deviations that have occurred</label>
        <dx-number-box      formControlName="protocol_deviations">
        </dx-number-box>
      </div>
      
    <div class="col-lg-12">
      <input type="hidden" value={{sub_module_id}} formControlName="sub_module_id" />
      <input type="hidden" value="{{module_id}}" formControlName="appmodule_id" />
      <input type="hidden" value={{application_code}} formControlName="application_code" />
      <input type="hidden"  formControlName="section_id" />      
      <input type="hidden" value={{reg_clinical_trial_id}} formControlName="reg_clinical_trial_id" />
      
    </div>
  </div> 
  </form>
  