<div class=" wizard-content">
  <div class="accordion" id="gmpproductDetailsInformation">
    <div class="card">
      <div class="card-header" id="headingThree">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#manufacturing_block_info"
          aria-expanded="false" aria-controls="manufacturing_block_info">
          Manufacturing Block and Inspection Activities Information (expand to fill in the product manufacturers)
        </button>
      </div>
      <div id="manufacturing_block_info" class="collapse" aria-labelledby="headingThree" data-parent="#gmpproductDetailsInformation">
        <div class="card-body no-padding">
          <dx-data-grid class="table row-border hover" [allowColumnResizing]="true" [columnHidingEnabled]="false" (onToolbarPreparing)="onGMPBlocksProductsLineToolbar($event)" [dataSource]="gmpManufacturingBlocksDataRows">
            <dxo-filter-row [visible]="false"></dxo-filter-row>
              <dxo-paging [enabled]="false">
              </dxo-paging>
              <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
              </dxo-pager>
              <dxo-export [enabled]="true" fileName="ProductLinedetails" [allowExportSelectedData]="true"></dxo-export>
              <dxo-selection mode="single"></dxo-selection>
              <dxo-group-panel [visible]="true"></dxo-group-panel>
              <dxi-column [width]="250" caption="Action" name="command-editing" [allowFiltering]="false" 
                [allowSorting]="false"
                cellTemplate="cellTemplate">
                <div *dxTemplate="let data of 'cellTemplate'">
                  <dx-button text="Edit" (click)="funcEditManSiteBlockDetails(data)"
                    type="success" icon="edit">
                  </dx-button> 
                  <dx-button text="Delete" (click)="funcDeleteManSiteBlockDetails(data)" 
                    type="danger" icon="delete">
                  </dx-button>
                </div>
              </dxi-column>
              <dxi-column dataField="inspection_manufacturing_category"></dxi-column>
              <dxi-column dataField="block_name"></dxi-column>
              <dxi-column dataField="total_value" caption="Number of Lines"></dxi-column>
            </dx-data-grid>

            <div class="green-column">
                <h1 style="font-size: 18px; color: black;font-weight: bold;">View the Product Lines</h1>
            </div>

            <div  data-parent="#gmpproductDetailsInformation">
              <div class="card-body no-padding">
                <dx-data-grid class="table row-border hover" [allowColumnResizing]="true" [columnHidingEnabled]="false" [dataSource]="gmpProductLineDataRows" >
                  <dxo-filter-row [visible]="false"></dxo-filter-row>
                    <dxo-paging [enabled]="false">
                    </dxo-paging>
                    <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
                    </dxo-pager>
                    <dxo-export [enabled]="true" fileName="ProductLinedetails" [allowExportSelectedData]="true"></dxo-export>
                    <dxo-selection mode="single"></dxo-selection>
                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxi-column dataField="inspection_manufacturing_category" [groupIndex]="1" [allowEditing]="false" caption='Inspection Category'></dxi-column>
                    <!-- <dxi-column dataField="block_name"    [groupIndex]="2" [allowEditing]="false" caption='Block Name'></dxi-column> -->
                    <dxi-column dataField="product_line_name"  [allowEditing]="false"caption="Dosage Form [Line Type]"></dxi-column>
                    <dxi-column dataField="block_name" caption="Name of Block"></dxi-column>
                    <dxi-column dataField="gmpproduct_type"  [allowEditing]="false"caption="Product Category"></dxi-column>
                    <dxi-column dataField="manufacturing_activities" caption ="Manufacturing Activities">
                    </dxi-column>
                    <dxi-column dataField="total_value" caption="Total Lines"></dxi-column>
                    <dxo-summary>
                      <dxi-total-item
                        column="total_value">
                      </dxi-total-item>
                    </dxo-summary>
                    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                </dx-data-grid>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#product_registrationinfo"
              aria-expanded="false" aria-controls="product_registrationinfo">
              Products Applied for Registration
            </button>
          </div>
          <div id="product_registrationinfo" class="collapse" aria-labelledby="headingThree" data-parent="#gmpproductDetailsInformation">
            <div class="card-body no-padding">
              <div class="no-padding">
                  <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="false" (onToolbarPreparing)="onManufacturingSiteProductsToolbar($event)"
                  [dataSource]="gmpproductDetailsInformationData" keyExpr="id">
                  <dxo-filter-row [visible]="false"></dxo-filter-row>
                  <dxo-paging [enabled]="true">
                  </dxo-paging>
                  <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
                  </dxo-pager>
                  <dxo-export [enabled]="true" fileName="Gmp Products" [allowExportSelectedData]="true"></dxo-export>
                  <dxo-selection mode="single"></dxo-selection>
                  <dxo-group-panel [visible]="true"></dxo-group-panel>
                  <dxi-column [width]="100" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
                    cellTemplate="cellTemplate">
                    <div *dxTemplate="let data of 'cellTemplate'">
                      <!--<a (click)="funcEditProductLineDetails(data)"><i class="fa fa-edit"></i>Edit</a>&nbsp;-->
                      <a (click)="funcDeleteGMPProductLineDetails(data)"  disabled="is_readonly"><i class="fa fa-trash"></i>Delete</a>
                    </div>
                  </dxi-column>
                  <dxi-column dataField="product_line_name" [groupIndex]="1" [allowEditing]="false" caption='Product Line'></dxi-column>
                  <dxi-column dataField="reference_no" caption="Reference No/Tracking NO"></dxi-column>
                  <dxi-column dataField="brand_name"></dxi-column>
                  <dxi-column dataField="classification_name"></dxi-column>
                  <dxi-column dataField="common_name"></dxi-column>
                  <dxi-column dataField="applicant_name"></dxi-column>
                  <dxi-column dataField="product_line_name"></dxi-column>
                  
                </dx-data-grid>
              </div>
            </div>
          </div>
        </div>
       
      </div>
      
</div>
<dx-popup class="popup" [width]="funcpopWidth(80)" [height]="600" [showTitle]="true" title="Registered Products Details"
  [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isManufacturingSiteProductsDetails">
  <div *dxTemplate="let data of 'content'">
        <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="true" [height]="500"  [remoteOperations]='true'
        [remoteOperations]="true"
                  [dataSource]="manSiteRegisteredProductsData" keyExpr="id">
                  <dxo-filter-row [visible]="false"></dxo-filter-row>
                  <dxo-search-panel [visible]="true">
                  </dxo-search-panel>
                  <dxo-paging [enabled]="true">
                  </dxo-paging>
                  <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
                  </dxo-pager>
                  <dxo-export [enabled]="true" fileName="manufacturingFile" [allowExportSelectedData]="true"></dxo-export>
                  <dxo-selection mode="single"></dxo-selection>
                  <dxo-group-panel [visible]="true"></dxo-group-panel>
                  <dxi-column [width]="140" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
                    cellTemplate="cellTemplate">
                    <div *dxTemplate="let data of 'cellTemplate'">
                      <a class="action-btn" (click)="funcSelectProductDetails(data)"><i class="fa fa-edit"></i>Select Product Details</a>&nbsp;
                    </div>
                    <dxo-paging [pageSize]="50"></dxo-paging> 
                  </dxi-column>
                  <dxi-column  dataField="reference_no" caption="Reference No/Tracking No"></dxi-column>
                  <dxi-column dataField="brand_name"></dxi-column>
                  <dxi-column dataField="classification_name"></dxi-column>
                  <dxi-column dataField="common_name"></dxi-column>
                  <dxi-column dataField="applicant_name"></dxi-column>
                  <dxi-column dataField="physical_address"></dxi-column>
                  <dxi-column dataField="dosage_form"></dxi-column>
                  <dxi-column dataField="product_type"></dxi-column>
                  <dxi-column dataField="manufacturing_site"></dxi-column>
                
        </dx-data-grid>
    </div>
</dx-popup>


<dx-popup class="popup" [width]="funcpopWidth(80)" height="auto" [showTitle]="true" title="Manufacturered Products" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isgmpAddProductsModalShow">
  
  <div *dxTemplate="let data of 'content'" class="row">

      <div class="col-lg-12">
          <form enctype="multipart/form-data" role="form" [formGroup]="prodgmpAddinspectionFrm" (ngSubmit)="onSaveprodgmpAddinspection()">
              <div class="row">
                  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-12 row">
                      <label class="control-label">Product Name/Trade Name</label>
                      <dx-text-box [readOnly]="true" formControlName="brand_name">
                      </dx-text-box>
                  </div>
                  <div class="col-lg-12">
                    <label class="control-label">Reference No</label>

                    <dx-text-area [height]="60" [readOnly]="true" formControlName="reference_no" placeholder="Reference No">
                    </dx-text-area>
                </div>
                  <div class="col-lg-12">
                      <label class="control-label">Registrant</label>

                      <dx-text-area [height]="60" [readOnly]="true" formControlName="applicant_name" placeholder="Registrant">
                      </dx-text-area>
                  </div>
                  
                  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-12">
                      <label for="ti" class="control-label">Product Line</label>

                      <dx-select-box [dataSource]="productLineData" valueExpr="id" placeholder="Product Line" displayExpr="product_line_name" [searchEnabled]="true" formControlName="gmp_productline_id">
                          <div *dxTemplate="let data of 'item'">
                              <div class="custom-item">
                                  {{data.product_line_name}} {{data.product_line_category}}

                              </div>
                          </div>
                      </dx-select-box>
                      <input type="hidden" formControlName="reg_product_id" />

                      <input type="hidden" formControlName="product_id" />
                  </div>
                  <div class="col-lg-12 btn-margin-5">
                      <br />
                      <button type="submit" (submit)="onSaveprodgmpAddinspection()" [disabled]="!prodgmpAddinspectionFrm.valid" class="btn btn-primary"><i class="fa fa-user"></i> Save Product GMP Inspection Details</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</dx-popup>
 <dx-popup class="popup"  [width]="funcpopWidth(80)" [height]="600" [showTitle]="true" title="Manufactur Details"
    [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="isManufacturerPopupVisible">
    <div *dxTemplate="let data of 'content'">
          <dx-data-grid class="table row-border hover" [remoteOperations]='true'  [allowColumnResizing]="true"  [columnHidingEnabled]="true" 
                    [dataSource]="manufacturersSiteData" (onToolbarPreparing)="onManDetailPreparing($event)" keyExpr="id">
                    <dxo-filter-row [visible]="false"></dxo-filter-row>
                    <dxo-search-panel [visible]="true">
                    </dxo-search-panel>
                    <dxo-paging [enabled]="true">
                    </dxo-paging>
                    <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
                    </dxo-pager>
                    <dxo-export [enabled]="true" fileName="manufacturingFile" [allowExportSelectedData]="true"></dxo-export>
                    
                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxi-column [width]="140" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
                      cellTemplate="cellTemplate">
                      <div *dxTemplate="let data of 'cellTemplate'">
                        <a (click)="funcSelectManufacturer(data)" class="action-btn"><i class="fa fa-edit"></i>Select Manufacturer Site</a>&nbsp;
                      </div>
                    </dxi-column>
                    <dxi-column dataField="site_name"></dxi-column>
                    <dxi-column dataField="country"></dxi-column>
                    <dxi-column dataField="physical_address"></dxi-column>
          </dx-data-grid>
      </div>
  </dx-popup>

<dx-popup  class="popup" [width]="1150" [height]="650" [showTitle]="true" title="Manufacturing Activities Details"
    [dragEnabled]="false" [closeOnOutsideClick]="false" [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="isManufatcuringSiteBlocks">
    <div *dxTemplate="let data of 'content'">
      <dx-scroll-view>
    <wizard [navigationMode]='strict' style="background: #fff !important; height: 100% !important;">
       <wizard-step navigationSymbol="Step 1" stepTitle="Manufacturing Inspection  Activities and Site Blocks" class="wizardStep-height">
          <div class="col-lg-12 wizard-content">
              <form role="form" class="col-lg-12 row" enctype="multipart/form-data" role="form" [formGroup]="manufatcuringSiteBlocksfrm"
                  (ngSubmit)="onSavemanufatcuringSiteBlocks()">
                  <div class="col-lg-12">
                    <label>Inpection Manufacturing Category</label>
                      <dx-select-box [items]="inspectionCategoryData" valueExpr="id" displayExpr="name" 
                        placeholder="Inpection Selection"(onValueChanged)="onSpecialCategory($event)"[searchEnabled]="true" formControlName="inspection_category_id">
                      </dx-select-box>
                  </div>
                  <div class="col-lg-12" *ngIf="inSpecialCategory ">
                    <label>Product Category</label>
                    <dx-select-box [items]="gmpproductTypeData" valueExpr="id" displayExpr="name" placeholder="Product Category" 
                      [searchEnabled]="true" formControlName="special_category_id">
                    </dx-select-box>
                  </div>
                <div class="col-lg-12">
                  <label>Block Name</label>
                  <dx-text-box  formControlName="name"
                    placeholder="Block Name"
                    [showClearButton]="true">
                  </dx-text-box>
                </div>
                <div>
                    <input type="hidden" formControlName="id" />
                  </div>
                </form>      
              </div>
              <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
                <dx-button
                  text="Save Block and Next"
                  type="success"
                  icon="save"
                  [disabled]="!manufatcuringSiteBlocksfrm.valid"
                  [elementAttr]="{ id: 'elementId', class: 'pull-right' }"
                  (onClick)="onSavemanufatcuringSiteBlocks()">
                </dx-button>
      
              </div>
        </wizard-step>
        <wizard-step navigationSymbol="Step 2" stepTitle="Product Line Details" class="wizardStep-height">
          <div class="col-lg-12 wizard-content">
            <div class="card-body no-padding">
              <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  
                [columnHidingEnabled]="false" (onToolbarPreparing)="onProductsLineToolbar($event)"  
                [dataSource]="gmpProductLineData">
                <dxo-filter-row [visible]="false"></dxo-filter-row>
                <dxo-paging [enabled]="false">
                </dxo-paging>
                <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
                </dxo-pager>
                <dxo-export [enabled]="true" fileName="ProductLinedetails" [allowExportSelectedData]="true"></dxo-export>
                <dxo-selection mode="single"></dxo-selection>
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxi-column [width]="250" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
                  cellTemplate="cellTemplate">
                <div *dxTemplate="let data of 'cellTemplate'">
                  <dx-button text="Edit" (click)="funcEditProductLineDetails(data)"
                    type="success" icon="edit">
                  </dx-button> 
                  <dx-button text="Delete" (click)="funcDeleteProductLineDetails(data)" 
                        type="danger" icon="delete">
                  </dx-button>
                </div>
                </dxi-column>

                <dxi-column dataField="inspection_manufacturing_category" [groupIndex]="1" [allowEditing]="false" caption='Inspection Category'></dxi-column>
                <!-- <dxi-column dataField="block_name"    [groupIndex]="2" [allowEditing]="false" caption='Block Name'></dxi-column> -->
                <dxi-column dataField="product_line_name"  [allowEditing]="false"caption="Dosage Form [Line Type]"></dxi-column>
                <dxi-column dataField="block_name" caption="Name of Block"></dxi-column>
                <dxi-column dataField="gmpproduct_type"  [allowEditing]="false"caption="Product Category"></dxi-column>
                <dxi-column dataField="manufacturing_activities" caption ="Manufacturing Activities">
                </dxi-column>
                <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
              </dx-data-grid>
            </div>
            <div class="wizard-divbottom">
              <button class="btn btn-primary" type="button" previousStep>Previous Step</button>
            </div>
          </div>
        </wizard-step>
  </wizard>
</dx-scroll-view>
</div>
</dx-popup>


<dx-popup class="popup" [width]="funcpopWidth(80)" height="auto" [showTitle]="true"
   title="Product Line" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isManufatcuringSiteProductLine">
    <div *dxTemplate="let data of 'content'" class="row">
      <div class="col-lg-12">
        <form role="form" class="col-lg-12 row" enctype="multipart/form-data" 
          role="form" [formGroup]="gmpProductLineDetailsfrm"
            (ngSubmit)="onSaveGmpProductlineDetails()">
              <div class="col-lg-6">
                <label>Dosage Form (Line Type)</label>
                    <dx-select-box [items]="product_lineData" valueExpr="id" displayExpr="name" placeholder="Select Product Type" 
                      [searchEnabled]="true" formControlName="product_line_id">
                    </dx-select-box>
                  </div>
                  <div class="col-lg-6">
                    <label class="control-label">Dosage Form </label>
                    <dx-tag-box
                        [items]="dosageFormData"
                        formControlName="dosage_form_id"
                        placeholder="Select Dosage Form"
                        valueExpr="id" [readOnly]="is_readonly" 
                        [showSelectionControls]="true"
                        applyValueMode="useButtons"
                        displayExpr="name">
                    </dx-tag-box>
            
                </div>
                  <div class="col-lg-6" *ngIf="inspectionCategoryId !== 3 " >
                    <label>Product Category</label>
                    <dx-select-box [items]="gmpproductTypeData" [readOnly] ="is_special" valueExpr="id" displayExpr="name" placeholder="Product Category" 
                      [searchEnabled]="true" formControlName="gmpproduct_type_id">
                    </dx-select-box>
                  </div>
                  <div class="col-lg-6">
                    <label>Manufacturing Activities</label>
                    <dx-select-box [items]="manufacturingActivitiesData" [searchEnabled]="true" valueExpr="id" displayExpr="name" formControlName="manufacturing_activity_id" placeholder="Select Manufacturing Activities">
                    </dx-select-box>
                </div>
                  <div class="col-lg-12">
                    <input type="hidden" formControlName="id" />
                    <input type="hidden" formControlName="block_name" [value]="block_name">
                    <input type="hidden" formControlName="manufacturingsite_block_id" [value]="manufacturingsite_block_id">

                  </div>
                  <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
                      <dx-button text="Save Manufacturing Site Product Line" [disabled]="!gmpProductLineDetailsfrm.valid" (onClick)="onSaveGmpProductlineDetails()"
                      type="success" icon="save" [elementAttr]="{ class: 'btn btn-primary; pull-right' }">
                    </dx-button>
              </div>
            </form>
      </div>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="funcpopWidth(80)" height="auto" [showTitle]="true"
   title="Manufacturing Block" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isManufatcuringSiteBlock">
    <div *dxTemplate="let data of 'content'" class="row">
      <div class="col-lg-12">
        <form role="form" class="col-lg-12 row" enctype="multipart/form-data" 
          role="form" [formGroup]="manufatcuringSiteBlocksfrm"
            (ngSubmit)="onSavemanufatcuringSiteBlocks()">
                  <div class="col-lg-12">
                    <label>Inpection Manufacturing Category</label>
                      <dx-select-box [items]="inspectionCategoryData" valueExpr="id" displayExpr="name" 
                        placeholder="Inpection Selection" 
                        [searchEnabled]="true" formControlName="inspection_category_id">
                      </dx-select-box>
                  </div>
                <div class="col-lg-12">
                  <label>Block Name</label>
                  <dx-text-box  formControlName="name"
                    placeholder="Block Name"
                    [showClearButton]="true">
                  </dx-text-box>
                </div>
                <div>
                    <input type="hidden" formControlName="id" />
                </div>
                <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
                  <dx-button text="Save Manufacturing Site Block" [disabled]="!manufatcuringSiteBlocksfrm.valid" (onClick)="onSavemanufatcuringSiteBlocks()"
                      type="success" icon="save" [elementAttr]="{ class: 'btn btn-primary; pull-right' }">
                  </dx-button>
              </div>
        </form>
      </div>
  </div>
</dx-popup>

<dx-popup class="popup"  [width]="funcpopWidth(80)" [height]="600" [showTitle]="true" title="Registered GMP Details"
    [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="isRegisteredGmPopupVisible">
    <div *dxTemplate="let data of 'content'">
          <dx-data-grid class="table row-border hover" [remoteOperations]='true'  [allowColumnResizing]="true"  [columnHidingEnabled]="true" 
                    [dataSource]="registeredPremisesData" keyExpr="id">
                    <dxo-filter-row [visible]="false"></dxo-filter-row>
                    <dxo-search-panel [visible]="true">
                    </dxo-search-panel>
                    <dxo-paging [enabled]="true">
                    </dxo-paging>
                    <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
                    </dxo-pager>
                    <dxo-export [enabled]="true" fileName="manufacturingFile" [allowExportSelectedData]="true"></dxo-export>
                    
                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxi-column [width]="140" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
                      cellTemplate="cellTemplate">
                      <div *dxTemplate="let data of 'cellTemplate'">
                        <a (click)="funSelectRegisteredGMPsApp(data)" class="action-btn"><i class="fa fa-edit"></i>Select GMP Details</a>&nbsp;
                      </div>
                    </dxi-column>
                <dxi-column dataField="manufacturing_site_name"></dxi-column>
                <dxi-column dataField="permit_no"></dxi-column>
                <dxi-column dataField="country"></dxi-column>
                <dxi-column dataField="physical_address"></dxi-column>
          </dx-data-grid>
      </div>
  </dx-popup>