
<div class="row">
  <div class="col-xl-12">
    <div class="breadcrumb-holder">
      <h1 class="main-title float-left">Process: {{process_title}}</h1>
      
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div style="background: #fff; font-weight: bold;padding:5px;margin-bottom: 5px !important; height: 55px !important;">
  <div class="row">
    <div class="col-lg-6">
      <label
        style="font-weight: bold;margin: 5px; font-style:italics;font-size: 15px;font-style: italics; color: green;">
        Reference No: <i> {{tracking_no}}</i> </label>
    </div>
    <div class="col-lg-6">
      <label
        style="font-weight: bold;margin: 5px; font-style:italics;font-size: 15px;font-style: italics;color: green;">
        Status:<i> {{status_name}}</i> </label>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <wizard style="background: #fff !important; height: 100% !important;" navigationMode="free" navBarLayout ="large-filled-symbols">
      
      <wizard-step stepTitle="Inspection Booking Details"   navigationSymbol="Step 1" class="wizardStep-height">
        <app-insp-bookingdetails  [applicationGeneraldetailsfrm]="applicationGeneraldetailsfrm"  
            [sectionsData] ="sectionsData"  
            [applicationTypeData] ="applicationTypeData"  
            [sub_module_id] ="sub_module_id"  
            [applicationTypeCategoryData] ="applicationTypeCategoryData"  
            [permitReasonData] ="permitReasonData" 
            [portOfEntryExitData] ="portOfEntryExitData"   
            [payingCurrencyData] ="payingCurrencyData"  
            [currencyData]="currencyData"
            [consigneeOptionsData] ="consigneeOptionsData"  
            [permitProductsCategoryData] ="permitProductsCategoryData"
            [consignee_options_check] ="consignee_options_check"  
            [zoneData] ="zoneData"  
            [module_id] ="module_id"  
            [application_code] ="application_code"  
            [declaration_application_code] = "declaration_application_code"
            [ispremisesSearchWinVisible] ="ispremisesSearchWinVisible"  
            [registered_premisesData] ="registered_premisesData"  
            [modeOfTransportData] ="modeOfTransportData" 
            [productImportationCategoryData] = "productImportationCategoryData" 
            
            [issenderreceiverSearchWinVisible] ="issenderreceiverSearchWinVisible"  
            [consignee_sendertitle] ="consignee_sendertitle"  
            [issenderreceiverAddWinVisible] ="issenderreceiverAddWinVisible"  
            [permitReceiverSenderFrm] ="permitReceiverSenderFrm"  
            [countries] ="countries"  
            [regions] ="regions"  
            [districts] ="districts"  
            [section_id] ="section_id"  
            
            [deviceTypeData] ="deviceTypeData"
            [applicationCategoryData] ="applicationCategoryData"  
            >
            </app-insp-bookingdetails>
          <div class=" div-footer" style="border-top: 1px solid #ccc; ">
            <button (click)="onApplicationDashboard()" class="btn btn-primary pull-left" style="margin:5px;"
              type="button"><i class="fa fa-dashboard"></i>
              &nbsp; Dashboard</button>
            
            <button type="button" (click)="onSaveImportExportApplication()"
               class="btn btn-primary  pull-right"
              style="margin:5px;"><i class="fa fa-save"></i>&nbsp;Save and Next</button>

          </div>
        
      </wizard-step>
      <!--  <wizard-step stepTitle="Consignment Product Selection " navigationSymbol="Step 2"  (stepEnter)="validateApplicationDetails($event)" class="wizardStep-height">
        <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
          <button type="button" class="btn btn-primary" previousStep>&nbsp;<i
              class="fa fa-angle-double-left"></i>Previous
            Application Details</button>
       [disabled] ="isprodnextdisable"
          <button type="button" class="btn btn-primary"
            (click)="funcValidatePermitProductDetails('Add Permit Product Details to proceed',2)">Next Documents
            Upload &nbsp;<i class="fa fa-angle-double-right"></i></button>
        </div>
        <app-insp-prodbooking-details  [permitProductsData] ="permitProductsData"  
            [isPermitproductsPopupVisible] ="isPermitproductsPopupVisible"  
            [registeredProductsData] ="registeredProductsData"  
            [isPermitproductsAddPopupVisible] ="isPermitproductsAddPopupVisible"  
            [confirmDataParam] ="confirmDataParam"  
            [is_regulatedproducts] ="is_regulatedproducts"   
            [productCategoryData] ="productCategoryData"  
            [deviceTypeData] ="deviceTypeData"  
            [packagingUnitsData] ="packagingUnitsData"  
            [siUnitsData]="siUnitsData"
            [weightsUnitData] ="weightsUnitData"  
            [currencyData] ="currencyData" 
            [proforma_currency_id] ="proforma_currency_id" 
            [countries] ="countries"  
            [permitProductsFrm] ="permitProductsFrm"  
            [productGeneraldetailsfrm] ="productGeneraldetailsfrm"  
            [classificationData] ="classificationData"  
            [commonNamesData] ="commonNamesData"   
            [application_code] ="application_code"   
            [enabled_newproductadd] ="enabled_newproductadd"   
            [sub_module_id] ="sub_module_id"   
            [tracking_no] ="tracking_no"   
            [module_id] ="module_id"   
            [module_id] ="module_id"   
            [section_id] ="section_id"   
            
            >
            </app-insp-prodbooking-details>
        <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
          <button type="button" class="btn btn-primary" previousStep>&nbsp;<i
              class="fa fa-angle-double-left"></i>Previous
            Application Details</button>
            
             [disabled] ="isprodnextdisable"
          <button type="button" class="btn btn-primary" 
            (click)="funcValidatePermitProductDetails('Add Permit Product Details to proceed',2)">Next Documents
            Upload &nbsp;<i class="fa fa-angle-double-right"></i></button>
        </div>
      </wizard-step> -->

       <wizard-step stepTitle="Product Details" navigationSymbol="Step 2"   class="wizardStep-height">
        <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
          <button type="button" class="btn btn-primary" previousStep>&nbsp;<i
              class="fa fa-angle-double-left"></i>Previous
            Application Details</button>
            <!-- [disabled] ="isprodnextdisable"-->
          <!-- <button type="button" class="btn btn-primary"
            (click)="funcValidateStepDetails('Add Permit Product Details to proceed',2)">Next Documents
            Upload &nbsp;<i class="fa fa-angle-double-right"></i></button>
        </div> -->
        <button type="button" class="btn btn-primary  pull-right" style="margin:5px;" nextStep>Go
                  to next step<i
                  class="fa fa-angle-double-right"></i></button>
                  </div>
        <app-permit-productsdetails  [permitProductsData] ="permitProductsData"  
            [isPermitproductsPopupVisible] ="isPermitproductsPopupVisible" 
            [declaredProductsData] = "declaredProductsData" 
            [isBatchPopupVisible] = "isBatchPopupVisible"
            [registeredProductsData] ="registeredProductsData" 
            [permitDrugDetailsData] ="permitDrugDetailsData" 
            [isPermitproductsAddPopupVisible] ="isPermitproductsAddPopupVisible"  
            [confirmDataParam] ="confirmDataParam"  
            [premisesOtherDetailsRows] ="premisesOtherDetailsRows" 
            [is_regulatedproducts] ="is_regulatedproducts"   
            [productCategoryData] ="productCategoryData"  
            [deviceTypeData] ="deviceTypeData"  
            [packagingUnitsData] ="packagingUnitsData"  
            [siUnitsData]="siUnitsData"
            [weightsUnitData] ="weightsUnitData"  
            [currencyData] ="currencyData" 
            [proforma_currency_id] ="proforma_currency_id" 
            [verificationData] = "verificationData"
            [dosageFormData] = "dosageFormData"
            [countries] ="countries"  
            [permitProductsFrm] ="permitProductsFrm"  
            [productGeneraldetailsfrm] ="productGeneraldetailsfrm"  
            [classificationData] ="classificationData"  
            [commonNamesData] ="commonNamesData"   
            [application_code] ="application_code" 
            [declaration_application_code] = "declaration_application_code"
            [product_category_id] = "product_category_id"
            [importation_reason_id] = "importation_reason_id" 
            [enabled_newproductadd] ="enabled_newproductadd"   
            [sub_module_id] ="sub_module_id"   
            [tracking_no] ="tracking_no"   
            [module_id] ="module_id"   
            [module_id] ="module_id"   
            [section_id] ="section_id"   
            
            >
            </app-permit-productsdetails>
        <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
          <button type="button" class="btn btn-primary" previousStep>&nbsp;<i
              class="fa fa-angle-double-left"></i>Previous
            Application Details</button>
            
            <!-- [disabled] ="isprodnextdisable"-->
         <!--  <button type="button" class="btn btn-primary" 
            (click)="funcValidatePermitProductDetails('Add Permit Product Details to proceed',2)">Next Documents
            Upload &nbsp;<i class="fa fa-angle-double-right"></i></button> -->
            <button type="button" class="btn btn-primary  pull-right" style="margin:5px;" nextStep>Go
                  to next step<i
                  class="fa fa-angle-double-right"></i></button>
        </div>
      </wizard-step>
       <wizard-step stepTitle="Documents" navigationSymbol="Step 3"  class="wizardStep-height" >
        <div class="wizard-divbottom">
          <button type="button" class="btn btn-primary" previousStep><i class="fa fa-angle-double-left"></i>
            Products Details</button>
          <!-- <button type="button" class="btn btn-primary"
            (click)="funcValidatePermitDocumentsDetails(3)">Next
            Application Submission<i class="fa fa-angle-double-right"></i></button> -->
            <button type="button" class="btn btn-primary  pull-right" style="margin:5px;" nextStep>Go
                  to next step<i
                  class="fa fa-angle-double-right"></i></button>

        </div>
        <div class=" wizard-content">
          <app-application-documents [section_id] ="section_id"  [module_id] ="module_id" [status_id] ="status_id" [sub_module_id] ="sub_module_id" [application_code] ="application_code"></app-application-documents>
        </div>
        <div class="wizard-divbottom">
          <button type="button" class="btn btn-primary" previousStep><i class="fa fa-angle-double-left"></i>
            Products Details</button>
          <!-- <button type="button" class="btn btn-primary"
            (click)="funcValidatePermitDocumentsDetails(3)">Next
            Application Submission<i class="fa fa-angle-double-right"></i></button> -->
            <button type="button" class="btn btn-primary  pull-right" style="margin:5px;" nextStep>Go
                  to next step<i
                  class="fa fa-angle-double-right"></i></button>

        </div>

      </wizard-step>
      <!-- <wizard-step stepTitle="Documents" navigationSymbol="Step 3"  class="wizardStep-height" (stepEnter)="validateProdApplicationDetails($event)">
        <div class="wizard-divbottom">
          <button type="button" class="btn btn-primary" previousStep><i class="fa fa-angle-double-left"></i>Inspection Details</button>
          <button type="button" class="btn btn-primary"
            (click)="funcValidatePermitDocumentsDetails(3)">Next
            Application Submission<i class="fa fa-angle-double-right"></i></button>

        </div>
        <div class=" wizard-content">
          <app-application-documents [section_id] ="section_id"  [module_id] ="module_id" [status_id] ="status_id" [sub_module_id] ="sub_module_id" [application_code] ="application_code"></app-application-documents>
        </div>
        <div class="wizard-divbottom">
          <button type="button" class="btn btn-primary" previousStep><i class="fa fa-angle-double-left"></i>Inspection Details</button>
          <button type="button" class="btn btn-primary"
            (click)="funcValidatePermitDocumentsDetails(3)">Next
            Application Submission<i class="fa fa-angle-double-right"></i></button>

        </div>

      </wizard-step> -->
      <wizard-step stepTitle="Completion & Submission"  (stepEnter)="validateSubmissionApplicationDetails($event)" navigationSymbol="Submit" >
        
        <form [formGroup]="onApplicationSubmissionFrm" class="col-lg-12 row div-nopadding wizard-content" style="background: #fff;" enctype="multipart/form-data" role="form" (ngSubmit)="onPermitsApplicationSubmit()">
          <div class="col-lg-12">
              <b><label>Declaration /Terms and condition</label></b>
              <ul>
                  <p *ngFor="let guide of terms_conditions;">
                      {{guide.no}} {{guide.term_conditiondetails}}
                  </p>
              </ul>
          </div>
          
          <!-- <div class="col-lg-12">
            <b> <label>Submission Comments(Optional)</label></b>
              <dx-text-area formControlName="submission_comments" placeholder="Enter Comments(optional)"></dx-text-area>
          </div> -->
          <div class="col-lg-12">
            <dx-check-box text="Agree to the Declaration" [value]="undefined"
              (onValueChanged)="submissionsTermscheckbox($event)">
            </dx-check-box>
          </div>
  
          <div class="wizard-divbottom">
            <button class="btn btn-primary" type="button" previousStep>Previous Step</button>
            
            <button class="btn btn-primary" type="button" [disabled]="!termscheckbox"
              (click)="onPermitsApplicationSubmit()">Submit Inspection Booking</button>
          </div>
</form>
      </wizard-step>
    </wizard>
  </div>
</div>
<!--query  modal structure-->



<!-- edit option -->


<!--Upload POP Up -->
<dx-popup class="popup" [width]="funcpopWidth(40)" [height]="300" [showTitle]="true" title="Permit Documents Upload"
  [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isDocumentUploadPopupVisible">
  <div *dxTemplate="let data of 'content'">
    <form role="form" class="row" enctype="multipart/form-data" role="form" [formGroup]="documentUploadfrm"
      (ngSubmit)="onPermitDocumentUpload()">
      <div class="col-lg-12">
        <label>Document Requirement</label>
        <dx-select-box [dataSource]="documentsUploadRequirementData" valueExpr="document_requirement_id"
          displayExpr="document_requirement" placeholder="Select Document Upload" [searchEnabled]="true"
          formControlName="document_requirement_id">

        </dx-select-box>
      </div>

      <div class="col-lg-12">
        <label>File Upload</label>
        <input type="file" (change)="onFileChange($event)" placeholder="Upload Document" />
      </div>
      <div class="col-lg-12">
        <label>Description</label>
        <dx-text-area [height]="60" formControlName="description" [maxLength]="maxLength" placeholder="Description"
          [(value)]="value">
        </dx-text-area>
      </div>
      <input type="hidden" formControlName="id" />
      <input type="hidden" formControlName="node_ref" />
      <div class="col-lg-12">
        <dx-button text="Upload Document" [disabled]="!documentUploadfrm.valid"
          (onClick)="onPermitDocumentUpload()" type="success" icon="save"
          [elementAttr]="{ class: 'btn btn-primary; pull-right' }">
        </dx-button>
      </div>
    </form>
  </div>
</dx-popup>


<dx-popup class="popup" [width]="funcpopWidth(70)" [height]="450" [showTitle]="true" title="Documents Version Preview"
  [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isDocumentVersionPreviewDownloadwin">
  <div *dxTemplate="let data of 'content'" class="row">
    <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="true"  [dataSource]="documentsVersionsUploadData" keyExpr="id"
      (onToolbarPreparing)="onApplicationDocumentToolbar($event)">
      <dxo-filter-row [visible]="true"></dxo-filter-row>

      <dxo-paging [enabled]="true">
      </dxo-paging>
      <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
      </dxo-pager>
      <dxo-export [enabled]="true" fileName="documentsVersionUploadData" [allowExportSelectedData]="true">
      </dxo-export>

      <dxo-selection mode="multiple"></dxo-selection>
      <dxo-group-panel [visible]="true"></dxo-group-panel>
      <dxi-column dataField="name"></dxi-column>
      <dxi-column dataField="nodeType"></dxi-column>
      <dxi-column dataField="node_ref"></dxi-column>
      <dxi-column dataField="modifiedAt"></dxi-column>
      <dxi-column [width]="160" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
        cellTemplate="cellTemplate">
        <div *dxTemplate="let data of 'cellTemplate'">

          <dx-menu (onItemClick)="documentsActionColClick($event,data)" [items]="documentVersionMenuItems">
          </dx-menu>

        </div>
      </dxi-column>
      <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
    </dx-data-grid>
  </div>
</dx-popup>


