<div class="row">
  <div class="col-xl-12">
    <div class="breadcrumb-holder">
      <h1 class="main-title float-left">Process: {{process_title}}</h1>
      
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div style="background: #fff; font-weight: bold;padding:5px;margin-bottom: 5px !important; height: 55px !important;">
  <div class="row">
    <div class="col-lg-5">
      <label
        style="font-weight: bold;margin: 5px; font-style:italics;font-size: 15px;font-style: italics; color: green;">
        Tracking No: <i> {{tracking_no}}</i> </label>
    </div>
    <div class="col-lg-5">
      <label
        style="font-weight: bold;margin: 5px; font-style:italics;font-size: 15px;font-style: italics;color: green;">Application
        Status:<i> {{status_name}}</i> </label>
    </div>

  </div>
</div>
<div class="row">
    <div class="col-lg-12" *ngIf="status_id === 6 || status_id === 8">
        <wizard [navigationMode]='strict' style="background: #fff !important; height: 100% !important;">
  
                <wizard-step stepTitle="Application Queries" class="wizardStep-height">
          
                    <div class="col-lg-12 wizard-content">
                         
                        <dx-data-grid class="table row-border hover row"  [columnHidingEnabled]="true" [dataSource]="applicationPreckingQueriesData" [wordWrapEnabled]="true" 
                        [showBorders]="true">
                        <dxo-filter-row [visible]="false"></dxo-filter-row>
                        <dxo-load-panel [enabled]="true">
                        </dxo-load-panel>
                        <dxo-paging [enabled]="true">
                        </dxo-paging>
                        <dxo-selection mode="single"></dxo-selection>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20]" [showNavigationButtons]="true" [showInfo]="true"
                          infoText="Page #{0}. Total: {1} ({2} items)">
                        </dxo-pager>
                        <dxo-search-panel  [visible]="true" 
                          >
                        </dxo-search-panel>
                        <dxo-export [enabled]="true" fileName="Query Details" [allowExportSelectedData]="true"></dxo-export>
                        <dxi-column [width]="150" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
                            cellTemplate="cellTemplate">
                            <div *dxTemplate="let data of 'cellTemplate'">
                                <dx-button text="Query Response" (click)="funcInitQueryResponse(data)"
                                type="success" icon="edit" [elementAttr]="{ class: 'btn btn-primary' }">
                              </dx-button>
                              
                          </div>
                        </dxi-column>
                        <dxi-column   [width] = 120 caption="Queried On" dataField="added_on"></dxi-column>
                        
                        <dxi-column name="command-editing"  caption="Query Details" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate1">
                            <div *dxTemplate="let data of 'cellTemplate1'">
                                <div [innerHTML]="data.data.queries_remarks"></div>
                            </div>
                        </dxi-column> 
                        <dxi-column name="command-editing"  caption="Query Response" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate2">
                            <div *dxTemplate="let data of 'cellTemplate2'">
                                <div [innerHTML]="data.data.response_txt"></div>
                            </div>
                        </dxi-column> 
                       
                    </dx-data-grid>
                      </div>
                      <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
                          <button (click)="onApplicationDashboard()" class="btn btn-primary pull-left" style="margin:5px;" type="button"><i
                            class="fa fa-dashboard"></i>
                          &nbsp; Dashboard</button>
                          <button class="btn btn-primary" type="button" (click)="printAppREquestforAdditionalInformation()"><i class="fa fa-print"></i> Letter for Request of Addition Information</button>
                     
                        <button type="button" class="btn btn-primary" (click)="funcValidateApplicationQueryresponse(1)" >Next(Documents & Permit Submission) &nbsp;<i class="fa fa-angle-double-right"></i></button>
                      </div>
                </wizard-step>
                <wizard-step stepTitle="Documents" class="wizardStep-height">
                  <div style="border-top: 1px solid #ccc; ">
                    <button type="button" class="btn btn-primary" previousStep><i class="fa fa-angle-double-left"></i>Permit
                      Products Details</button>
                    <button type="button" class="btn btn-primary"
                      (click)="funcValidatePermitDocumentsDetails(3)">Next
                      Application Submission<i class="fa fa-angle-double-right"></i></button>
          
                  </div>
                  <div class=" wizard-content">
                    <app-application-documents [section_id] ="section_id"  [module_id] ="module_id" [status_id] ="status_id" [sub_module_id] ="sub_module_id" [application_code] ="application_code"></app-application-documents>
                  </div>
                  <div class="wizard-divbottom">
                    <button type="button" class="btn btn-primary" previousStep><i class="fa fa-angle-double-left"></i>Next(Permit Submission) </button>
                    <button type="button" class="btn btn-primary"
                      nextStep>Next
                      Application Submission<i class="fa fa-angle-double-right"></i></button>
                  </div>
                </wizard-step>
                <wizard-step stepTitle="Permit Query Response Submission">

                    <div class="col-lg-12">
                            <dx-check-box text="Agree to the Terms & Conditions" [value]="undefined" (onValueChanged)="submissionsTermscheckbox($event)">
                                </dx-check-box>
                    </div>
            
                    <div class="wizard-divbottom">
                      <button class="btn btn-primary" type="button" previousStep>Previous Step</button>
                      
                                    <button class="btn btn-primary" type="button" [disabled]="!termscheckbox" (click)="onPermitsApplicationSubmit()">Submit Application
                            Application</button>
                    </div>
                  </wizard-step>
    
          </wizard>

</div>
  <div class="col-lg-12"  *ngIf="status_id !== 8 && status_id !== 6">
    <wizard style="background: #fff !important; height: 100% !important;"  navigationMode="strict" navBarLayout ="large-filled-symbols">
      
      <wizard-step stepTitle="Application Details" class="wizardStep-height"   navigationSymbol="Step 1" >
        <app-controlleddrugslicense-gendetails [applicationGeneraldetailsfrm]="applicationGeneraldetailsfrm" 
         [newPremisesPersonnelDetailsFrm] = "newPremisesPersonnelDetailsFrm"
           [sectionsData] ="sectionsData"  
            [sub_module_id] ="sub_module_id"  
            [applicationTypeCategoryData] ="applicationTypeCategoryData"  
            [permitReasonData] ="permitReasonData" 
            [businessTypeData] = "businessTypeData"
            [is_registered_premise] = "is_registered_premise"
            [is_clinical] = "is_clinical"
            [is_grant] = "is_grant"
            [is_govement] = "is_govement"
            [is_importation] = "is_importation"
            [licence_type_id] = "licence_type_id" 
            [business_type_id] = "business_type_id"
            [importation_reason_id] = "importation_reason_id"
            [product_category_id] = "product_category_id"
            [importationReasonData] = "importationReasonData"
            [productImportationCategoryData] = "productImportationCategoryData"
            [licenceTypeData] = "licenceTypeData"
            [applicationTypeData] = "applicationTypeData"
            [vcApplicationTypeData] ="vcApplicationTypeData"
            [productClassData] = "productClassData"
            [registrationLevelData] = "registrationLevelData"
            [LicencedproductRangeData] = "LicencedproductRangeData"
            [isProductCategoryId] = "isProductCategoryId"
            [port_id]="port_id"
            [has_registered_premises]="has_registered_premises"
            [portOfEntryExitData] ="portOfEntryExitData"   
            [payingCurrencyData] ="payingCurrencyData"  
            [currencyData]="currencyData"
            [consigneeOptionsData] ="consigneeOptionsData"  
            [permitProductsCategoryData] ="permitProductsCategoryData"
            [consignee_options_check] ="consignee_options_check"  
            [zoneData] ="zoneData"  
            [module_id] ="module_id"  
            [application_code] ="application_code"  
            [ispremisesSearchWinVisible] ="ispremisesSearchWinVisible"  
            [isclinicalTrialSearchWinVisible] = "isclinicalTrialSearchWinVisible"
            [registered_premisesData] ="registered_premisesData"  
            [registered_clinicalTrialData] = "registered_clinicalTrialData"
            [modeOfTransportData] ="modeOfTransportData" 
            [issenderreceiverSearchWinVisible] ="issenderreceiverSearchWinVisible"  
            [consignee_sendertitle] ="consignee_sendertitle"  
            [issenderreceiverAddWinVisible] ="issenderreceiverAddWinVisible"  
            [permitReceiverSenderFrm] ="permitReceiverSenderFrm"  
            [countries] ="countries"  
            [regions] ="regions"  
            [districts] ="districts"  
            [section_id] ="section_id"  
            
            [deviceTypeData] ="deviceTypeData"
            [applicationCategoryData] ="applicationCategoryData" 
            >
            </app-controlleddrugslicense-gendetails>
          <div class=" div-footer" style="border-top: 1px solid #ccc; ">
            <dx-button
            text="Dashboard"
            type="success"
            icon="fa fa-eraser"
            [elementAttr]="{  class: 'pull-left' }"
            (onClick)="onApplicationDashboard()">
        </dx-button>

            <button type="button" (click)="onSaveControlledDrugsImptPermitApplication()"
             class="btn btn-primary  pull-right"
              style="margin:5px;"><i class="fa fa-save"></i>&nbsp;Save
              Application</button>

          </div>
        
      </wizard-step>
      <wizard-step stepTitle="PermitProduct Information " class="wizardStep-height">
          <div style="border-top: 1px solid #ccc; ">
            <button type="button" class="btn btn-primary" previousStep>&nbsp;<i
              class="fa fa-angle-double-left"></i>Previous Application Details</button>
            <button type="button" class="btn btn-primary"
            (click)="funcValidatePermitProductDetails('Add Permit Product Details to proceed',2)">Next Documents Upload &nbsp;<i class="fa fa-angle-double-right"></i></button>
          </div>
        <app-controlleddrugslicense-prodsdetails  
            [permitProductsData] ="permitProductsData"  
            [isPermitproductsPopupVisible] ="isPermitproductsPopupVisible"  
            [registeredProductsData] ="registeredProductsData"  
            [isPermitproductsAddPopupVisible] ="isPermitproductsAddPopupVisible"  
            [confirmDataParam] ="confirmDataParam"  
            [premisesOtherDetailsRows] ="premisesOtherDetailsRows" 
            [is_regulatedproducts] ="is_regulatedproducts"   
            [productCategoryData] ="productCategoryData"  
            [deviceTypeData] ="deviceTypeData"  
            [packagingUnitsData] ="packagingUnitsData"  
            [siUnitsData]="siUnitsData"
            [weightsUnitData] ="weightsUnitData"
            [product_category_id]="product_category_id"  
            [currencyData] ="currencyData" 
            [classcategoryData]="classcategoryData"
            [countries]="countries"
            [business_type_id]="business_type_id"
            [licence_type_id]="licence_type_id"
            [importation_reason_id]="importation_reason_id"
            [proforma_currency_id] ="proforma_currency_id" 
            [importexport_permittype_id] ="importexport_permittype_id" 
            [is_registered]="is_registered"
            [siUnitsTypeData]="siUnitsTypeData"
            [controlleddrugs_basesalt_id]="controlleddrugs_basesalt_id"
            [permitProductsFrm] ="permitProductsFrm"  
            [productGeneraldetailsfrm] ="productGeneraldetailsfrm"  
            [classificationData] ="classificationData"  
            [commonNamesData] ="commonNamesData"   
            [application_code] ="application_code"   
            [enabled_newproductadd] ="enabled_newproductadd"   
            [sub_module_id] ="sub_module_id"   
            [tracking_no] ="tracking_no"   
            [module_id] ="module_id"
            [sectionsData] ="sectionsData" 
            [section_id] ="section_id" 
            [controlledDrugsTypesData] ="controlledDrugsTypesData" 
            [controlDrugsSubstanceData] ="controlDrugsSubstanceData" 
            [controlledDrugsBaseSaltData] ="controlledDrugsBaseSaltData" 
            [gramsBaseSiUnitData] ="gramsBaseSiUnitData" 
            [drugsPackagingTypeData] ="drugsPackagingTypeData" 

            >
            </app-controlleddrugslicense-prodsdetails>
        <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
          <button type="button" class="btn btn-primary" previousStep>&nbsp;<i
              class="fa fa-angle-double-left"></i>Previous
            Application Details</button>
          <button type="button" class="btn btn-primary"
            (click)="funcValidatePermitProductDetails('Add Controlled Drugs Particulars Details to proceed',2)">Next Documents
            Upload &nbsp;<i class="fa fa-angle-double-right"></i></button>
        </div>
      </wizard-step>
      <wizard-step stepTitle="Documents" class="wizardStep-height"   navigationSymbol="Step 3" >
        <div style="border-top: 1px solid #ccc; ">
          <button type="button" class="btn btn-primary" previousStep><i class="fa fa-angle-double-left"></i>Permit
            Controlled Drugs Details</button>
          <button type="button" class="btn btn-primary"
            (click)="funcValidatePermitDocumentsDetails(3)">Next
            Application Submission<i class="fa fa-angle-double-right"></i></button>
        </div>
        <div class=" wizard-content">
          <app-application-documents [section_id] ="section_id"  [module_id] ="module_id" [status_id] ="status_id" [sub_module_id] ="sub_module_id" [application_code] ="application_code"></app-application-documents>
        </div>
        <div class="wizard-divbottom">
          <button type="button" class="btn btn-primary" previousStep><i class="fa fa-angle-double-left"></i>Controlled Drugs Details</button>
          <button type="button" class="btn btn-primary"
            (click)="funcValidatePermitDocumentsDetails(3)">Next
            Application Submission<i class="fa fa-angle-double-right"></i></button>
        </div>
      </wizard-step>
      <wizard-step stepTitle="Completion & Submission" navigationSymbol="Submit" >
        
        <form [formGroup]="onApplicationSubmissionFrm" class="col-lg-12 row div-nopadding wizard-content" style="background: #fff;" enctype="multipart/form-data" role="form" (ngSubmit)="onProductApplicationSubmit()">
          <div class="col-lg-12">
              <b><label>Declaration and Disclaimer</label></b>
              <ul>
                  <p *ngFor="let guide of terms_conditions;">
                      {{guide.no}} {{guide.term_conditiondetails}}
                  </p>
              </ul>
          </div>
          <div class="col-lg-12">
            <dx-check-box text="Agree to the Declaration" [value]="undefined"
              (onValueChanged)="submissionsTermscheckbox($event)">
            </dx-check-box>
          </div>
  
          <div class="wizard-divbottom">
            <button class="btn btn-primary" type="button" previousStep>Previous Step</button>
            
<!--             <button class="btn btn-primary" type="button" (click)="onProductsApplicationPreview()">Preview Permits Applications
              Details
              </button> -->
            <button class="btn btn-primary" type="button" [disabled]="!termscheckbox"
              (click)="onPermitsApplicationSubmit()">Submit Permit
              Application</button>
          </div>
</form>
      </wizard-step>
    </wizard>
  </div>
</div>

<dx-popup  class="popup" [width]="funcpopWidth(80)" [height]="850" [showTitle]="true" title="Application Registration Query Response"
    [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isInitalQueryResponseFrmVisible">
    <div *dxTemplate="let data of 'content'">
      <dx-scroll-view>

    <wizard [navigationMode]='strict' style="background: #fff !important; height: 100% !important;">
          
        <wizard-step stepTitle="Import & Export Application Queries" class="wizardStep-height">
            <div class="col-lg-12 wizard-content">
              <app-app-querydetailsfrm [initqueryresponsefrm] ="initqueryresponsefrm">
              </app-app-querydetailsfrm>
              </div>
              <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
                
                  <button type="button"   class="btn btn-primary  pull-right" nextStep>Next(Query Responses/Application Details) &nbsp;<i class="fa fa-angle-double-right"></i></button>

                  <dx-button text="Save Query Response(s) " [disabled]="!initqueryresponsefrm.valid" (onClick)="onSaveinitqueryresponse()"
                      type="success" icon="save" [elementAttr]="{ class: 'btn btn-primary; pull-right' }">
                    </dx-button>

              </div>
        </wizard-step>

        <wizard-step stepTitle="Application Details" class="wizardStep-height">
          <div class=" div-footer" style="border-top: 1px solid #ccc; ">
            <button type="button" class="btn btn-primary" previousStep><i class="fa fa-angle-double-left"></i>Permit
              Products Details</button>
            <button class="btn btn-primary pull-right" style="margin:5px;" [disabled]="!application_id" nextStep
              type="button">
              Next Permit Product(s) &nbsp;<i class="fa fa-angle-double-right"></i></button>

            <button type="button" (click)="onSaveImportExportApplication()"
              [disabled]="!applicationGeneraldetailsfrm.valid" class="btn btn-primary  pull-right"
              style="margin:5px;"><i class="fa fa-save"></i>&nbsp;Save
              Application</button>

          </div>
        <app-controlleddrugslicense-gendetails [applicationGeneraldetailsfrm]="applicationGeneraldetailsfrm" 
         [newPremisesPersonnelDetailsFrm] = "newPremisesPersonnelDetailsFrm"
           [sectionsData] ="sectionsData"  
            [sub_module_id] ="sub_module_id"  
            [applicationTypeCategoryData] ="applicationTypeCategoryData"  
            [permitReasonData] ="permitReasonData" 
            [premiseClassData] = "premiseClassData"
            [businessTypeData] = "businessTypeData"
            [is_registered_premise] = "is_registered_premise"
            [is_clinical] = "is_clinical"
            [is_grant] = "is_grant"
            [is_govement] = "is_govement"
            [is_importation] = "is_importation"
            [licence_type_id] = "licence_type_id" 
            [business_type_id] = "business_type_id"
            [importation_reason_id] = "importation_reason_id"
            [product_category_id] = "product_category_id"
            [importationReasonData] = "importationReasonData"
            [productImportationCategoryData] = "productImportationCategoryData"
            [licenceTypeData] = "licenceTypeData"
            [applicationTypeData] = "applicationTypeData"
            [vcApplicationTypeData] ="vcApplicationTypeData"
            [registrationLevelData] = "registrationLevelData"
            [LicencedproductRangeData] = "LicencedproductRangeData"
            [isProductCategoryId] = "isProductCategoryId"
            [port_id]="port_id"
            [has_registered_premises]="has_registered_premises"
            [portOfEntryExitData] ="portOfEntryExitData"   
            [payingCurrencyData] ="payingCurrencyData"  
            [currencyData]="currencyData"
            [consigneeOptionsData] ="consigneeOptionsData"  
            [permitProductsCategoryData] ="permitProductsCategoryData"
            [consignee_options_check] ="consignee_options_check"  
            [zoneData] ="zoneData"  
            [module_id] ="module_id"  
            [application_code] ="application_code"
            [business_type_id]="business_type_id"
            [licence_type_id]="licence_type_id"  
            [importation_reason_id]="importation_reason_id"
            [ispremisesSearchWinVisible] ="ispremisesSearchWinVisible"  
            [isclinicalTrialSearchWinVisible] = "isclinicalTrialSearchWinVisible"
            [registered_premisesData] ="registered_premisesData"  
            [registered_clinicalTrialData] = "registered_clinicalTrialData"
            [modeOfTransportData] ="modeOfTransportData" 
            [issenderreceiverSearchWinVisible] ="issenderreceiverSearchWinVisible"  
            [consignee_sendertitle] ="consignee_sendertitle"  
            [issenderreceiverAddWinVisible] ="issenderreceiverAddWinVisible"  
            [permitReceiverSenderFrm] ="permitReceiverSenderFrm"  
            [countries] ="countries"  
            [regions] ="regions"  
            [districts] ="districts"  
            [section_id] ="section_id"  
            
            [deviceTypeData] ="deviceTypeData"
            [applicationCategoryData] ="applicationCategoryData" 
            >
            </app-controlleddrugslicense-gendetails>
          <div class=" div-footer" style="border-top: 1px solid #ccc; ">
            
            <button class="btn btn-primary pull-right" style="margin:5px;" [disabled]="!application_id" nextStep
              type="button">
              Next License License Product(s) &nbsp;<i class="fa fa-angle-double-right"></i></button>

            <button type="button" (click)="onSaveImportExportApplication()"
              [disabled]="!applicationGeneraldetailsfrm.valid" class="btn btn-primary  pull-right"
              style="margin:5px;"><i class="fa fa-save"></i>&nbsp;Save
              Application</button>

          </div>
        
      </wizard-step>
      <wizard-step stepTitle="PermitProduct Information " class="wizardStep-height">

        <app-controlleddrugslicense-prodsdetails  [permitProductsData] ="permitProductsData"  
            [isPermitproductsPopupVisible] ="isPermitproductsPopupVisible"  
            [registeredProductsData] ="registeredProductsData"  
            [isPermitproductsAddPopupVisible] ="isPermitproductsAddPopupVisible"  
            [confirmDataParam] ="confirmDataParam"  
            [premisesOtherDetailsRows] ="premisesOtherDetailsRows" 
            [is_regulatedproducts] ="is_regulatedproducts"   
            [productCategoryData] ="productCategoryData"  
            [deviceTypeData] ="deviceTypeData"  
            [packagingUnitsData] ="packagingUnitsData"  
            [siUnitsData]="siUnitsData"
            [siUnitsTypeData]="siUnitsTypeData"
            [weightsUnitData] ="weightsUnitData" 
            [countries]="countries"
            [classcategoryData]="classcategoryData" 
            [currencyData] ="currencyData" 
            [proforma_currency_id] ="proforma_currency_id" 
            [importexport_permittype_id] ="importexport_permittype_id" 
            [is_registered]="is_registered"
            [controlleddrugs_basesalt_id]="controlleddrugs_basesalt_id"
            [permitProductsFrm] ="permitProductsFrm"  
            [productGeneraldetailsfrm] ="productGeneraldetailsfrm"  
            [classificationData] ="classificationData"  
            [commonNamesData] ="commonNamesData"   
            [application_code] ="application_code"   
            [enabled_newproductadd] ="enabled_newproductadd"   
            [sub_module_id] ="sub_module_id"   
            [tracking_no] ="tracking_no"   
            [module_id] ="module_id"
            [sectionsData] ="sectionsData" 
            [section_id] ="section_id" 
            [product_category_id]="product_category_id"
            [controlledDrugsTypesData] ="controlledDrugsTypesData" 
            [controlDrugsSubstanceData] ="controlDrugsSubstanceData" 
            [controlledDrugsBaseSaltData] ="controlledDrugsBaseSaltData" 
            [gramsBaseSiUnitData] ="gramsBaseSiUnitData" 
            [drugsPackagingTypeData] ="drugsPackagingTypeData" 
            >
            </app-controlleddrugslicense-prodsdetails>
        <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
          <button type="button" class="btn btn-primary" previousStep>&nbsp;<i
              class="fa fa-angle-double-left"></i>Previous
            Application Details</button>
          <button type="button" class="btn btn-primary"
            nextStep>Next Documents
            Upload &nbsp;<i class="fa fa-angle-double-right"></i></button>
        </div>
      </wizard-step>
      <wizard-step stepTitle="Documents" class="wizardStep-height">
        <div class="wizard-divbottom">
          <button type="button" class="btn btn-primary" previousStep><i class="fa fa-angle-double-left"></i>Permit
            Products Details</button>
          <button type="button" class="btn btn-primary" (click)="onCloseQueryMode()">Close for Submission<i class="fa fa-angle-double-right"></i></button>

        </div>
        <div class=" wizard-content">
          <app-application-documents [section_id] ="section_id"  [module_id] ="module_id" [status_id] ="status_id" [sub_module_id] ="sub_module_id" [application_code] ="application_code"></app-application-documents>
        </div>
        <div class="wizard-divbottom">
          <button type="button" class="btn btn-primary" previousStep><i class="fa fa-angle-double-left"></i>Permit
            Products Details</button>
          <button type="button" class="btn btn-primary" (click)="onCloseQueryMode()">Close for Submission<i class="fa fa-angle-double-right"></i></button>

        </div>
      </wizard-step>
  </wizard>
</dx-scroll-view>

</div>
</dx-popup>


<dx-popup class="popup"  [width]="funcpopWidth(80)" [height]="700" [showTitle]="true" title="{{printReportTitle}}"
[dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="isPrintReportVisible">
<div *dxTemplate="let data of 'content'">
    <div class="col-lg-12 row" [innerHTML]="printiframeUrl | safe: 'html'"></div>
</div>
</dx-popup>