<form role="form" enctype="multipart/form-data" role="form" [formGroup]="productGeneraldetailsfrm" >

  <div class="row wizard-content">
    <div class="col-lg-4 ">
      <label for="ti" class="control-label">Product Type</label>

      <dx-select-box [dataSource]="sectionData"  [readOnly]="true"  valueExpr="id" displayExpr="name" [searchEnabled]="true"
        placeholder="Select Device Category" formControlName="section_id">
      </dx-select-box>
    </div>
    <div class="col-lg-4">
          <label class="control-label">Brand Name</label>
          <dx-text-box formControlName="brand_name" placeholder="Enter Medical Device Name" [showClearButton]="true">
          </dx-text-box>
        </div>
        <div class="col-lg-4 ">
          <label for="ti" class="control-label">Devices Type</label>

          <dx-select-box [dataSource]="devicesTypeData"  valueExpr="id" displayExpr="name" [searchEnabled]="true"
            placeholder="Select Device Type" formControlName="device_type_id">
          </dx-select-box>
        </div>
        <div class="col-lg-4 ">
          <label for="ti" class="control-label">Classification</label>

          <dx-select-box [dataSource]="classificationData"  value=365 valueExpr="id" displayExpr="name" [searchEnabled]="true"s
            placeholder="Select Classification" formControlName="classification_id">
          </dx-select-box>
        </div>
        
        <div class="col-lg-4 input-group">
          <div class="col-lg-10">
           <label for="ti" class="control-label">Generic Name(Optional)</label>

           <dx-select-box [dataSource]="commonNamesData"   [readOnly]= "isReadOnly"  valueExpr="id" displayExpr="name" [searchEnabled]="true"
             placeholder="Select Common name"   formControlName="common_name_id">
           </dx-select-box>
          </div>

           <div class="col-lg-2">
             <dx-button
                 text="Add "
                 type="success"
                 icon="fa fa-plus"
                 [elementAttr]="{  class: 'pull-left' }"
                 (onClick)="onAddNewCommonNameDetails()">
             </dx-button>
           </div>
         </div>
        <div class="col-lg-4">
          <label class="control-label">Product Strength(Optional)</label>

          <dx-text-box formControlName="product_strength" placeholder="Product Strength"  [readOnly]= "isReadOnly" [showClearButton]="true">
          </dx-text-box>
        </div>
        <div class="col-lg-8">
          <label class="control-label">Intended use as stated by the manufacturer:</label>
          <dx-text-box formControlName="intended_use" placeholder="Enter Intended Use" [showClearButton]="true">
          </dx-text-box>
        </div>
        <div class="col-lg-4">
          <label class="control-label">Intended User</label>

          <dx-select-box [dataSource]="intendedEndUserData" valueExpr="id" displayExpr="name" [searchEnabled]="true"
            placeholder=" Intended User" formControlName="intended_enduser_id">
          </dx-select-box>
        </div>
        <div class="col-lg-4">
            <label class="control-label">GMDN Code</label>
            <dx-text-box formControlName="gmdn_code" placeholder="Enter GMDN Code"  [showClearButton]="true">
            </dx-text-box>
<!--
              <dx-select-box [dataSource]="gmdnCodeData" (onSelectionChanged)="ongmdnCodeDataSelect($event)"  valueExpr="id" displayExpr="name"  [readOnly]= "isReadOnly"  [searchEnabled]="true"
              placeholder="GMDN Code" formControlName="gmdn_code">
            </dx-select-box>
          -->
          </div>
        <div class="col-lg-4">
          <label class="control-label">GMDN Term</label>
          <dx-text-box formControlName="gmdn_term" placeholder="Enter GMDN Term"  [showClearButton]="true">
          </dx-text-box>
        </div>
       
        <div class="col-lg-4">
          <label class="control-label">GMDN Category</label>
          
          <dx-select-box [dataSource]="gmdnCategoryData" valueExpr="id" displayExpr="name" [searchEnabled]="true"  [readOnly]= "isReadOnly" 
          placeholder=" GMDN Category" formControlName="gmdn_category">
        </dx-select-box>
        </div>
        <div class="col-lg-12"  *ngIf="section_id == 18">
            <label class="control-label">Target species(vet)</label>
            
            <dx-tag-box
              [items]="targetSpeciesData"
              formControlName="target_species_id"
              placeholder="Target species..."
              valueExpr="id"
              [showSelectionControls]="true"
              applyValueMode="useButtons"
              displayExpr="name">
            </dx-tag-box>

      </div>
        <div class="col-lg-4">
          <label class="control-label">Product Origin</label>

          <dx-select-box [dataSource]="productTypeData" valueExpr="id" displayExpr="name" [searchEnabled]="true"
            placeholder="Product Type" formControlName="product_origin_id">
          </dx-select-box>
        </div>
        <div class="col-lg-4">
          <label class="control-label">Shelf Life </label>
          <dx-text-box formControlName="shelf_life" placeholder="Shelf Life" [showClearButton]="true">
          </dx-text-box>
        </div>
        
        <div class="col-lg-12">
          <label class="control-label">Commercial Presenation</label>

          <dx-text-area [height]="60" formControlName="physical_description"  placeholder="Commercial Presenation">
          </dx-text-area>
        </div>

      </div>
  <div class="row">
          <div class="col-lg-4">
            <label class="control-label">Customer As Local technical Representative</label>
            <dx-select-box [dataSource]="confirmDataParam" valueExpr="flag" displayExpr="name" [searchEnabled]="true"
            readOnly=true  placeholder="Trader as Local Agent" formControlName="trader_aslocal_agent">
            </dx-select-box>
          </div>
          <div class="col-lg-4 ">
            <label class="control-label">Local Agent</label>
            <dx-text-box  formControlName="local_agent_name" readOnly=true [showClearButton]="true">

            </dx-text-box>
          </div>
          <div class="col-lg-4">

            <button type="button" (click)="funcSearchRegistrantDetails(1)" style="margin-top:28px  !important;" [disabled]="localagent_optionDisabled"
              class="btn btn-primary btn-sm"><i class="fa fa-search"></i>Search
              Local Agent</button>
            
          </div>
          <div class="col-lg-4 ">
            <label class="control-label">FPP Manufacturer</label>
            <dx-text-box  formControlName="manufacturer_name" readOnly=true [showClearButton]="true">

            </dx-text-box>

          </div>
          <div class="col-lg-4">
            <button type="button" (click)="funcSearchManufacturingSite()"
              class="btn btn-primary btn-sm " style="margin-top:28px  !important;"><i class="fa fa-search"></i>Search
              Man. Site</button>
          </div>
          
          
          <div class="col-lg-4">
            
              <input type="hidden" name="manufacturer_id" formControlName="manufacturer_id" />
              <input type="hidden" name="local_agent_id" formControlName="local_agent_id" />
              
            <input type="hidden" name="sub_module_id" formControlName="sub_module_id" />
            <input type="hidden" name="product_id" value={{product_id}} formControlName="product_id" />
            
            <input type="hidden" name="prodclass_category_id" formControlName="prodclass_category_id" />
          </div>
        </div>

</form>

<dx-popup class="popup" [width]="funcpopWidth(80)" [height]="450" [showTitle]="true" title="{{trader_title}}"
  [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="isRegistrantDetailsWinshow">
  <div *dxTemplate="let data of 'content'">
  
    <dx-data-grid class="table row-border hover" [dataSource]="traderAccountsDetailsData" keyExpr="id">
      <dxo-filter-row [visible]="false"></dxo-filter-row>
      <dxo-search-panel [visible]="true">
      </dxo-search-panel>
      <dxo-paging [enabled]="true">
      </dxo-paging>
      <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
      </dxo-pager>
      <dxo-export [enabled]="true" fileName="traderFile" [allowExportSelectedData]="true"></dxo-export>

      <dxo-selection mode="multiple"></dxo-selection>
      <dxo-group-panel [visible]="true"></dxo-group-panel>
      <dxi-column dataField="trader_no"></dxi-column>
      <dxi-column dataField="trader_name"></dxi-column>
      <dxi-column dataField="country"></dxi-column>
      <dxi-column dataField="region"></dxi-column>
      <dxi-column dataField="physical_address"></dxi-column>
      <dxi-column dataField="postal_address"></dxi-column>
      <dxi-column dataField="email_address"></dxi-column>

      <dxi-column [width]="100" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
        cellTemplate="cellTemplate">
        <div *dxTemplate="let data of 'cellTemplate'">
          <a (click)="funcSelectTraderDetails(data)" class="action-btn"><i class="fa fa-edit"></i>Select</a>&nbsp;
        </div>
      </dxi-column>
    </dx-data-grid>
  </div>
  </dx-popup>
 
<dx-popup class="popup" [width]="funcpopWidth(80)" [height]="600" [showTitle]="true" title="Manufacturing Site Details"
[dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isManufacturerSitePopupVisible">
<div *dxTemplate="let data of 'content'">
      <dx-data-grid class="table row-border hover"   (onToolbarPreparing)="onManufacturerPreparing($event)" [dataSource]="manufacturersData" [remoteOperations]='true'   keyExpr="id">
                <dxo-filter-row [visible]="false"></dxo-filter-row>
                <dxo-search-panel [visible]="true">
                </dxo-search-panel>
                <dxo-paging [enabled]="true">
                </dxo-paging>
                <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
                </dxo-pager>
                <dxo-export [enabled]="true" fileName="manufacturingFile" [allowExportSelectedData]="true"></dxo-export>
                <dxo-selection mode="multiple"></dxo-selection>
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                
                <dxi-column dataField="manufacturer_name"></dxi-column>
                <dxi-column dataField="country"></dxi-column>
                <dxi-column dataField="region"></dxi-column>
                <dxi-column dataField="district"></dxi-column>
                <dxi-column dataField="physical_address"></dxi-column>
                <dxi-column dataField="postal_address"></dxi-column>
                <dxi-column dataField="email_address"></dxi-column>
                <dxi-column [width]="140" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
                    <div *dxTemplate="let data of 'cellTemplate'">
                        <a (click)="funcSelectManufacturer(data)"  class="action-btn"><i class="fa fa-edit"></i>Select Manufacturer</a>&nbsp;
                    </div>
                </dxi-column>
                
            <dxo-paging [pageSize]="50"></dxo-paging>
      </dx-data-grid>
  </div>
</dx-popup>


<dx-popup class="popup" [width]="funcpopWidth(65)" [height]=620 [showTitle]="true" title="New Manufacturer" [dragEnabled]="false" [closeOnOutsideClick]="" [(visible)]="isnewmanufacturerModalShow">
  
  <div *dxTemplate="let data of 'content'" class="row">

      <div class="col-lg-12">
          <form enctype="multipart/form-data" role="form" [formGroup]="manufacturerFrm" (ngSubmit)="onAddManufacturerDetails()">

              <div class="row">

                  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">

                      <label class="control-label">Manufacturer Site Name</label>
                      <dx-text-box formControlName="name">
                      </dx-text-box>

                  </div>
                  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                      <label class="control-label">Country</label>

                      <dx-select-box [dataSource]="countries" valueExpr="id" displayExpr="name" placeholder="Select Country" (onSelectionChanged)="onCoutryCboSelect($event)" [searchEnabled]="true" formControlName="country_id">
                      </dx-select-box>
                  </div>
                  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                      <label for="ti" class="control-label">Region/City</label>

                      <dx-select-box [dataSource]="regions" valueExpr="id" displayExpr="name" (onSelectionChanged)="onRegionsCboSelect($event)" [searchEnabled]="true" formControlName="region_id">
                      </dx-select-box>

                  </div>
                  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                      <label for="ti" class="control-label">District(Optional)</label>

                      <dx-select-box [dataSource]="districts" valueExpr="id" placeholder="Select District" displayExpr="name" [searchEnabled]="true" formControlName="district_id">
                      </dx-select-box>
                  </div>
                  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                      <label for="ti" class="control-label">Email Address</label>
                      <dx-text-box formControlName="email_address" placeholder="Email Address">
                      </dx-text-box>
                  </div>
                  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                      <label for="ti" class="control-label">Postal Address</label>
                      <dx-text-box formControlName="postal_address" placeholder="Postal Address">
                      </dx-text-box>
                  </div>
                  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                      <label for="ti" class="control-label">Telephone No</label>

                      <dx-text-box formControlName="telephone_no" placeholder="Telephone No">
                      </dx-text-box>
                  </div>
                  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                      <label class="control-label col-lg-12">Mobile No</label>

                      <dx-text-box formControlName="mobile_no" placeholder="Mobile No">
                      </dx-text-box>
                  </div>
                  <div class="col-lg-12">
                    <label class="control-label">Physical Address</label>

                    <dx-text-area [height]="60" formControlName="physical_address" placeholder="Physical Address">
                    </dx-text-area>
                </div>
                  <div class="col-lg-12 btn-margin-5">
                      <br />
                      <button type="submit" (submit)="onAddManufacturerDetails()" [disabled]="!manufacturerFrm.valid" class="btn btn-primary"><i
                        class="fa fa-user"></i> Save Manufacturer</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</dx-popup>


<dx-popup class="popup"  [width]="funcpopWidth(30)" [height]="450" [showTitle]="true" title="Generic Name Details" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="addproductGenericNamesModal">
  
  <div *dxTemplate="let data of 'content'" >
        <form [formGroup]="addproductGenericNamesFrm" class="col-lg-12  div-nopadding" style="background: #fff;" enctype="multipart/form-data" role="form" (ngSubmit)="onSaveNewGenericName()">
            <div class="col-lg-12">
              <label class="control-label">Generic Name</label>
              <dx-text-box formControlName="name" placeholder="name" [showClearButton]="true">
              </dx-text-box>
            </div>
            <div class="col-lg-12">
              <label class="control-label">Description</label>
              <dx-text-area formControlName="description" placeholder="description" >
              </dx-text-area>
            </div>
            
            <input type='hidden' value='{{section_id}}' formControlName="section_id"/>
            <input type='hidden' value = 'par_common_names' formControlName="tablename"/>

            <div class="col-lg-12">
                <dx-button
                    text="Add Generic Name"
                    type="success"
                    icon="fa fa-plus"
                    [elementAttr]="{  class: 'pull-left' }"
                    (onClick)="onSaveNewGenericName()">
                </dx-button>
              </div>
          </form>
  </div>
</dx-popup>