<div class="row wizard-content">
      <dx-data-grid [dataSource]="permitProductsData" (onToolbarPreparing)="onPermitProductGridToolbar($event)"  [allowColumnResizing]="true" [columnHidingEnabled]="false" 
        [showBorders]="true">
        <dxo-filter-row [visible]="false"></dxo-filter-row>
        <dxo-search-panel [visible]="true">
        </dxo-search-panel>
        <dxo-paging [enabled]="true">
        </dxo-paging>
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column [width]="150" caption="Action" name="command-editing" [allowFiltering]="false"
          [allowSorting]="false" cellTemplate="cellTemplate">
          <div *dxTemplate="let data of 'cellTemplate'">
                <dx-menu (onItemClick)="permitProductsActionColClick($event,data)" [items]="permitProductMenuItems">
            </dx-menu>
          </div>
        </dxi-column>
        <dxi-column dataField="product_category"></dxi-column>
        <dxi-column dataField="brand_name" caption="Brand Name"></dxi-column>
        <dxi-column dataField="quantity"></dxi-column>
        <dxi-column dataField="unit_price"></dxi-column>
        <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
        </dxo-pager>
        <dxo-export [enabled]="true" fileName="permitProducts" [allowExportSelectedData]="true"></dxo-export>
      </dx-data-grid>
</div>

<dx-popup class="popup"  [width]="funcpopWidth(80)" [height]="550" [showTitle]="true" title="Permits Products" [dragEnabled]="false"
  [closeOnOutsideClick]="false" [(visible)]="isPermitproductsAddPopupVisible">
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view>
    <div class="row no-padding">
      <div class="col-lg-12 ">
        <dx-data-grid [dataSource]="registeredProductsData"  [height]="500" [remoteOperations]='true' 
          (onToolbarPreparing)="onRegisteredProductGridToolbar($event)"  [columnHidingEnabled]="false"  [showBorders]="true">
          <dxo-filter-row [visible]="false"></dxo-filter-row>
          <dxo-search-panel [visible]="true">
          </dxo-search-panel>
          <dxo-paging [enabled]="true">
          </dxo-paging>
          <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
          </dxo-pager>
          
          <dxo-selection mode="single"></dxo-selection>
          <dxi-column [width]="150" caption="Action" name="command-editing" [allowFiltering]="false"
          [allowSorting]="false" cellTemplate="cellTemplate">
          <div *dxTemplate="let data of 'cellTemplate'">
            <dx-button text="Select Product Details" (click)="funcSelectRegisteredProduct(data)"
            type="success" icon="edit" [elementAttr]="{ class: 'btn btn-primary' }">
          </dx-button>
          </div>
        </dxi-column>
          <dxi-column dataField="brand_name" caption="Brand Name"></dxi-column>

          <dxi-column dataField="common_name" caption="Common Name/INN Name/API"></dxi-column>
          <dxi-column dataField="classification_name" caption="Product Classification"></dxi-column>
          <dxi-column dataField="section_name" caption="Product Type"></dxi-column>
        
          <dxi-column dataField="approval_recommendation" caption="Authorisation Status"></dxi-column>
        <dxo-paging [pageSize]="25"></dxo-paging> 
          <dxo-export [enabled]="true" fileName="permitProducts" [allowExportSelectedData]="true"></dxo-export>

        </dx-data-grid>
      </div>
    </div>
  </dx-scroll-view>
  </div>
</dx-popup>

<dx-popup class="popup"  [width]="1000" [height]="'auto'"  [showTitle]="true" title="Products Details"
  [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isPermitproductsPopupVisible">
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view>
      <div class="row col-lg-12">
        <form role="form" class="row" enctype="multipart/form-data" role="form" [formGroup]="permitProductsFrm"
          (ngSubmit)="onsavePermitProductdetails()">
          <div class="col-lg-12 row row-no-margin ">
            <div class="col-lg-6">
                <label>Product Category</label>
                <dx-select-box [dataSource]="productImportationCategoryData" valueExpr="id" displayExpr="name" [searchEnabled]="true"
                  placeholder="Product Category" 
                  formControlName="product_category_id">   
                  <div *dxTemplate="let name of 'item'">
                    <div>{{name.name}}</div>
                </div>
              </dx-select-box>
            </div>
            <div class="col-lg-6">
              <label class="control-label">Product Name</label>
              <dx-text-box placeholder="Product Name" formControlName="brand_name">
              </dx-text-box>
            </div>

            <div class="col-lg-6">
              <label>Item Quantity</label>
              <dx-number-box placeholder="Item Quantity"  [value]="quantity"   formControlName="quantity">
              </dx-number-box>

            </div>
            <div class="col-lg-6">
              <label>Unit Price</label>
              <dx-number-box placeholder="Unit Price"  [value]="unit_price"   formControlName="unit_price">
              </dx-number-box>
                <input type="hidden" formControlName="id" />
                <input type="hidden" formControlName="product_id" />
            </div>
            <div class="col-lg-12 btn-margin-5">
              <br/>
              <button type="submit" (submit)="onsavePermitProductdetails()" 
                [disabled]="!permitProductsFrm.valid"
                class="btn btn-primary"><i class="fa fa-user"></i> Save Products Details
              </button>
            </div>
          </div>
        </form>
      </div>
    </dx-scroll-view>
    </div>
</dx-popup>
   
<dx-popup class="popup" [width]="800" [height]="650" [showTitle]="true" title="Document Preview" [dragEnabled]="false"
  [closeOnOutsideClick]="true" [(visible)]="isDocumentPreviewDownloadwin">
  <div *dxTemplate="let data of 'content'" class="row">
      <iframe [src]="document_previewurl" class="col-lg-12" height="650" ></iframe> 
  </div>
</dx-popup>




<dx-popup class="popup" [width]="funcpopWidth(40)" [height]="450" [showTitle]="true" title="preview Registered Products"
[dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="isPreviewApplicationsDetails">
<div *dxTemplate="let data of 'content'" style="background:#fff;">
  <dx-scroll-view>
    <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="false"  [columnHidingEnabled]="false"  [dataSource]="registeredProductsData" keyExpr="id" >
      <dxo-filter-row [visible]="false"></dxo-filter-row>
      <dxo-search-panel [visible]="true">
        </dxo-search-panel>
      <dxo-paging [enabled]="true">
      </dxo-paging>
      <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
      </dxo-pager>
  
      <dxo-export [enabled]="true" fileName="registeredProducts" [allowExportSelectedData]="true"></dxo-export>
  
      <dxo-selection mode="single"></dxo-selection>
      <dxo-group-panel [visible]="true"></dxo-group-panel>
      <dxi-column [width]=100 caption="Actions" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
        cellTemplate="cellTemplate">
        <div *dxTemplate="let d of 'cellTemplate'">
          <dx-menu [items]="contextMenu" displayExpr="text" orientation="horizontal" [hideSubmenuOnMouseLeave]="false"
            (onItemClick)="prodApplicationActionColClick($event,d)" submenuDirection="rightToTop">
          </dx-menu>
        </div>
      </dxi-column>

      <dxi-column  [groupIndex]="0"  dataField="section_name" caption="Product Category/Type"></dxi-column>
      <dxi-column dataField="brand_name"></dxi-column>
      <dxi-column dataField="common_name"></dxi-column>
      <dxi-column dataField="classification_name"></dxi-column>
      <dxi-column dataField="certificate_no"></dxi-column>
      <dxi-column dataField="expiry_date"></dxi-column>
      <dxi-column dataField="applicant_name" caption="Registrant"></dxi-column>
      <dxi-column dataField="local_agent" caption="Local Agent"></dxi-column>
      <dxi-column dataField="registration_status" caption="Registration Status"></dxi-column>
      <dxi-column dataField="validity_status" caption="Validity Status"></dxi-column>
    
      <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
    </dx-data-grid>
  </dx-scroll-view>
</div>

</dx-popup>

<dx-popup class="popup"  [width]="funcpopWidth(80)" [height]="450" [showTitle]="true" title="Registered Product Applications" [dragEnabled]="false"
[closeOnOutsideClick]="false" [(visible)]="isRegisteredProductsWinshow">
<div *dxTemplate="let data of 'content'" class="row">
  <dx-scroll-view>
    <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="true" [remoteOperations]='true' [dataSource]="registeredProductsData" keyExpr="id" >
        <dxo-filter-row [visible]="false"></dxo-filter-row>
        <dxo-search-panel [visible]="true">
        </dxo-search-panel>
        <dxo-paging [enabled]="true">
        </dxo-paging>
        <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
        </dxo-pager>

        <dxo-export [enabled]="true" fileName="registeredProducts" [allowExportSelectedData]="true"></dxo-export>

        <dxo-selection mode="single"></dxo-selection>
        <dxi-column caption="Actions" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
        cellTemplate="cellTemplate">
        <div *dxTemplate="let data of 'cellTemplate'">
           
            <dx-button
            text="Select"
            type="success"
            icon="fa fa-edit"  [disabled]="isReadOnly"
            [elementAttr]="{  class: 'pull-left' }"
            (onClick)="funSelectRegisteredProdcustsApp(data)">
        </dx-button>

          </div>
      </dxi-column>
        <dxi-column dataField="brand_name"></dxi-column>
        <dxi-column dataField="common_name"></dxi-column>
        <dxi-column dataField="classification_name"></dxi-column>
        <dxi-column dataField="certificate_no"></dxi-column>
        <dxi-column dataField="expiry_date"></dxi-column>
        <dxi-column dataField="applicant_name" caption="Registrant"></dxi-column>
        <dxi-column dataField="local_agent"></dxi-column>
        
      <dxo-paging [pageSize]="50"></dxo-paging>
      </dx-data-grid>
    </dx-scroll-view>
</div>
</dx-popup>



<dx-popup class="popup" [width]="funcpopWidth(80)" [height]="500" [showTitle]="true" title="Manufacturing Site Details"
[dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isManufacturerSitePopupVisible">
<div *dxTemplate="let data of 'content'">
<dx-scroll-view>
    <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="true"   (onToolbarPreparing)="onManufacturerPreparing($event)" [dataSource]="manufacturersSiteData" [remoteOperations]='true'   keyExpr="id">
              <dxo-filter-row [visible]="false"></dxo-filter-row>
              <dxo-search-panel [visible]="true">
              </dxo-search-panel>
              <dxo-paging [enabled]="true">
              </dxo-paging>
              <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
              </dxo-pager>
              <dxo-export [enabled]="true" fileName="manufacturingFile" [allowExportSelectedData]="true"></dxo-export>
              <dxo-selection mode="single"></dxo-selection>
              <dxo-group-panel [visible]="true"></dxo-group-panel>
              <dxi-column [width]="140" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
                  <div *dxTemplate="let data of 'cellTemplate'">
                              
                      <dx-button
                      text="Select Manufacturer"
                      type="success"
                      icon="fa fa-edit"  [disabled]="isReadOnly"
                      [elementAttr]="{  class: 'pull-left' }"
                      (click)="funcSelectManufacturer(data)">
                  </dx-button>
                  </div>
              </dxi-column>
              <dxi-column dataField="manufacturer_name"></dxi-column>
              <dxi-column dataField="country"></dxi-column>
              <dxi-column dataField="region"></dxi-column>
              <dxi-column dataField="district"></dxi-column>
              <dxi-column dataField="physical_address"></dxi-column>
              <dxi-column dataField="postal_address"></dxi-column>
              <dxi-column dataField="email_address"></dxi-column>
            
              
          <dxo-paging [pageSize]="50"></dxo-paging>
    </dx-data-grid>
  </dx-scroll-view>
</div>
</dx-popup>


<dx-popup class="popup" [width]="funcpopWidth(65)" [height]=620 [showTitle]="true" title="New Manufacturer" [dragEnabled]="false" [closeOnOutsideClick]="" [(visible)]="isnewmanufacturerModalShow">

<div *dxTemplate="let data of 'content'" class="row">
  <dx-scroll-view>
    <div class="col-lg-12">
        <form enctype="multipart/form-data" role="form" [formGroup]="manufacturerFrm" (ngSubmit)="onAddManufacturerDetails()">

            <div class="row">

                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">

                    <label class="control-label">Manufacturer Site Name</label>
                    <dx-text-box formControlName="name">
                    </dx-text-box>

                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                    <label class="control-label">Country</label>

                    <dx-select-box [dataSource]="countries" valueExpr="id" displayExpr="name" placeholder="Select Country" (onSelectionChanged)="onCoutryCboSelect($event)" [searchEnabled]="true" formControlName="country_id">
                    </dx-select-box>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                    <label for="ti" class="control-label">Region/City</label>

                    <dx-select-box [dataSource]="regions" valueExpr="id" displayExpr="name" (onSelectionChanged)="onRegionsCboSelect($event)" [searchEnabled]="true" formControlName="region_id">
                    </dx-select-box>

                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                    <label for="ti" class="control-label">District(Optional)</label>

                    <dx-select-box [dataSource]="districts" valueExpr="id" placeholder="Select District" displayExpr="name" [searchEnabled]="true" formControlName="district_id">
                    </dx-select-box>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                    <label for="ti" class="control-label">Email Address</label>
                    <dx-text-box formControlName="email_address" placeholder="Email Address">
                    </dx-text-box>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                    <label for="ti" class="control-label">Postal Address</label>
                    <dx-text-box formControlName="postal_address" placeholder="Postal Address">
                    </dx-text-box>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                    <label for="ti" class="control-label">Telephone No</label>

                    <dx-text-box formControlName="telephone_no" placeholder="Telephone No">
                    </dx-text-box>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                    <label class="control-label col-lg-12">Mobile No</label>

                    <dx-text-box formControlName="mobile_no" placeholder="Mobile No">
                    </dx-text-box>
                </div>
                <div class="col-lg-12">
                  <label class="control-label">Physical Address</label>

                  <dx-text-area [height]="60" formControlName="physical_address" placeholder="Physical Address">
                  </dx-text-area>
              </div>
                <div class="col-lg-12 btn-margin-5">
                    <br />
                    <button type="submit" (submit)="onAddManufacturerDetails()" [disabled]="!manufacturerFrm.valid" class="btn btn-primary"><i
                      class="fa fa-user"></i> Save Manufacturer</button>
                </div>
            </div>
        </form>
    </div>
  </dx-scroll-view>
</div>
</dx-popup>

<dx-popup class="popup"  [width]="funcpopWidth(40)" [height]="400" [showTitle]="true" title="Add Details" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="addproductCommonNameModal">

  <div *dxTemplate="let data of 'content'" >
        <form [formGroup]="addProductParamsdetailsfrm" class="col-lg-12  div-nopadding" style="background: #fff;" enctype="multipart/form-data" role="form" (ngSubmit)="onSaveNewGenericDetails()">
            <div class="col-lg-12">
              <label class="control-label">Name</label>
              <dx-text-box formControlName="name" placeholder="name" [showClearButton]="true">
              </dx-text-box>
            </div>
            <div class="col-lg-12">
              <label class="control-label">Description</label>
              <dx-text-area formControlName="description" placeholder="description" >
              </dx-text-area>
            </div>
            <input type='hidden' value='{{section_id}}' formControlName="section_id"/>
            <input type='hidden' value = 'par_common_names' formControlName="tablename"/>

            <div class="col-lg-12">
                <dx-button
                    text="Save Details"
                    type="success"
                    icon="fa fa-plus"
                    [elementAttr]="{  class: 'pull-left' }"
                    (onClick)="onSaveNewGenericDetails()">
                </dx-button>
              </div>
          </form>
  </div>
</dx-popup>