<div class="col-xl-12">
  <div class="breadcrumb-holder">
      <h1 class="main-title float-left">Promotional & Advertisements Registration</h1>
      <ol class="breadcrumb float-right">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active">Dashboard</li>
        <li class="breadcrumb-item active"> {{process_title}}</li>
      </ol>
      <div class="clearfix"></div>
  </div>
</div>

<div style="background: #fff; font-weight: bold;padding:5px;margin-bottom: 5px !important; height: 55px !important;">
  <div class="row">
    <div class="col-lg-3">
      <label style="font-weight: bold;margin: 5px; font-style:italics;font-size: 15px;font-style: italics; color: green;">
          Tracking No: <i> {{tracking_no}}</i> </label>
    </div>
    <div class="col-lg-4">
      <label style="font-weight: bold;margin: 5px; font-style:italics;font-size: 15px;font-style: italics;color: green;">Application
          Status:<i> {{status_name}}</i> </label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 div-nopadding">
        <!--Details -->
    <div *ngIf="status_id == 8 || status_id == 6   || status_id == 14">
      <wizard  navBarLayout ="large-filled-symbols" [navigationMode]='strict' style="background: #fff !important; height: 100% !important;">
        <wizard-step stepTitle=" Application Queries"  navigationSymbol="Step 1"  navigationSymbol="Queries"  class="wizardStep-height">
          <div class="col-lg-12 wizard-content">
            <dx-data-grid class="table row-border hover row"  
              [columnHidingEnabled]="false" [dataSource]="applicationPreckingQueriesData"
              [showBorders]="true">
              <dxo-filter-row [visible]="false"></dxo-filter-row>
              <dxo-load-panel [enabled]="true">
              </dxo-load-panel>
              <dxo-paging [enabled]="true">
              </dxo-paging>
              <dxo-selection mode="single"></dxo-selection>
              <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20]"  [showNavigationButtons]="true" [showInfo]="true"
                infoText="Page #{0}. Total: {1} ({2} items)">
              </dxo-pager>
              <dxo-search-panel  
                [visible]="true">
              </dxo-search-panel>
              <dxo-export [enabled]="true" fileName="Query Details" 
                [allowExportSelectedData]="true">
              </dxo-export>
              <dxi-column [width]="150" caption="Action" name="command-editing" 
                [allowFiltering]="false" [allowSorting]="false"
                cellTemplate="cellTemplate">
                <div *dxTemplate="let data of 'cellTemplate'">
                  <dx-button text="Query Response" 
                    (click)="funcInitQueryResponse(data)"
                    type="success" icon="edit" [elementAttr]="{ class: 'btn btn-primary' }">
                  </dx-button>
                    <a (click)="funcDownloadQueryLetter(data)" 
                      class="action-btn"><i class="fa fa-download"></i>DownLoad Query Letter
                    </a>&nbsp;
                </div>
              </dxi-column>
              <dxi-column   [width] = 120 caption="Queried On" 
                dataField="added_on">
              </dxi-column>
              <dxi-column name="command-editing"  
                caption="Query Details" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate1">
                <div *dxTemplate="let data of 'cellTemplate1'">
                  <div [innerHTML]="data.data.queries_remarks"></div>
                </div>
              </dxi-column>
              <dxi-column name="command-editing"  caption="Query Response" 
                [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate2">
                <div *dxTemplate="let data of 'cellTemplate2'">
                  <div [innerHTML]="data.data.response_txt"></div>
                </div>
              </dxi-column>
            </dx-data-grid>
          </div>
          <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
            <button (click)="onApplicationDashboard()" 
              class="btn btn-primary pull-left" style="margin:5px;" type="button"><i
              class="fa fa-dashboard"></i>
              &nbsp; Dashboard
            </button>
            <button type="button" class="btn btn-primary" 
              (click)="funcValidateApplicationQueryresponse(1)" >Next(Query Responses) &nbsp;<i class="fa fa-angle-double-right"></i>
            </button>
          </div>
        </wizard-step>
        <wizard-step stepTitle="Supporting Documents"  navigationSymbol="Step 2"  class="wizardStep-height">
          <div class="row wizard-content">
            <app-application-documents [section_id] ="section_id"  
              [module_id] ="module_id" [status_id] ="status_id" [sub_module_id] ="sub_module_id" [application_code] ="application_code">
            </app-application-documents>
          </div>
          <div class="wizard-divbottom">
            <button type="button" class="btn btn-primary" previousStep>
              <i class="fa fa-angle-double-left"></i>Previous
            </button>
            
            <button type="button" class="btn btn-primary" 
             nextStep>Next
                  Application Submission<i class="fa fa-angle-double-right"></i>
            </button>
          </div>
        </wizard-step>
        <wizard-step stepTitle="Query Response Submission"  navigationSymbol="Submission"  >

          <div class="col-lg-12">
            <dx-check-box text="Agree to the Terms & Conditions" 
              [value]="undefined" (onValueChanged)="newProductTermscheckbox($event)">
            </dx-check-box>  
          </div>
          <div class="wizard-divbottom">
            <button class="btn btn-primary" type="button" 
              previousStep>Previous Step
            </button>
            <button class="btn btn-primary" type="button" 
              [disabled]="!checkProductsSubmission" (click)="onProductApplicationSubmit()">Submit Application
            </button>
          </div>
        </wizard-step>
      </wizard>
    </div>
    <div *ngIf="status_id !== 8 && status_id !== 6   && status_id !== 14">
      <wizard  navBarLayout ="large-filled-symbols" style="background: #fff !important; height: 100% !important;">
      
        <wizard-step stepTitle="Promotional Materials Application Details"  navigationSymbol="Step 1" 
          class="wizardStep-height">
          <app-promotional-general-info 
          [promotionalappGeneraldetailsfrm]="promotionalappGeneraldetailsfrm" 
          [section_id] ="section_id"  
          [module_id] ="module_id" 
          [status_id] ="status_id" 
          [sub_module_id] ="sub_module_id" 
          [application_code] ="application_code">
            
          </app-promotional-general-info>

          <div class="col-lg-12 div-footer">
            <dx-button
                  text="Save and Next"
                  type="default"
                  icon="fa fa-save"
                  [elementAttr]="{ id: 'elementId', class: 'pull-right' }"
                  (onClick)="onSavePromotionalApplication()">
              </dx-button>
              
              <dx-button
                  text="Dashboard"
                  type="success"
                  icon="fa fa-eraser"
                  [elementAttr]="{  class: 'pull-left' }"
                  (onClick)="onApplicationDashboard()">
              </dx-button>
            
          </div>
        </wizard-step>
        <wizard-step stepTitle="Product Particulars"  navigationSymbol="Step 2" 
          class="wizardStep-height navigable" navigationSymbol="Step 2" >
          <app-promotional-products-particulars 
          [promProductParticularsData]="promProductParticularsData" 
          [promotionalProductparticularsfrm] ="promotionalProductparticularsfrm"   
          [application_id] ="application_id"  
          [application_code] ="application_code"  
          [section_id] ="section_id" 
          [isRegisteredProductsWinshow] ="isRegisteredProductsWinshow" 
          [registeredProductsData] ="registeredProductsData">
            
          </app-promotional-products-particulars>

          <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
            <button type="button" class="btn btn-primary" 
              previousStep>&nbsp;<i class="fa fa-angle-double-left"></i>Previous
            </button>
            <button type="button" class="btn btn-primary" 
              nextStep>Next &nbsp;<i class="fa fa-angle-double-right"></i>
            </button>
          </div>
        </wizard-step>
        <wizard-step stepTitle="Supporting Documents" navigationSymbol="Step 3"  class="wizardStep-height">
          <div class="row wizard-content">
            <app-application-documents 
            [section_id] ="section_id"  
              [module_id] ="module_id" 
              [status_id] ="status_id" 
              [sub_module_id] ="sub_module_id" 
              [application_code] ="application_code">
            </app-application-documents>
          </div>
          <div class="wizard-divbottom">
            <button type="button" class="btn btn-primary" previousStep>
              <i class="fa fa-angle-double-left"></i>Previous
            </button>
            
            <button type="button" class="btn btn-primary" 
              (click)="funcValidateDocumentsUpload(4+initWizardPanel)" nextStep>Next
                  Application Submission<i class="fa fa-angle-double-right"></i>
            </button>
          </div>
        </wizard-step>

        <wizard-step navigationSymbol="Final" stepTitle="Submission">
            <!-- -->
          <form [formGroup]="onApplicationSubmissionFrm" 
            class="col-lg-12 row div-nopadding" style="background: #fff;" enctype="multipart/form-data" role="form" (ngSubmit)="onProductApplicationSubmit()">
            <div class="col-lg-12">
              <b><label>Declaration and Disclaimer</label></b>
              <ul>
                <li *ngFor="let guide of terms_conditions;">
                  <p>{{guide.no}} {{guide.term_conditiondetails}}</p>
                </li>
              </ul>
            </div>
            <div class="col-lg-12">
              <dx-check-box text="Agree to the Declaration" [value]="undefined" 
                (onValueChanged)="newProductTermscheckbox($event)">
              </dx-check-box>
            </div>
            <div class="wizard-divbottom">
              <button class="btn btn-primary" type="button" 
                previousStep>
                Previous Step
              </button>
              <app-invoice-appgeneration  [onApplicationSubmissionFrm] ="onApplicationSubmissionFrm" [module_id] ="module_id"  [status_id] ="status_id" [application_code]="application_code" ></app-invoice-appgeneration>

              <button class="btn btn-primary" type="button" 
                [disabled]="!checkProductsSubmission" (click)="onProductApplicationSubmit()">Submit Application
              </button>
            </div>
          </form>
              <!---->
        </wizard-step>
      </wizard>
    </div>
  </div>
</div>



<dx-popup class="popup" [width]="1000" [height]="'auto'" 
  [showTitle]="true" title="Promotional Application: Promotional Materials"
  [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isPromotionalMaterialswinshow">
  <div *dxTemplate="let data of 'content'">
    <form enctype="multipart/form-data" role="form" 
      [formGroup]="promotionalMaterialsfrm"
      (ngSubmit)="onSavepromotionalMaterialsDetails()">
      <div class="col-lg-12 row">
        <div class="col-lg-4">
          <label class="control-label">Promotional Materials </label>
          <dx-select-box [dataSource]="promotionalMaterialData" 
            valueExpr="id" displayExpr="name" [searchEnabled]="true"
            placeholder=" Promotional Material"
            formControlName="material_id">
          </dx-select-box>
        </div>
        <div class="col-lg-8">
          <label class="control-label">Other Details</label>
          <dx-text-area formControlName="remarks" placeholder="Remarks" >
          </dx-text-area>
          <input type="hidden" formControlName="application_id" />
          <input type="hidden"   formControlName="id" />
        </div>
        <div class="col-lg-12 btn-margin-5">
            <br/>
          <button type="submit" (submit)="onSavepromotionalMaterialsDetails()" 
            [disabled]="!promotionalMaterialsfrm.valid"
            class="btn btn-primary"><i class="fa fa-user"></i> Save Promotion Materials
          </button>
        </div>
      </div>
    </form>
  </div>
</dx-popup>
<dx-popup class="popup" [width]="1050" [height]="450" 
  [showTitle]="true" title="Registered Product Applications" [dragEnabled]="false"
  [closeOnOutsideClick]="false" [(visible)]="isRegisteredProductsWinshow">
  <div *dxTemplate="let data of 'content'" class="row">
    <dx-data-grid class="table row-border hover" [remoteOperations]='true' 
      [dataSource]="registeredProductsData" keyExpr="id" >
        <dxo-filter-row [visible]="false"></dxo-filter-row>
        <dxo-search-panel [visible]="true">
        </dxo-search-panel>
        <dxo-paging [enabled]="true">
        </dxo-paging>
        <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
        </dxo-pager>
        <dxo-export [enabled]="true" fileName="registeredProducts" 
          [allowExportSelectedData]="true"></dxo-export>
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column dataField="brand_name"></dxi-column>
        <dxi-column dataField="common_name"></dxi-column>
        <dxi-column dataField="classification_name"></dxi-column>
        <dxi-column dataField="certificate_no"></dxi-column>
        <dxi-column dataField="expiry_date"></dxi-column>
        <dxi-column dataField="applicant_name" caption="Registrant"></dxi-column>
        <dxi-column dataField="local_agent"></dxi-column>
        <dxi-column caption="Actions" name="command-editing" 
          [allowFiltering]="false" [allowSorting]="false"
          cellTemplate="cellTemplate">
          <div *dxTemplate="let data of 'cellTemplate'">
            <a (click)="funSelectRegisteredProdcustsApp(data)"><i class="fa fa-edit"></i>Select</a>&nbsp;
          </div>
        </dxi-column>
        <dxo-paging [pageSize]="50"></dxo-paging>
    </dx-data-grid>

  </div>
</dx-popup>


<dx-popup  class="popup" [width]="funcpopWidth(80)"  [height]="850" 
  [showTitle]="true" title="Application Registration Query Response"
  [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isInitalQueryResponseFrmVisible">
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view>
      <wizard navBarLayout ="large-filled-symbols"  [navigationMode]='strict' style="background: #fff !important; height: 100% !important;">
        <wizard-step stepTitle="Product Application Queries" navigationSymbol="Step 1" 
          class="wizardStep-height">
          <div class="col-lg-12 wizard-content">
            <form role="form" class="row" style="background:#fff;" 
              enctype="multipart/form-data" role="form" 
              [formGroup]="initqueryresponsefrm"
              (ngSubmit)="onSaveinitqueryresponse()">
              <div class="col-lg-12">
                <label>Query</label>
                <dx-html-editor [height]="200" readOnly ="true"  
                  formControlName="queries_remarks"  placeholder="Query">
                  <dxo-toolbar>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="size" [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"></dxi-item>
                    <dxi-item formatName="font" [formatValues]="['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana']"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="bold"></dxi-item>
                    <dxi-item formatName="italic"></dxi-item>
                    <dxi-item formatName="header" [formatValues]="[false, 1, 2, 3, 4, 5]"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="orderedList"></dxi-item>
                    <dxi-item formatName="bulletList"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="color"></dxi-item>
                    <dxi-item formatName="link"></dxi-item>
                    <dxi-item formatName="image"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="clear"></dxi-item>
                  </dxo-toolbar>
                  <dxo-media-resizing
                      [enabled]=true>
                  </dxo-media-resizing>
                </dx-html-editor>
              </div>
              <div class="col-lg-12">
                <label>Query Response</label>
                <dx-html-editor [height]="200" 
                  formControlName="response_txt"   placeholder="Query Response">
                  <dxo-toolbar>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="size" [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"></dxi-item>
                    <dxi-item formatName="font" [formatValues]="['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana']"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="bold"></dxi-item>
                    <dxi-item formatName="italic"></dxi-item>
                    <dxi-item formatName="header" [formatValues]="[false, 1, 2, 3, 4, 5]"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="orderedList"></dxi-item>
                    <dxi-item formatName="bulletList"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="color"></dxi-item>
                    <dxi-item formatName="link"></dxi-item>
                    <dxi-item formatName="image"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="clear"></dxi-item>
                  </dxo-toolbar>
                  <dxo-media-resizing
                      [enabled]=true>
                  </dxo-media-resizing>
                </dx-html-editor>
              </div>
              <input type="hidden" formControlName="id"/>
              <input type="hidden" formControlName="query_id"/>
            </form>
            <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
              <button type="button"  [disabled]="!query_id"  
                class="btn btn-primary  pull-right" nextStep>Next(Query Responses) &nbsp;<i class="fa fa-angle-double-right"></i>
              </button>
              <dx-button text="Save Response" 
                [disabled]="!initqueryresponsefrm.valid" (onClick)="onSaveinitqueryresponse()"
                type="success" icon="save" [elementAttr]="{ class: 'btn btn-primary; pull-right' }">
              </dx-button>
              <dx-button text="Download Query Letter" 
                (onClick)="funcDownloadUploadedDoc()" type="success" icon="download" [elementAttr]="{ class:'btn btn-primary; pull-right'}">
              </dx-button>
            </div>
          </div>
        </wizard-step>
        <wizard-step stepTitle="Promotional Materials Application Details"   navigationSymbol="Step 2" 
          class="wizardStep-height">
          <app-promotional-general-info 
            [promotionalappGeneraldetailsfrm]="promotionalappGeneraldetailsfrm" 
            [section_id] ="section_id"  
            [module_id] ="module_id" 
            [status_id] ="status_id" 
            [sub_module_id] ="sub_module_id" 
            [application_code] ="application_code">
          </app-promotional-general-info>
          <div class="col-lg-12 div-footer">
              <button  (onClick)="onSavePromotionalApplication()" awNextStep 
                class="btn btn-primary  pull-right" style="margin:5px;"><i class="fa fa-save"></i>&nbsp;Save product
                Application
              </button>
              <button (click)="closeQueryResponseWin()" 
                class="btn btn-primary pull-left" style="margin:5px;" 
                type="button"><i
                class="fa fa-dashboard"></i>
                &nbsp; Back to Queries
              </button>
            </div>
        </wizard-step>
        <wizard-step stepTitle="Product Particulars"  navigationSymbol="Step 3" 
          class="wizardStep-height navigable" navigationSymbol="Step 2" >
          <app-promotional-products-particulars [promProductParticularsData]="promProductParticularsData" [promotionalProductparticularsfrm] ="promotionalProductparticularsfrm"   [section_id] ="section_id" [isRegisteredProductsWinshow] ="isRegisteredProductsWinshow" [registeredProductsData] ="registeredProductsData"></app-promotional-products-particulars>
          <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
            <button type="button" class="btn btn-primary" 
              previousStep>&nbsp;<i class="fa fa-angle-double-left"></i>Previous
            </button>
            <button type="button" class="btn btn-primary" 
              (click)="funcValidateProdPartcularsDetails(2+initWizardPanel)">Next &nbsp;<i class="fa fa-angle-double-right"></i>
            </button>
          </div>
        </wizard-step>
      
        <wizard-step stepTitle="Documents" class="wizardStep-height"  navigationSymbol="Step 4" >
          <div class="row wizard-content">
            <app-application-documents [section_id] ="section_id"  
              [module_id] ="module_id" [status_id] ="status_id" [sub_module_id] ="sub_module_id" [application_code] ="application_code">
            </app-application-documents>
          </div>
          <div class="wizard-divbottom">
            <button type="button" class="btn btn-primary" 
              previousStep><i class="fa fa-angle-double-left"></i>Previous
            </button>
            <button type="button" class="btn btn-primary" 
              click="closeQueryResponseWin">Close Query respsonse<i class="fa fa-angle-double-right"></i>
            </button>
          </div>
        </wizard-step>
      </wizard>
    </dx-scroll-view>
  </div>
</dx-popup>
<dx-popup class="popup"  [width]="funcpopWidth(80)" [height]="700" 
  [showTitle]="true" title="{{printReportTitle}}"
  [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="isPrintReportVisible">
  <div *dxTemplate="let data of 'content'">
    <div class="col-lg-12 row" [innerHTML]="printiframeUrl | safe: 'html'"></div>
  </div>
</dx-popup>
