
              <form role="form" enctype="multipart/form-data" role="form" [formGroup]="productGeneraldetailsfrm">
                <div class="row wizard-content">
                  <div class="col-lg-4">
                    <label>Product Type</label>
              
                      <dx-select-box [readOnly]="true" [dataSource]="sectionsData" valueExpr="id" displayExpr="name" placeholder="Select Product Type"  [searchEnabled]="true" formControlName="section_id">
                      </dx-select-box>
                  </div>
                  <div class="col-lg-4">
                    <label>Assessment Procedure</label>
      
                    <dx-select-box [dataSource]="assessmentProcedureData" valueExpr="id" displayExpr="name" [searchEnabled]="true"
                      placeholder="Select Assessment Procedure" formControlName="assessment_procedure_id">
                    </dx-select-box>
                  </div>
                  <div class="col-lg-8" *ngIf="hasCountriesSelection">
                    <label class="control-label">Countries Selection(Submit for Registration) </label>
                    <dx-tag-box
                        [items]="prodAssessmentCountriesDta"
                        formControlName="prodassessment_countries_ids"
                        placeholder="Countries Selection(Submit for Registration)"
                        valueExpr="id" [readOnly]="is_readonly" 
                        [showSelectionControls]="true"
                        applyValueMode="useButtons"
                        displayExpr="name">
                    </dx-tag-box>
            
                </div>
                  <div class="col-lg-4">
                    <label class="control-label">Brand Name/Device Name</label>
                    <dx-text-box (onFocusOut) ="onValidateBrandNameDetails($event)" formControlName="brand_name" [readOnly]= "isReadOnly" placeholder="Enter Brand Name" [showClearButton]="true">
                    </dx-text-box>
                  </div>
                  <div class="col-lg-4 ">
                    <label for="ti" class="control-label">Classification</label>
      
                    <dx-select-box [dataSource]="classificationData" [readOnly]= "isReadOnly" valueExpr="id" displayExpr="name" [searchEnabled]="true"
                      placeholder="Select Classification" formControlName="classification_id">
                    </dx-select-box>
                  </div>
                 
                  <div class="col-lg-4 input-group">
                    <div class="col-lg-10">
                     <label for="ti" class="control-label">Generic Name(Optional)</label>
          
                     <dx-select-box [dataSource]="commonNamesData"   [readOnly]= "isReadOnly"  valueExpr="id" displayExpr="name" [searchEnabled]="true"
                       placeholder="Select Common name"   formControlName="common_name_id">
                     </dx-select-box>
                    </div>
          
                     <div class="col-lg-2">
                       <dx-button
                           text="Add "
                           type="success"
                           icon="fa fa-plus"
                           [elementAttr]="{  class: 'pull-left' }"
                           (onClick)="onAddNewCommonNameDetails()">
                       </dx-button>
                     </div>
                   </div>
                  <div class="col-lg-4">
                    <label class="control-label">Product Category</label>
      
                    <dx-select-box [dataSource]="productCategoryData" valueExpr="id" displayExpr="name" [searchEnabled]="true"
                      placeholder=" Product Category"
                      formControlName="product_category_id">
                    </dx-select-box>
                  </div>
                  <div class="col-lg-4">
                    <label class="control-label">Distribution Category</label>
      
                    <dx-select-box [dataSource]="distributionCategoryData" [readOnly]= "isReadOnly" valueExpr="id" displayExpr="name" [searchEnabled]="true"
                      placeholder="Strength Distribution Category" formControlName="distribution_category_id">
                    </dx-select-box>
                  </div>
                  <div class="col-lg-4">
                    <label class="control-label">Storage Conditions</label>
      
                    <dx-select-box [dataSource]="storageConditionData" valueExpr="id" displayExpr="name" [searchEnabled]="true"
                      placeholder="Strength  Storage Conditions" formControlName="storage_condition_id">
                    </dx-select-box>
                  </div>
                  <div class="col-lg-4">
                    <label class="control-label">Product Forms</label>
      
                    <dx-select-box [dataSource]="productFormData" [readOnly]= "isReadOnly" valueExpr="id" displayExpr="name" [searchEnabled]="true"
                      placeholder="  Product Form" formControlName="product_form_id">
                    </dx-select-box>
                  </div>
                  <div class="col-lg-8">
                      <label class="control-label">Intended Use</label>
                      <dx-text-box formControlName="intended_use" placeholder="Enter Intended Use"  [readOnly]= "isReadOnly" [showClearButton]="true">
                      </dx-text-box>
                    </div>
                  <div class="col-lg-4">
                    <label class="control-label">Risk category (If applicable) </label>
                    <dx-select-box [dataSource]="riskCategoriesData" valueExpr="id" displayExpr="name" [searchEnabled]="true"
                      placeholder="Risk category (If applicable) " formControlName="productrisk_category_id">
                    </dx-select-box>
                  </div>
                
                 <div class="col-lg-4 row" style="margin-left:3px;">
                    <label class="control-label col-lg-12">Proposed Shelf Life</label>
      
                    <dx-number-box class="col-lg-6" formControlName="shelf_life" placeholder="shelf_life" [showClearButton]="true">
                    </dx-number-box>
                    <dx-select-box class="col-lg-4" [dataSource]="durationDescData"  valueExpr="id" displayExpr="name"
                    placeholder="Duration Description" [searchEnabled]="true"
                    formControlName="shelflifeduration_desc">
                  </dx-select-box>
                  </div>
                  <div class="col-lg-4 row" style="margin-left:3px;">
                    <label class="control-label  col-lg-12">Proposed Shelf Life After Opening</label>
      
                    <dx-number-box class="col-lg-6" formControlName="shelf_lifeafter_opening" placeholder="shelf_lifeafter_opening"
                      [showClearButton]="true">
                    </dx-number-box>
                    <dx-select-box class="col-lg-4" [dataSource]="durationDescData"  valueExpr="id" displayExpr="name"
                        placeholder="Duration Description" [searchEnabled]="true"
                        formControlName="shelflifeafteropeningduration_desc">
                      </dx-select-box>
                  </div>

                  
                  <div class="col-lg-4">
                      <label class="control-label">Product Manufacturing Country</label>
        
                      <dx-select-box [dataSource]="countriesData"  valueExpr="id" displayExpr="name" [searchEnabled]="true"
                        placeholder="Product Manufacturing Country" (onSelectionChanged)="onManufacturingCountryChange($event)" formControlName="manufacturing_country_id">
                      </dx-select-box>
                  </div>
                  <div class="col-lg-4">
                      <label class="control-label">Product Origin</label>
        
                      <dx-select-box [dataSource]="productTypeData"  valueExpr="id" displayExpr="name" [searchEnabled]="true" [readOnly]="readOnlyOrigin" 
                        placeholder="Product Origin" formControlName="product_origin_id">
                      </dx-select-box>
                  </div>
                  <div class="col-lg-4">
                    <label class="control-label">Product Physical Description(Description of Finished Product Specification)</label>
      
                    <dx-text-area [height]="60" formControlName="physical_description" [readOnly]= "isReadOnly" placeholder="Physical description"
                      >
                    </dx-text-area>
                  </div>
                 
                  
                  <div class="col-lg-4 input-group">
                    <div class="col-lg-10">
                      <label class="control-label">Local Technical Representative</label>
                      <dx-text-box  formControlName="local_agent_name" 
                       readOnly=true [showClearButton]="true">
                      </dx-text-box>
                      <input type="hidden" name="local_agent_id" formControlName="local_agent_id" />
                    </div>
                    <div class="col-lg-2">
      
                      <button type="button" (click)="funcSearchRegistrantDetails(1)" [disabled]="isReadOnlyTraderasLtr"
                        class="btn btn-primary  pull-right" style="margin-top:25px  !important;"><i class="fa fa-search"></i>Search
                        Local Technical Representative</button>
                    </div>
                  </div>
                  
                  <div class="col-lg-4">
                  
                    <input type="hidden" name="sub_module_id" formControlName="sub_module_id" />
                    <input type="hidden" name="product_id" value={{product_id}} formControlName="product_id" />
                    <input type="hidden" name="reg_product_id" value={{reg_product_id}} formControlName="reg_product_id" />
                    <input type="hidden" name="prodclass_category_id"  formControlName="prodclass_category_id" />

                    <input type="hidden" name="tra_product_id" value={{tra_product_id}} formControlName="tra_product_id" />
                    <dx-select-box [dataSource]="confirmDataParam" hidden="true" readOnly=true (onValueChanged)="onTraderasLocalAgentChange($event)" valueExpr="id" displayExpr="name" [searchEnabled]="true"
                     placeholder="Trader as Local Agent" formControlName="trader_aslocal_agent">
                    </dx-select-box>
                    </div>
                    <dx-select-box [dataSource]="zonesData" [hidden]=true valueExpr="id" displayExpr="name" [searchEnabled]="true"
                    placeholder="Select Cerificate Issue Place" formControlName="zone_id">
                  </dx-select-box>
                    <div class="col-lg-4"  *ngIf="sub_module_id === 17">
                        <input type="hidden" value="1" name="withdrawal_type_id" formControlName="withdrawal_type_id" />
                    
                      
                  </div>
                </div>
              </form>

              
<!-- Registrant Details -->
<dx-popup class="popup" [width]="funcpopWidth(80)" [height]="500" [showTitle]="true" title="{{trader_title}}"
[dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="isRegistrantDetailsWinshow">
<div *dxTemplate="let data of 'content'">

  <dx-data-grid class="table row-border hover"  [height]="450"   [remoteOperations]='true'  [dataSource]="traderAccountsDetailsData" keyExpr="id">
    <dxo-filter-row [visible]="false"></dxo-filter-row>
    <dxo-search-panel [visible]="true">
    </dxo-search-panel>
    <dxo-paging [enabled]="true">
    </dxo-paging>
    <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
    </dxo-pager>
    <dxo-export [enabled]="true" fileName="traderFile" [allowExportSelectedData]="true"></dxo-export>

    <dxo-selection mode="multiple"></dxo-selection>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxi-column [width]="100" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
      cellTemplate="cellTemplate">
      <div *dxTemplate="let data of 'cellTemplate'">
        <dx-button
            text="Select LTR"
            type="success"
            icon="fa fa-plus"
            [elementAttr]="{  class: 'pull-left' }"
            (onClick)="funcSelectTraderDetails(data)">
        </dx-button>
      </div>
    </dxi-column>
    <dxi-column dataField="trader_no"></dxi-column>
    <dxi-column dataField="trader_name"></dxi-column>
    <dxi-column dataField="country"></dxi-column>
    <dxi-column dataField="region"></dxi-column>
    <dxi-column dataField="physical_address"></dxi-column>
    <dxi-column dataField="postal_address"></dxi-column>
    <dxi-column dataField="email_address"></dxi-column>

  </dx-data-grid>
</div>
</dx-popup>
<dx-popup class="popup"  [width]="funcpopWidth(30)" [height]="450" [showTitle]="true" title="Generic Name Details" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="addproductGenericNamesModal">
  
  <div *dxTemplate="let data of 'content'" >
        <form [formGroup]="addproductGenericNamesFrm" class="col-lg-12  div-nopadding" style="background: #fff;" enctype="multipart/form-data" role="form" (ngSubmit)="onSaveNewGenericName()">
            <div class="col-lg-12">
              <label class="control-label">Generic Name</label>
              <dx-text-box formControlName="name" placeholder="name" [showClearButton]="true">
              </dx-text-box>
            </div>
            <div class="col-lg-12">
              <label class="control-label">Description</label>
              <dx-text-area formControlName="description" placeholder="description" >
              </dx-text-area>
            </div>
            <input type='hidden' value='{{section_id}}' formControlName="section_id"/>
            <input type='hidden' value = 'par_common_names' formControlName="tablename"/>

            <div class="col-lg-12">
                <dx-button
                    text="Add Generic Name"
                    type="success"
                    icon="fa fa-plus"
                    [elementAttr]="{  class: 'pull-left' }"
                    (onClick)="onSaveNewGenericName()">
                </dx-button>
              </div>
          </form>
  </div>
</dx-popup>