<form role="form" enctype="multipart/form-data" role="form" [formGroup]="clinicaltrialDescriptionGeneraldetailsfrm">

<div class="row wizard-content">
<fieldset class="col-lg-12 row">
  <legend  class="contentfieldset">Outcomes Measurements and Analysis</legend>
    <div class=" col-lg-12">
      <label class="control-label">Primary End Points</label>
  
     <textarea  (input)="adjustTextAreaHeight($event)"formControlName="primary_endpoints"  placeholder="Primary End Points" class="custom-textarea">
      </textarea>
    </div>
        <div class=" col-lg-12" >
      <label class="control-label">Secondary End Points</label>
  
      <textarea  (input)="adjustTextAreaHeight($event)"  formControlName="secondary_endpoints"  placeholder="Secondary End Points" class="custom-textarea">
      </textarea>
    </div>
    <div class=" col-lg-12" >
      <label class="control-label">Exploratory/Tertiary End Points</label>
  
      <textarea  (input)="adjustTextAreaHeight($event)"  formControlName="tertiary_endpoints"  placeholder="Exploratory/Tertiary End Points" class="custom-textarea">
      </textarea>
    </div>    
  </fieldset>
  <fieldset class="col-lg-12 row">
    <legend  class="contentfieldset">Statistical measures</legend>
    <div class="col-lg-12">
      <label class="col-lg-12">Sample size, Trial power and Level of significance used</label>
        <textarea (input)="adjustTextAreaHeight($event)" formControlName="sample_size" 
        class="custom-textarea"
        ></textarea>
    </div>
    <div class="col-lg-12">
      <label class="col-lg-12">Planned analyses</label>
        <textarea  (input)="adjustTextAreaHeight($event)" formControlName="planned_analyses" class="custom-textarea" >
        </textarea>
    </div>
    <div class="col-lg-12">
      <label class="col-lg-12">Analysis sets</label>
      <textarea  (input)="adjustTextAreaHeight($event)" formControlName="analysis_sets" class="custom-textarea" >
      </textarea>
    </div>
  </fieldset>
  <fieldset class="col-lg-12 row">
  <legend  class="contentfieldset">Participants Eligibility</legend>
  <div class="col-lg-12">
        <label class="col-lg-12">Inclusion Criteria</label>
        <textarea  (input)="adjustTextAreaHeight($event)" formControlName="inclusion_criteria"   placeholder=" Inclusion Criteria" class="custom-textarea" >
        </textarea>
    </div>
    <div class="col-lg-12">
      <label class="col-lg-12">Exclusion Criteria</label>
      <textarea  (input)="adjustTextAreaHeight($event)" formControlName="exclusion_criteria"   placeholder="Exclusion Criteria" class="custom-textarea" >
      </textarea>
    </div>
</fieldset>

  <div class="col-lg-4 form-group" style="margin:1px;">

  </div>
  <div class="col-lg-12">
    <input type="hidden" value={{sub_module_id}} formControlName="sub_module_id" />
    <input type="hidden" value="{{module_id}}" formControlName="appmodule_id" />
    <input type="hidden" value={{application_code}} formControlName="application_code" />
    <input type="hidden" value={{section_id}} formControlName="section_id" />
    
    <input type="hidden" value={{reg_clinical_trial_id}} formControlName="reg_clinical_trial_id" />
    
  </div>
</div> 
</form>
