<div class="col-xl-12">
    <div class="breadcrumb-holder">
      <h1 class="main-title float-left">Product Registration</h1>
      <ol class="breadcrumb float-right">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active">Dashboard</li>
        <li class="breadcrumb-item active"> {{process_title}}</li>
  
      </ol>
      <div class="clearfix"></div>
    </div>
  </div>
  
  <div style="background: #fff; font-weight: bold;padding:5px;margin-bottom: 5px !important; height: 55px !important;">
    <div class="row">
      <div class="col-lg-3">
        <label style="font-weight: bold;margin: 5px; font-style:italics;font-size: 15px;font-style: italics; color: green;">
          Tracking No: <i> {{tracking_no}}</i> </label>
      </div>
      <div class="col-lg-2">
        <label style="font-weight: bold;margin: 5px; font-style:italics;font-size: 15px;font-style: italics;color: green;">Application
          Status:<i> {{status_name}}</i> </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12  div-nopadding">
        <div *ngIf="status_id == 7">
       
            <wizard [navigationMode]='strict' style="background: #fff !important; height: 100% !important;">
              
                <wizard-step stepTitle="Product Application Queries" class="wizardStep-height">
          
                    <div class="col-lg-12 wizard-content">
                          
                        <dx-data-grid class="table row-border hover row" [columnHidingEnabled]="true" [dataSource]="applicationPreckingQueriesData" (onToolbarPreparing)="onAppQueryPreparing($event)"
                            [showBorders]="true">
                            <dxo-filter-row [visible]="false"></dxo-filter-row>
                            <dxo-load-panel [enabled]="true">
                            </dxo-load-panel>
                            <dxo-paging [enabled]="true">
                            </dxo-paging>
                            <dxo-selection mode="single"></dxo-selection>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20]" [showNavigationButtons]="true" [showInfo]="true"
                              infoText="Page #{0}. Total: {1} ({2} items)">
                            </dxo-pager>
                            <dxo-search-panel  [visible]="true" 
                              >
                            </dxo-search-panel>
                            <dxo-export [enabled]="true" fileName="Query Details" [allowExportSelectedData]="true"></dxo-export>
                              <dxi-column [width]="120" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
                              cellTemplate="cellTemplate">
                              <div *dxTemplate="let data of 'cellTemplate'">
                                <a (click)="funcInitQueryResponse(data)" class="action-btn"><i class="fa fa-edit"></i>Query Response</a>&nbsp;
                            </div>
                          </dxi-column>
                            <dxi-column   [width] = 120  dataField="added_on"></dxi-column>
                            
                            <dxi-column   [width] = 120  dataField="query_status"></dxi-column>
                            
                            <dxi-column   cssClass= 'WrappedColumnClass'  caption="Query Details"  dataField="queries_remarks" ></dxi-column>
                            <dxi-column  cssClass= 'WrappedColumnClass' caption="Query Response" dataField="response_txt" ></dxi-column>
                            <dxi-column   dataField="application_section"></dxi-column>
                          
                        </dx-data-grid>
                      </div>
                      <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
                          <button (click)="onProductDashboard()" class="btn btn-primary pull-left" style="margin:5px;" type="button"><i
                            class="fa fa-dashboard"></i>
                          &nbsp; Dashboard</button>
                          <button type="button" class="btn btn-primary" (click)="funcValidateApplicationQueryresponse(1)" >Next(Query Response Submission) &nbsp;<i class="fa fa-angle-double-right"></i></button>
                      </div>
                </wizard-step>
                <wizard-step stepTitle="Query Response Submission">
                    <div class="col-lg-12">
                        <b><h4>Declaration</h4></b>
                        <ul>
                            <li *ngFor="let guide of terms_conditions;">
                                <p>{{guide.no}} {{guide.term_conditiondetails}}</p>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-12">
                      <dx-check-box text="Agree to the Declaration" [value]="undefined" (onValueChanged)="newProductTermscheckbox($event)">
                      </dx-check-box>
                    </div>
            
                    <div class="wizard-divbottom">
                      <button class="btn btn-primary" type="button" previousStep>Previous Step</button>
                      <button class="btn btn-primary" type="button" (click)="onDrugsProductsApplicationPrint()">Print Products
                        Details
                        Application</button>
                      <button class="btn btn-primary" type="button" [disabled]="!checkProductsSubmission" (click)="onProductApplicationSubmit()">Submit
                        Product Application</button>
                    </div>
                  </wizard-step>
    
          </wizard>
    
        </div>
        <div *ngIf="status_id != 7">
            <wizard [navigationMode]='strict' style="background: #fff !important; height: 100% !important;">
       
                <wizard-step stepTitle="{{document_title}}" class="wizardStep-height">
                  <div class="row wizard-content">
                      <app-application-documents [section_id] ="section_id"  [module_id] ="module_id" [status_id] ="status_id" [sub_module_id] ="sub_module_id" [application_code] ="application_code"></app-application-documents>
                  </div>
                  <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
                      <dx-button
                            text="Dashboard"
                            type="success"
                            icon="fa fa-eraser"
                            [elementAttr]="{  class: 'pull-left' }"
                            (onClick)="onProductDashboard()">
                        </dx-button>
                      <button type="button" class="btn btn-primary" (click)="onSampleMoveNextWizard(1)">Next Sample Information &nbsp;<i class="fa fa-angle-double-right"></i></button>
                    </div>
              </wizard-step>  
                <wizard-step stepTitle="Sample Submission Details" class="wizardStep-height">
                  <div class="row wizard-content">
                    <dx-data-grid class="table row-border hover" (onToolbarPreparing)="onsampleSubmissionPreparing($event)"
                        [dataSource]="sampleSubmissionData" keyExpr="id">
                        <dxo-filter-row [visible]="false"></dxo-filter-row>
                        <dxo-search-panel [visible]="true">
                        </dxo-search-panel>
                        <dxo-paging [enabled]="true">
                        </dxo-paging>
                        <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
                        </dxo-pager>
                        <dxo-export [enabled]="true" fileName="SampleFIle" [allowExportSelectedData]="true"></dxo-export>
        
                        <dxo-selection mode="multiple"></dxo-selection>
                        <dxo-group-panel [visible]="true"></dxo-group-panel>
        
                        <dxi-column dataField="brand_name"></dxi-column>
                        <dxi-column dataField="batch_no"></dxi-column>
                        <dxi-column dataField="submission_date"></dxi-column>
                        <dxi-column dataField="quantity"></dxi-column>
                        <dxi-column dataField="quantity_unit"></dxi-column>
                        <dxi-column dataField="sample_status"></dxi-column>
                        <dxi-column [width]="100" caption="Action" name="command-editing" [allowFiltering]="false"
                          [allowSorting]="false" cellTemplate="cellTemplate">
                          <div *dxTemplate="let data of 'cellTemplate'">
                            <a (click)="funcEditSampleDetails(data)"><i class="fa fa-edit"></i>Edit</a>&nbsp;
                            <!--<a (click)="funcDeleteSampleDetails(data)"><i class="fa fa-trash"></i>Delete</a>-->
                          </div>
                        </dxi-column>
                      </dx-data-grid>
        
                  </div>
        
                  <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
                      <button type="button" class="btn btn-primary" previousStep>&nbsp;<i
                          class="fa fa-angle-double-left"></i>Previous
                        Information</button>
                      <button type="button" class="btn btn-primary" (click)="onSampleMoveNextWizard(2)">Product Label(s) Inforamtion &nbsp;<i class="fa fa-angle-double-right"></i></button>
                    </div>
              </wizard-step>  
              <wizard-step stepTitle="Product Label" class="wizardStep-height">
                  <div class="row wizard-content">
                    <app-products-imagesdocuments [section_id] ="section_id"  [module_id] ="module_id" [status_id] ="status_id" [sub_module_id] ="sub_module_id" [application_code] ="application_code"></app-products-imagesdocuments>
          
                  </div>
                  <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
                      <button type="button" class="btn btn-primary" previousStep>&nbsp;<i
                          class="fa fa-angle-double-left"></i>Previous
                        Information</button>
                      <button type="button" class="btn btn-primary" (click)="onSampleMoveNextWizard(3)">Submission &nbsp;<i class="fa fa-angle-double-right"></i></button>
                    </div>
              </wizard-step>  
              <wizard-step stepTitle="Submission">
                  <div class="col-lg-12">
                    <h4>Terms & Conditions</h4>
                    <ul>
                      <li *ngFor="let guide of terms_conditions;">
                        <span>{{guide.no}} {{guide.term_conditiondetails}}</span>
                      </li>
                    </ul>
                  </div>

                  <div class="col-lg-12">
                    <dx-check-box text="Agree to the Terms & Conditions"  (onValueChanged)="newProductTermscheckbox($event)">
                    </dx-check-box>
                  </div>
          
                  <div class="wizard-divbottom">
                    <button class="btn btn-primary" type="button" previousStep>Previous Step</button>
                    <button class="btn btn-primary" type="button" [disabled]="!checkProductsSubmission" (click)="onProductApplicationSubmit()">Submit
                      Product Application</button>
                  </div>
                </wizard-step>
              </wizard>
        </div>
      
    </div>
  </div>
  <dx-popup class="popup" [width]="800" [height]="350" [showTitle]="true" title="Sample Details" [dragEnabled]="false"
  [closeOnOutsideClick]="true" [(visible)]="isSampleDetailsWinshow">
  <div *dxTemplate="let data of 'content'" class="row">
    <form [formGroup]="sampleDetailsFrm" enctype="multipart/form-data" role="form" (ngSubmit)="onSavesampleDetails()">
      <div class="row" style="background: #fff;">
          <div class="col-lg-6" >

            <label class="control-label">Batch No</label>
            <dx-text-box formControlName="batch_no" placeholder="batch_no" [showClearButton]="true">
            </dx-text-box>
          </div>
         
          <div class="col-lg-6 form-group " >

            <label class="control-label">Storage Conditions</label>

            <dx-select-box [dataSource]="storageConditionData" valueExpr="id" displayExpr="name" [searchEnabled]="true"
              placeholder="Storage Conditions" formControlName="storage_id">
            </dx-select-box>
          </div>
          
          <div class="col-lg-6" >

            <label class="control-label">Quantity</label>
            <dx-number-box formControlName="quantity" placeholder="quantity" [showClearButton]="true">
            </dx-number-box>
          </div>

          <div class="col-lg-6 form-group " >

            <label class="control-label">Quantity</label>

            <dx-select-box [dataSource]="packagingUnitsData" valueExpr="id" displayExpr="name" [searchEnabled]="true"
              placeholder="Quantity Units" formControlName="quantity_unit_id">
            </dx-select-box>
            <input type="hidden" name="application_code"  formControlName = "application_code"/>
            
            <input type="hidden" name="id"  formControlName = "id"/>
          </div>
         
        </div>
      <div class="col-lg-12">
        <button type="submit" (submit)="onSaveSampleSubmissionDetails()" [disabled]="!sampleDetailsFrm.valid"
          class="btn btn-primary  pull-right" style="margin:5px;"><i class="fa fa-save"></i>&nbsp;Save Sample Details
        </button>
      </div>
    </form>
  </div>

</dx-popup>

  
<dx-popup  class="popup" [width]="funcpopWidth(80)"  [height]="850" [showTitle]="true" title="Application Registration Query Response"
[dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isInitalQueryResponseFrmVisible">
<div *dxTemplate="let data of 'content'">
  <dx-scroll-view>

<wizard [navigationMode]='strict' style="background: #fff !important; height: 100% !important;">
      
    <wizard-step stepTitle="Product Application Queries" class="wizardStep-height">

        <div class="col-lg-12 wizard-content">
            <form role="form" class="row" style="background:#fff;" enctype="multipart/form-data" role="form" [formGroup]="initqueryresponsefrm"
            (ngSubmit)="onSaveinitqueryresponse()">
            <div class="col-lg-12">
              <label>Query</label>
              
              <dx-html-editor [height]="200" readOnly ="true"  formControlName="queries_remarks"  placeholder="Query">
                <dxo-toolbar>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="size" [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"></dxi-item>
                    <dxi-item formatName="font" [formatValues]="['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana']"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="bold"></dxi-item>
                    <dxi-item formatName="italic"></dxi-item>
                   
                    <dxi-item formatName="header" [formatValues]="[false, 1, 2, 3, 4, 5]"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="orderedList"></dxi-item>
                    <dxi-item formatName="bulletList"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="color"></dxi-item>
                    <dxi-item formatName="link"></dxi-item>
                    <dxi-item formatName="image"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="clear"></dxi-item>
                </dxo-toolbar>
                <dxo-media-resizing
                    [enabled]=true>
                </dxo-media-resizing>
                
            </dx-html-editor>
            </div>
            <div class="col-lg-12">
              <label>Query Response</label>
              
              <dx-html-editor [height]="200"  formControlName="response_txt"  placeholder="Query Response">
                <dxo-toolbar>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="size" [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"></dxi-item>
                    <dxi-item formatName="font" [formatValues]="['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana']"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="bold"></dxi-item>
                    <dxi-item formatName="italic"></dxi-item>
                   
                    <dxi-item formatName="header" [formatValues]="[false, 1, 2, 3, 4, 5]"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="orderedList"></dxi-item>
                    <dxi-item formatName="bulletList"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="color"></dxi-item>
                    <dxi-item formatName="link"></dxi-item>
                    <dxi-item formatName="image"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="clear"></dxi-item>
                </dxo-toolbar>
                <dxo-media-resizing
                    [enabled]=true>
                </dxo-media-resizing>
                
            </dx-html-editor>
            </div>
            <input type="hidden" formControlName="id"/>
            
        <input type="hidden" formControlName="query_id"/>
          </form>
        
          </div>
          <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
            <button type="button"  [disabled]="!query_id"  class="btn btn-primary  pull-right" nextStep>Next(Product Application Information) &nbsp;<i class="fa fa-angle-double-right"></i></button>


              <dx-button text="Save Response" [disabled]="!query_id" (onClick)="onSaveinitqueryresponse()"
                type="success" icon="save" [elementAttr]="{ class: 'btn btn-primary; pull-right' }">
              </dx-button>
            
          </div>
    </wizard-step>
    <wizard-step stepTitle="{{document_title}}" class="wizardStep-height">
        <div class="row wizard-content">
            <app-application-documents [section_id] ="section_id"  [module_id] ="module_id" [status_id] ="status_id" [sub_module_id] ="sub_module_id" [application_code] ="application_code"></app-application-documents>
        </div>
        <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
            <dx-button
                  text="Dashboard"
                  type="success"
                  icon="fa fa-eraser"
                  [elementAttr]="{  class: 'pull-left' }"
                  (onClick)="onProductDashboard()">
              </dx-button>
            <button type="button" class="btn btn-primary" (click)="onSampleMoveNextWizard(1)">Next Sample Information &nbsp;<i class="fa fa-angle-double-right"></i></button>
          </div>
    </wizard-step>  
      <wizard-step stepTitle="Sample Submission Details" class="wizardStep-height">
        <div class="row wizard-content">
          <dx-data-grid class="table row-border hover" (onToolbarPreparing)="onsampleSubmissionPreparing($event)"
              [dataSource]="sampleSubmissionData" keyExpr="id">
              <dxo-filter-row [visible]="false"></dxo-filter-row>
              <dxo-search-panel [visible]="true">
              </dxo-search-panel>
              <dxo-paging [enabled]="true">
              </dxo-paging>
              <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
              </dxo-pager>
              <dxo-export [enabled]="true" fileName="SampleFIle" [allowExportSelectedData]="true"></dxo-export>

              <dxo-selection mode="multiple"></dxo-selection>
              <dxo-group-panel [visible]="true"></dxo-group-panel>

              <dxi-column dataField="brand_name"></dxi-column>
              <dxi-column dataField="batch_no"></dxi-column>
              <dxi-column dataField="submission_date"></dxi-column>
              <dxi-column dataField="quantity"></dxi-column>
              <dxi-column dataField="quantity_unit"></dxi-column>
              <dxi-column dataField="sample_status"></dxi-column>
              <dxi-column [width]="100" caption="Action" name="command-editing" [allowFiltering]="false"
                [allowSorting]="false" cellTemplate="cellTemplate">
                <div *dxTemplate="let data of 'cellTemplate'">
                  <a (click)="funcEditSampleDetails(data)"><i class="fa fa-edit"></i>Edit</a>&nbsp;
                </div>
              </dxi-column>
            </dx-data-grid>

        </div>

        <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
            <button type="button" class="btn btn-primary" previousStep>&nbsp;<i
                class="fa fa-angle-double-left"></i>Previous
              Information</button>
            <button type="button" class="btn btn-primary" (click)="onSampleMoveNextWizard(2)">Product Label(s) Inforamtion &nbsp;<i class="fa fa-angle-double-right"></i></button>
          </div>
    </wizard-step>  
    <wizard-step stepTitle="Product Label" class="wizardStep-height">
        <div class="row wizard-content">
          <app-products-imagesdocuments [section_id] ="section_id"  [module_id] ="module_id" [status_id] ="status_id" [sub_module_id] ="sub_module_id" [application_code] ="application_code"></app-products-imagesdocuments>

        </div>
        <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
            <button type="button" class="btn btn-primary" previousStep>&nbsp;<i
                class="fa fa-angle-double-left"></i>Previous
              Information</button>
          </div>
    </wizard-step>
</wizard>
</dx-scroll-view>

</div>
</dx-popup>