<form role="form" enctype="multipart/form-data" role="form" [formGroup]="dispapplicationGeneraldetailsfrm" >

  <div class="row wizard-content">
      <fieldset class="col-lg-12 row">
          <legend  class="contentfieldset">Premises Details</legend>
          <div class="col-lg-4">
            <label class="control-label">Are you licensed by the NDA?</label>
              <dx-select-box  (onValueChanged)="onOtherPremisesnChange($event)" [dataSource]="confirmDataParam" valueExpr="id" 
              displayExpr="name" [searchEnabled]="true"
              placeholder="Hold Pharmaceutical Business" 
              formControlName="hold_premise">
              </dx-select-box>    
          </div>

          <div class="col-lg-4 input-group"*ngIf="licensed_premise">
            <div class="col-lg-8">
              <label>Name of the Business</label>
              <dx-text-box [readOnly]=true formControlName="premises_name" placeholder="Premises Name"
                [showClearButton]="true">
              </dx-text-box>
              <input type="hidden" formControlName="premise_id" />
            </div>
            <div class="col-lg-4 ">
                <dx-button  [elementAttr]="{ class: 'btn btn-primary pull-left'}" style="margin-top:25px  !important;"  text="Search Details"  type="default" (onClick)="onRegisteredPremisesSearch()">
                    <i class="fa fa-search"></i>Search Premises Detail
                </dx-button>
        
            </div>
          </div>
          <div class="col-lg-4"*ngIf="non_licensed_premise">
            <label>Applicant Name</label>
            <dx-select-box  [dataSource]="applicantData" [readOnly]="true" valueExpr="id" displayExpr="name"
              placeholder="Applicant Name" [searchEnabled]="true" formControlName="trader_id">
            </dx-select-box>
          </div>

    </fieldset>
    <fieldset class="col-lg-12 row">
      <legend  class="contentfieldset">Disposal Application Information</legend>
      <div class="col-lg-4">
        <label>Product category </label>
        <dx-select-box (onSelectionChanged)="onOtherDisposalProdClassChange($event)"
          [dataSource]="disposalclassData" valueExpr="id" displayExpr="name"
          placeholder="Products Type/Category" [searchEnabled]="true" formControlName="disposal_class_id">
        </dx-select-box>
      </div>
      <div class="col-lg-12" *ngIf="isOtherDisposalClass">
        <label>Other Product Categories</label>
        <dx-text-area [height]="60" formControlName="other_product_category" placeholder="Other Product Categories">
        </dx-text-area>
      </div>
      <div class="col-lg-4">
        <label>Proposed Date of Destruction </label>
        <dx-date-box placeholder="Proposed Date of Destruction "
        [min]="minDate"
        formControlName="proposed_destructiondate">
        </dx-date-box>
      </div>

      <div class="col-lg-4">
        <label>Company To Carry Out Transportation/Destruction</label>
        <dx-select-box  [dataSource]="destructionCompanyData" valueExpr="id" displayExpr="name"
          placeholder="Select Company for Disposal" [searchEnabled]="true" formControlName="company_disposal_id">
        </dx-select-box>
      </div>
      </fieldset>
      <fieldset class="col-lg-12 row">
        <legend  class="contentfieldset">Details of Goods</legend>
          <div class="col-lg-4">
            <label>Estimated Total Weight</label>
            <dx-number-box formControlName="total_weight" placeholder=""
                [showClearButton]="true">
              </dx-number-box>
          </div>
          <div class="col-lg-4">
            <label>Estimated weight Units</label>
            <dx-select-box  [dataSource]="weightsUnitData" valueExpr="id" displayExpr="name"
              placeholder="Weight Units" [searchEnabled]="true" formControlName="weights_units_id">
            </dx-select-box>
          </div>
          <div class="col-lg-4">
            <label>Currency</label>
            <dx-select-box [dataSource]="payingCurrencyData" valueExpr="id" displayExpr="name"
            placeholder="Select Currency" [searchEnabled]="true" formControlName="currency_id">
          </dx-select-box>
          </div>
        <div class="col-lg-12">
          <label>Description of Products to be Disposed(List to be attached on upload)</label>
          <dx-text-area [height]="60" formControlName="product_particulars_description" placeholder="Description of Products to be Disposed">
          </dx-text-area>
        </div>
        </fieldset>
 
    <div class="col-lg-12">
      <input type="hidden" value={{module_id}} formControlName="module_id" />
      <input type="hidden" value={{sub_module_id}} formControlName="sub_module_id" />
      <input type="hidden" value={{application_code}} formControlName="application_code" />
    </div>
  </div>
  </form>

  <dx-popup class="popup"  [width]="funcpopWidth(80)" [height]="550" [showTitle]="true" title="Registered Premises"
    [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="ispremisesSearchWinVisible">
    <div *dxTemplate="let data of 'content'">
    <dx-scroll-view>
      <dx-data-grid [dataSource]="registered_premisesData"  [columnHidingEnabled]="false"  [height]="500" (onToolbarPreparing)="onPremisesPerGridToolbar($event)"
        [showBorders]="true">
        <dxo-filter-row [visible]="false"></dxo-filter-row>
        <dxo-search-panel [visible]="true">
        </dxo-search-panel>
          <dxi-column [width]="150" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
          cellTemplate="cellTemplate">
          <div *dxTemplate="let data of 'cellTemplate'">
         
              <dx-button text="Select Premises License" (click)="funcSelectPremiseDetails(data)"
                                  type="success" icon="edit" [elementAttr]="{ class: 'btn btn-primary' }">
                                </dx-button>
          </div>
        </dxi-column>
        <dxi-column dataField="name"></dxi-column>
  
        <dxi-column dataField="premise_reg_no"></dxi-column>
        <dxi-column dataField="permit_no"></dxi-column>
        <dxi-column dataField="physical_address"></dxi-column>
        <dxi-column dataField="postal_address"></dxi-column>
        <dxi-column dataField="region_name"></dxi-column>
        <dxi-column dataField="validity_status"></dxi-column>
  
        <dxo-paging [enabled]="true">
        </dxo-paging>
        <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
        </dxo-pager>
        <dxo-export [enabled]="true" fileName="registeredPremises" [allowExportSelectedData]="true"></dxo-export>
  
      </dx-data-grid>
    </dx-scroll-view>
    </div>
  </dx-popup>