footers {
    border-top: 1px solid #ccc !important;
    margin-top: 5px !important;
    padding: 3px !important;
    font-size: 14px;
    color: #000;
    text-align: center; /* Center-align the content */
    position: absolute; /* Position the footer at the bottom of the viewport */
    width: 100%; /* Full width of the viewport */
    bottom: 0; /* Position it at the bottom */
}