<div class="row">
  <div class="col-xl-12">
    <div class="breadcrumb-holder">
      <h1 class="main-title float-left">Process: {{process_title}}</h1>
      <ol class="breadcrumb float-right">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active">Dashboard</li>
        <li class="breadcrumb-item active">GMP Inspection Application</li>
      </ol>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div style="background: #fff; font-weight: bold;padding:5px;margin-bottom: 5px !important; height: 55px !important;">
  <div class="row">
    <div class="col-lg-3">
      <label style="font-weight: bold;margin: 5px; font-style:italics;font-size: 15px;font-style: italics; color: green;">
        Tracking No: <i> {{tracking_no}}</i> </label>
    </div>
    <div class="col-lg-2">
      <label style="font-weight: bold;margin: 5px; font-style:italics;font-size: 15px;font-style: italics;color: green;">Application
        Status:<i> {{status_name}}</i> </label>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <wizard  style="background: #fff !important; height: 100% !important;">
      
      <wizard-step stepTitle="Application Documents Submission " class="wizardStep-height">
        <div class="row wizard-content">
              
          <app-application-documents [section_id] ="section_id"  [module_id] ="module_id" [status_id] ="status_id" [sub_module_id] ="sub_module_id" [application_code] ="application_code"></app-application-documents>
          
        </div>
        <div class="wizard-divbottom">
          <button (click)="onGMPApplicationDashboard()" class="btn btn-primary pull-left" style="margin:5px;" type="button"><i
            class="fa fa-dashboard"></i>    &nbsp; Dashboard</button>
          <button type="button" class="btn btn-primary" (click)="funcValidatePremDocumentsDetails(1)" >Next
            Documents Submission<i class="fa fa-angle-double-right"></i></button>

        </div>
      </wizard-step>
      <wizard-step stepTitle="Completion & Submission">
        <div class="row wizard-content">

          <div class="col-lg-12">
            <h4>Terms & Conditions</h4>
            <ul>
              <li *ngFor="let guide of terms_conditions;">
                <span>{{guide.no}} {{guide.term_conditiondetails}}</span>
              </li>
            </ul>
          </div>
          <div class="col-lg-12">
            <dx-check-box text="Agree to the Terms & Conditions" [value]="undefined" (onValueChanged)="newPremTermscheckbox($event)">
            </dx-check-box>
          </div>
        </div>
        <div class="wizard-divbottom">
          <button class="btn btn-primary" type="button" previousStep>Previous Step</button>
          <button class="btn btn-primary" type="button" (click)="onGMPApplicationPrint()">Print Premises
            Application</button>
          <button class="btn btn-primary" type="button" [disabled]="!checkPremisesSubmission" (click)="onGmpApplicationSubmit()">Submit
            GMP
            Application</button>
        </div>
      </wizard-step>
    </wizard>
  </div>
</div>