<div class=" wizard-content">

    <dx-data-grid class="table row-border hover" [dataSource]="premPersonnelDetailsData" keyExpr="id" (onToolbarPreparing)="onPremisesPersonnelToolbar($event,'')">
        
        <dxo-paging [enabled]="true">
        </dxo-paging>
        <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
        </dxo-pager>
        <dxo-export [enabled]="true" fileName="premPersonnelDetailsData" [allowExportSelectedData]="true"></dxo-export>

        <dxo-selection mode="multiple"></dxo-selection>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxi-column [width]="200" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
            <div *dxTemplate="let data of 'cellTemplate'">
                <dx-button text="Edit" [disabled]="is_readonly"(click)="funcEditPersonnelDetails(data)" 
                    type="success" icon="edit">
                    </dx-button> 
                <dx-button text="Delete" [disabled]="is_readonly"(click)="funcDeletePersonnelDetails(data)" 
                    type="danger" icon="delete">
                </dx-button> 
            </div>
        </dxi-column>
        <dxi-column dataField="name"></dxi-column>
        <dxi-column dataField="permit_no"></dxi-column>
        <dxi-column dataField="region_name"></dxi-column>
    </dx-data-grid>
</div>


<dx-popup class="popup"  [width]="funcpopWidth(80)" [height]="auto" [showTitle]="true" title="Any other Pharmaceutical Business" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isBusinessPersonnelPopupVisible">
    <div *dxTemplate="let data of 'content'" class="row">
        <dx-scroll-view></dx-scroll-view>
        <div class=" row col-lg-12">
                    <form role="form" enctype="multipart/form-data" role="form"
                         [formGroup]=" premisesDetailsfrm" class="col-lg-12" (ngSubmit)="onSavePremisesHolderDetails()">
                            <div class="col-lg-4">
                                <label class="control-label">Does the applicant, any partner or director currently hold a licence Pharmaceutical business</label>
                                 <dx-select-box [readOnly]="is_readonly" (onValueChanged)="onOtherPremisesnChange($event)" [dataSource]="confirmDataParam" valueExpr="id" 
                                 displayExpr="name" [searchEnabled]="true"
                                   placeholder="Hold Pharmaceutical Business" 
                                    formControlName="hold_premise">
                                </dx-select-box>    
                            </div>
                            <div class="col-lg-4 input-group">
                                <div class="col-lg-8">
                                    <label class="control-label">Premise Name</label>
                                     <dx-text-box  formControlName="name" readOnly=true [showClearButton]="true">
                                    </dx-text-box>
                                </div>
                                 <div class="col-lg-4">
                                    <dx-button [disabled]="isReadOnlyPremise" 
                                    [elementAttr]="{ class: 'btn btn-primary pull-left'}" style="margin-top:25px  !important;"  text="Search"  type="default" (onClick)="onRegisteredPremisesSearch(1)">
                                     <i class="fa fa-search"></i>Premise
                                    </dx-button>
                                </div>
                            </div>
                        <div class="col-lg-12">
                            <input type="hidden" formControlName="id" />
                            <input type="hidden" formControlName="region_id" />
                            <input type="hidden" formControlName="permit_no" />


                        </div>
                        <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
                           
                            <dx-button text="Save Other Premises Details" [disabled]="!premisesDetailsfrm.valid" (click)="onSavePremisesHolderDetails()" type="success" class="btn" icon="save" [elementAttr]="{ class: 'btn btn-primary; pull-right' }">
                            </dx-button>
                        </div>
             </form>
        </div>
    </div>
</dx-popup>

<dx-popup class="popup" [width]="funcpopWidth(80)" [height]="500" [showTitle]="true" title="Other Premises" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isStaffPopupVisible">
<div *dxTemplate="let data of 'content'">
  <dx-data-grid class="table row-border hover"  [height]="450"   [remoteOperations]='true'  [dataSource]="registeredPremisesData" keyExpr="id">
    <dxo-filter-row [visible]="false"></dxo-filter-row>
    <dxo-search-panel [visible]="true">
    </dxo-search-panel>
    <dxo-paging [enabled]="true">
    </dxo-paging>
    <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
    </dxo-pager>
    <dxo-export [enabled]="true" fileName="traderFile" [allowExportSelectedData]="true"></dxo-export>

    <dxo-selection mode="multiple"></dxo-selection>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxi-column [width]="120" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
     cellTemplate="cellTemplate">
    <div *dxTemplate="let data of 'cellTemplate'">
     <a (click)="funcSelectPremisesDetails(data)" class="action-btn"><i class="fa fa-edit"></i>Select Premise</a>&nbsp;
                      </div>
                    </dxi-column>
    <dxi-column dataField="name"></dxi-column>
    <dxi-column dataField="premise_reg_no"></dxi-column>
    <dxi-column dataField="permit_no"></dxi-column>
    <dxi-column dataField="physical_address"></dxi-column>
    <dxi-column dataField="postal_address"></dxi-column>
    <dxi-column dataField="region_name"></dxi-column>

  </dx-data-grid>
</div>
</dx-popup>

 
