<div class="row">
  <div class="col-xl-12">
    <div class="breadcrumb-holder">
      <h1 class="main-title float-left">{{application_title}}</h1>
      <ol class="breadcrumb float-right">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active">Dashboard</li>
        <li class="breadcrumb-item active">{{application_title}}</li>
      </ol>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="row">
  <!-- Content Header (Page header) -->
  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-2_5 div-nopadding">
    <div class="card-box noradius noborder bg-warning">
      <i class="fa fa-clock-o float-right text-white"></i>
      <h6 class="text-white text-uppercase m-b-20">Pending Submission</h6>
      <h1 class="m-b-20 text-white counter">{{pending_submission}}</h1>
    </div>
    <div class="card-box noradius noborder bg-warning">
      <a class="reg_routerlink"  (click) ="reloadClinicalApplications({application_status_id:'1', sub_module_id: 12})"><span>View Applications</span></a>

    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-2_5 div-nopadding">
    <div class="card-box noradius noborder bg-success">
      <i class="fa fa-clock-o float-right text-white"></i>
      <h6 class="text-white text-uppercase m-b-20">Submitted Applications</h6>
      <h1 class="m-b-20 text-white counter">{{submitted_application}}</h1>
    </div>
    <div class="card-box noradius noborder bg-success">
      <a class="reg_routerlink"  (click) ="reloadClinicalApplications({application_status_id:'2,3', sub_module_id: 12})"><span>View Applications</span></a>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-2_5 div-nopadding">
    <div class="card-box noradius noborder bg-info">
      <i class="fa fa-question-circle float-right text-white"></i>
      <h6 class="text-white text-uppercase m-b-20">Queried & Responses </h6>
      <h1 class="m-b-20 text-white counter">{{queried_applications}}</h1>
      </div>
    <div class="card-box noradius noborder bg-info">
      <a class="reg_routerlink"  (click) ="reloadClinicalApplications({application_status_id:'17,6,7,8, 13,14,15', sub_module_id: 12})"><span>View Queried Applications</span></a>
   
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-2_5 div-nopadding">
      <div class="card-box noradius noborder bg-default">
        <i class="fa fa-file-text-o float-right text-white"></i>
        <h6 class="text-white text-uppercase m-b-20">Approved Applications</h6>
        <h1 class="m-b-20 text-white counter">{{approved_products}}</h1>
            </div>
      <div class="card-box noradius noborder bg-default">
        <a class="reg_routerlink" (click) ="reloadClinicalApplications({application_status_id:10, sub_module_id: 12})"><span>View Approved Applications</span></a>
 
      </div>
    </div>
  
    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-2_5 div-nopadding">
      <div class="card-box noradius noborder bg-danger">
        <i class="fa fa-ban float-right text-white"></i>
        <h6 class="text-white text-uppercase m-b-20">Rejected Application</h6>
        <h1 class="m-b-20 text-white counter">{{rejected_products}}</h1>
         </div>
      <div class="card-box noradius noborder bg-danger">
        <a class="reg_routerlink" (click) ="reloadClinicalApplications({application_status_id:11, sub_module_id: 12})"><span>View Rejected Applications</span></a>
    
      </div>
    </div>
  
    
  <!-- /.col -->
  
</div>
<div class=" row">
     
    <dx-button *ngFor="let sub_module of clincialtrialappTypeData;" 
        text="{{sub_module.name}} Application"
        type="default"
        width="270"
        icon="fa {{sub_module.icon}}"
        [elementAttr]="{ id: 'elementId', class: 'col-lg-2' }"
        (onClick)="onClickSubModuleAppSelection(sub_module.id,sub_module.name)">
    </dx-button>
</div>
<div class="row">
  <!--[dtTrigger]="dtTrigger" -->
  <div class="col-lg-12 div-backwhite">
    <form role="form" class="row" enctype="multipart/form-data" role="form" [formGroup]="FilterDetailsFrm">
                
        <div class="col-lg-3">
          <dx-select-box  [dataSource]="clincialtrialappTypeData" valueExpr="id" displayExpr="name" 
          (onSelectionChanged)="onSelectAppsFilters()"   [searchEnabled]="true" placeholder="Select Application Type " formControlName="sub_module_id">
          </dx-select-box>
      </div>
  
      <div class="col-lg-3">
          <dx-select-box  [dataSource]="applicationStatusData" valueExpr="id" displayExpr="name" 
          (onSelectionChanged)="onSelectAppsFilters()" [searchEnabled]="true" placeholder="Select Status" formControlName="application_status_id">
          </dx-select-box>
      </div>
      <div class="col-lg-3">
          <dx-button
            text="Clear Filter"
            type="danger"
            icon="fa fa-eraser"
            [elementAttr]="{ id: 'elementId', class: 'pull-right' }"
            (onClick)="onClearApplicationFilters()">
        </dx-button>

      </div>
  </form>
      <dx-context-menu target="#container" showEvent="dxclick" [items]="contextMenuItems" (onItemClick)="handleItemClickEvent($event)">
        <dxo-position my="left top" at="left bottom"></dxo-position>
      </dx-context-menu>
      <dx-data-grid class="table row-border hover " [showBorders] = "true"  [showRowLines] = "true"  [allowColumnResizing]="true" [columnHidingEnabled]="false"    [wordWrapEnabled]="true" (onCellPrepared)="onCellPrepared($event)"   
        [dataSource]="dtClinicalTrialApplicationData"  (onToolbarPreparing)="onClinicalTrialToolbarPreparing($event)"
        keyExpr="id">
        <dxo-filter-row [visible]="false"></dxo-filter-row>
        <dxo-load-panel [enabled]="true">
        </dxo-load-panel>
        <dxo-paging [enabled]="true">
        </dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20]" [showNavigationButtons]="true"
          [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
        </dxo-pager>
        <dxo-search-panel [visible]="true">
        </dxo-search-panel>
        <dxo-export [enabled]="true" fileName="Clinical Trial" [allowExportSelectedData]="true"></dxo-export>
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column [width]=200 caption="Actions" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
        cellTemplate="cellTemplateSingle">
        <div *dxTemplate="let d of 'cellTemplateSingle'">
          <dx-button text="{{d.data.action_name}}" (click)="singleApplicationActionColClick(d.data)"
          type="success" icon="{{d.data.iconCls}}">
        </dx-button>
        </div>
      </dxi-column>
        <dxi-column [width]=105 caption="Actions" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
        cellTemplate="cellTemplate">
        <div *dxTemplate="let d of 'cellTemplate'">
          <dx-menu [items]="d.data.contextMenu" displayExpr="text" (onItemClick)="applicationActionColClick($event,d)">
          </dx-menu>
        </div>
      </dxi-column>
      <dxi-column dataField="tracking_no"></dxi-column>
      <dxi-column dataField="reference_no"></dxi-column>
      <dxi-column [groupIndex]="1" dataField="application_type"></dxi-column>
      
	  
	  <dxi-column name="command-editing" [width] =250 caption="Study Title" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate1">
                            <div *dxTemplate="let data of 'cellTemplate1'">
                                <div [innerHTML]="data.data.study_title"></div>
                            </div>
                        </dxi-column>
      <dxi-column dataField="protocol_no"></dxi-column>
      <dxi-column dataField="clinical_trial_sponsor"></dxi-column>
      <dxi-column dataField="principal_investigator"></dxi-column>
      <dxi-column dataField="date_of_protocol"></dxi-column>
      <dxi-column dataField="date_added"></dxi-column>
      <dxi-column  dataField="status_name"></dxi-column>
      <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
    </dx-data-grid>
  </div>
</div>
<dx-popup class="popup" [width]="funcpopWidth(85)" [height]="700" [showTitle]="true" title="{{printReportTitle}}"
  [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="isPrintReportVisible">
  <div *dxTemplate="let data of 'content'">
      <div class="col-lg-12 row" [innerHTML]="printiframeUrl | safe: 'html'"></div>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="funcpopWidth(80)" [height]="450" [showTitle]="true" title="Preview Application Processing"
  [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="isPreviewApplicationProcessing">

  <div *dxTemplate="let data of 'content'" style="background:#fff;">
      <div class="row">
        <dx-data-grid class="table row-border hover div-backwhite" [columnHidingEnabled]="true" [dataSource]="productApplicationProcessingData"
        [showBorders]="true" [allowColumnResizing]="true" keyExpr="id">
        <dxo-filter-row [visible]="false"></dxo-filter-row>
        <dxo-load-panel [enabled]="true">
        </dxo-load-panel>
        <dxo-paging [enabled]="true">
        </dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20]" [showNavigationButtons]="true" [showInfo]="true"
          infoText="Page #{0}. Total: {1} ({2} items)">
        </dxo-pager>
        <dxo-search-panel [visible]="true">
        </dxo-search-panel>
        <dxo-export [enabled]="true" fileName="ProductApplications" [allowExportSelectedData]="true"></dxo-export>
  
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column  dataField="tracking_no"></dxi-column>
        <dxi-column  dataField="reference_no"></dxi-column>
        <dxi-column dataField="process_name"></dxi-column>
        <dxi-column  dataField="prev_stage"></dxi-column>
        <dxi-column  dataField="current_stage"></dxi-column>
        <dxi-column  [groupIndex]="0" dataField="processing_date"></dxi-column>
       
        <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
      </dx-data-grid> 
      </div>
  </div>
</dx-popup>


<dx-popup class="popup" [width]="funcpopWidth(85)" [height]="550" [showTitle]="true" title="Application Rejection Details"
  [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="isApplicationRejectionVisible">
  <div *dxTemplate="let data of 'content'">
      <dx-data-grid class="table row-border hover "  [columnHidingEnabled]="true" [dataSource]="applicationRejectionData"
      [showBorders]="true">
      <dxo-filter-row [visible]="false"></dxo-filter-row>
      <dxo-load-panel [enabled]="true">
      </dxo-load-panel>
      <dxo-paging [enabled]="true">
      </dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20]" [showNavigationButtons]="true" [showInfo]="true"
        infoText="Page #{0}. Total: {1} ({2} items)">
      </dxo-pager>
      <dxo-search-panel  [visible]="true" 
        >
      </dxo-search-panel>
      <dxo-export [enabled]="true" fileName="Rejection Details" [allowExportSelectedData]="true"></dxo-export>
     
      <dxi-column [width] = 100 dataField="tracking_no"></dxi-column>
      <dxi-column   [width] = 90  dataField="added_on"></dxi-column>
      <dxi-column  [width] = 200  cssClass= 'WrappedColumnClass' dataField="rejection_remarks" ></dxi-column>
     
     
    </dx-data-grid>
  </div>
</dx-popup>
<dx-popup class="popup" [width]="funcpopWidth(45)" [height]="450" [showTitle]="true" title="Preview Details"
  [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="isPreviewApplicationsDetails">
  <div *dxTemplate="let data of 'content'" style="background:#fff;">
    <form role="form" class="col-lg-12" enctype="multipart/form-data" role="form" [formGroup]="frmPreviewApplicationsDetails">
      <div class="row">
          <div class="col-lg-12">
            <label class="control-label">Tracking No</label>
            <dx-text-box formControlName="tracking_no" readOnly=true [showClearButton]="true">
            </dx-text-box>
          </div>
          <div class="col-lg-12">
            <label class="control-label">Study Title/</label>
            <dx-text-box formControlName="study_title" placeholder="Enter Brand Name" readOnly=true [showClearButton]="true">
            </dx-text-box>
          </div>
          <div class="col-lg-12 ">
            <label for="ti" class="control-label">Protocol No</label>

            <dx-text-box formControlName="protocol_no" readOnly=true  placeholder="Classification" [showClearButton]="true">
            </dx-text-box>
          </div>
        
          <div class="col-lg-12">
            <label class="control-label">Application Type</label>

            <dx-text-box formControlName="application_type" readOnly=true  placeholder="" [showClearButton]="true">
            </dx-text-box>
          </div>
          <div class="col-lg-12">
            <label class="control-label">Current Status</label>

            <dx-text-box formControlName="status" readOnly=true  [showClearButton]="true">
            </dx-text-box>
          </div>
    </div>
    </form>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="funcpopWidth(80)" [height]="700" [showTitle]="true" title="{{printReportTitle}}"
  [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="isPrintReportVisible">
  <div *dxTemplate="let data of 'content'">
      <div class="col-lg-12 row" [innerHTML]="printiframeUrl | safe: 'html'"></div>
  </div>
</dx-popup>