<dx-data-grid class="table row-border hover" [dataSource]="recruitmentCentersData" keyExpr="id"  (onToolbarPreparing)="onClinicalTrialRecuritmentPreparing($event)">
  <dxo-filter-row [visible]="false"></dxo-filter-row>
  <dxo-search-panel [visible]="false">
  </dxo-search-panel>
  <dxo-paging [enabled]="true">
  </dxo-paging>
  <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
  </dxo-pager>
  <dxo-export [enabled]="true" fileName="clinicalTrialApplicationData" [allowExportSelectedData]="true"></dxo-export>
  <dxo-selection mode="multiple"></dxo-selection>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxi-column dataField="recruitment_centre"></dxi-column>
  <dxi-column dataField="street_address"></dxi-column>
  <dxi-column dataField="region"></dxi-column>
  <dxi-column dataField="postal_code"></dxi-column>
  <dxi-column dataField="country"></dxi-column>
  <dxi-column [width]=100 caption="Other Actions" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
        cellTemplate="cellTemplate">
        <div *dxTemplate="let d of 'cellTemplate'">
          <dx-button type="success" [disabled]="is_readonly" (onClick)="onEditRecuitmentCenter(d.data)">
            <i class="fa fa-edit"></i> 
        </dx-button>
        <dx-button type="success" [disabled]="is_readonly" (onClick)="funcDeleteRecuitmentCenters(d.data)">
          <i class="fa fa-trash"></i> 
      </dx-button>
        </div>
      </dxi-column>
</dx-data-grid>


<dx-popup class="popup" [width]="funcpopWidth(40)" [height]="550" [showTitle]="true" title="Recruitment Centers"
[dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="recruitmentCenterAddWin">
<div *dxTemplate="let data of 'content'">
  <div class="col-lg-12">
    <form enctype="multipart/form-data" role="form" [formGroup]="recruitmentCenterFrm"
      (ngSubmit)="onSaverecruitmentCenterFrm()">

      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">

          <label class="control-label">Name of recruitment centre </label>
          <dx-text-box formControlName="name">
          </dx-text-box>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">

          <label class="control-label">Physical Address</label>
          <dx-text-box formControlName="physical_address">
          </dx-text-box>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
          <label class="control-label">Country</label>

          <dx-select-box [dataSource]="countries" valueExpr="id" displayExpr="name" placeholder="Select Country"
            (onSelectionChanged)="onCoutryCboSelect($event)" [searchEnabled]="true" formControlName="country_id">
          </dx-select-box>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
          <label for="ti" class="control-label">Region/City</label>

          <dx-select-box [dataSource]="regions" valueExpr="id" displayExpr="name"
            (onSelectionChanged)="onRegionsCboSelect($event)" [searchEnabled]="true" formControlName="region_id">
          </dx-select-box>

        </div>

        <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">

            <label class="control-label">Postal Address</label>
            <dx-text-box formControlName="postal_address">
            </dx-text-box>
          </div>
        
          
        <div class="col-lg-12 btn-margin-5">
          <br />
          <button type="submit" (submit)="onSaverecruitmentCenterFrm()" [disabled]="!recruitmentCenterFrm.valid"
            class="btn btn-primary"><i class="fa fa-user"></i> Save Recuitment Center</button>
        </div>
      </div>
    </form>
  </div>
</div>
</dx-popup>