<div class="col-xl-12">
  <div class="breadcrumb-holder">
    <h1 class="main-title float-left">Product Registration</h1>
    <ol class="breadcrumb float-right">
      <li class="breadcrumb-item">Home</li>
      <li class="breadcrumb-item active">Dashboard</li>
      <li class="breadcrumb-item active"> {{process_title}}</li>

    </ol>
    <div class="clearfix"></div>
  </div>
</div>

<div style="background: #fff; font-weight: bold;padding:5px;margin-bottom: 5px !important; height: 55px !important;">
  <div class="row">
    <div class="col-lg-3">
      <label style="font-weight: bold;margin: 5px; font-style:italics;font-size: 15px;font-style: italics; color: green;">
        Tracking No: <i> {{tracking_no}}</i> </label>
    </div>
    <div class="col-lg-2">
      <label style="font-weight: bold;margin: 5px; font-style:italics;font-size: 15px;font-style: italics;color: green;">Application
        Status:<i> {{status_name}}</i> </label>
    </div>

  </div>
</div>
<div class="row">
  
    <div class="col-lg-12"  *ngIf="status_id === 6 || status_id === 8">
        <wizard navBarLayout ="large-filled-symbols" [navigationMode]='strict' style="background: #fff !important; height: 100% !important;">
          
            <wizard-step navigationSymbol="Step 1"  stepTitle="Product Application Queries" class="wizardStep-height">
      
                <div class="col-lg-12 wizard-content">
                     
                    <dx-data-grid class="table row-border hover row"  [columnHidingEnabled]="true" [dataSource]="applicationPreckingQueriesData" (onToolbarPreparing)="onProdAppQueryPreparing($event)"
                        [showBorders]="true">
                        <dxo-filter-row [visible]="false"></dxo-filter-row>
                        <dxo-load-panel [enabled]="true">
                        </dxo-load-panel>
                        <dxo-paging [enabled]="true">
                        </dxo-paging>
                        <dxo-selection mode="single"></dxo-selection>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20]" [showNavigationButtons]="true" [showInfo]="true"
                          infoText="Page #{0}. Total: {1} ({2} items)">
                        </dxo-pager>
                        <dxo-search-panel  [visible]="true" 
                          >
                        </dxo-search-panel>
                        <dxo-export [enabled]="true" fileName="Query Details" [allowExportSelectedData]="true"></dxo-export>
                        <dxi-column [width]="150" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
                            cellTemplate="cellTemplate">
                            <div *dxTemplate="let data of 'cellTemplate'">
                                <dx-button text="Query Response" (click)="funcInitQueryResponse(data)"
                                type="success" icon="edit" [elementAttr]="{ class: 'btn btn-primary' }">
                              </dx-button>
                          </div>
                        </dxi-column>
                        <dxi-column   [width] = 120 caption="Queried On" dataField="added_on"></dxi-column>
                        
                        <dxi-column name="command-editing"  caption="Query Details" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate1">
                            <div *dxTemplate="let data of 'cellTemplate1'">
                                <div [innerHTML]="data.data.queries_remarks"></div>
                            </div>
                        </dxi-column> 
                        <dxi-column name="command-editing"  caption="Query Response" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate2">
                            <div *dxTemplate="let data of 'cellTemplate2'">
                                <div [innerHTML]="data.data.response_txt"></div>
                            </div>
                        </dxi-column> 
                       
                    </dx-data-grid>
                  </div>
                  <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
                      <button (click)="onProductDashboard()" class="btn btn-primary pull-left" style="margin:5px;" type="button"><i
                        class="fa fa-dashboard"></i>
                      &nbsp; Dashboard</button>
                    <button type="button" class="btn btn-primary" (click)="funcValidateApplicationQueryresponse(1)">Next(Query Responses) &nbsp;<i class="fa fa-angle-double-right"></i></button>
                  </div>
            </wizard-step>
            <wizard-step navigationSymbol="Submission"  stepTitle="Query Response Submission">
                <div class="col-lg-12">
                    <b><h4>Declaration</h4></b>
                    <ul>
                        <li *ngFor="let guide of terms_conditions;">
                            <p>{{guide.no}} {{guide.term_conditiondetails}}</p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-12">
                  <dx-check-box text="Agree to the Declaration" [value]="undefined" (onValueChanged)="newProductTermscheckbox($event)">
                  </dx-check-box>
                </div>
        
                <div class="wizard-divbottom">
                  <button class="btn btn-primary" type="button" previousStep>Previous Step</button>
                  <button class="btn btn-primary" type="button" (click)="onNotificationsProductsApplicationPrint()">Print Products
                    Product Notification Details</button>
                  <button class="btn btn-primary" type="button" [disabled]="!checkProductsSubmission" (click)="onProductApplicationSubmit()">Submit
                    Product Notification Application</button>
                </div>
              </wizard-step>

      </wizard>
    </div>
    
  <div class="col-lg-12"  *ngIf="status_id !== 6  && status_id !== 8">
    <wizard navBarLayout ="large-filled-symbols" style="background: #fff !important; height: 100% !important;">
      
      
      <wizard-step navigationSymbol="Step 1" stepTitle="Product Application Details" class="wizardStep-height">

          <app-meddev-generaldetails  [productGeneraldetailsfrm] ="productGeneraldetailsfrm"  
                        [devicesTypeData] ="devicesTypeData"  
                        [classificationData] ="classificationData"  
                        [commonNamesData] ="commonNamesData"  
                        [intendedEndUserData] ="intendedEndUserData"  
                        [productTypeData] ="productTypeData"  
                        [durationDescData] ="durationDescData" 
                        [confirmDataParam] ="confirmDataParam"  
                        [is_local_agent] ="is_local_agent"  
                        [confirmDataParam] ="confirmDataParam"
                        [trader_title] ="trader_title" 
                        [traderAccountsDetailsData] ="traderAccountsDetailsData" 
                        [isRegistrantDetailsWinshow] ="isRegistrantDetailsWinshow"
                        [zonesData] ="zonesData" 
                        [localagent_optionDisabled] ="localagent_optionDisabled" 
                        [gmdnCategoryData] ="gmdnCategoryData" 
                        [section_id] ="section_id"
                        [product_id] ="product_id">
          
                        </app-meddev-generaldetails>
          <div class="col-lg-12 div-footer">
            <button (click)="onProductDashboard()" class="btn btn-primary pull-left" style="margin:5px;" type="button"><i
              class="fa fa-dashboard"></i>
            &nbsp; Dashboard</button>
            <button class="btn btn-primary pull-right" style="margin:5px;" [disabled]="!product_id"
            nextStep type="button"><i class="fa fa-angle-double-right"></i>
              &nbsp;Next Product Information</button>
              <dx-button
                  text="Save product Application"
                  type="default"
                  icon="fa fa-save"
                  [elementAttr]="{ id: 'elementId', class: 'pull-right' }"
                  (onClick)="onSaveMedicalDevicesNotification()">
              </dx-button>
          </div>
        
      </wizard-step>
      <wizard-step navigationSymbol="Step 2" stepTitle="Products Mock-ups" class="wizardStep-height">
        <div class=" wizard-content">
          <app-products-imagesdocuments [section_id] ="section_id"  [module_id] ="module_id" [status_id] ="status_id" [sub_module_id] ="sub_module_id" [application_code] ="application_code"></app-products-imagesdocuments>
        </div>
        <div class="wizard-divbottom">
          <button type="button" class="btn btn-primary" previousStep><i class="fa fa-angle-double-left"></i>Previous
             Documents</button>
            
          <button type="button" class="btn btn-primary" nextStep>Next Documents Uploads<i class="fa fa-angle-double-right"></i></button>
         
        </div>
      </wizard-step>


      <wizard-step navigationSymbol="Step 3" stepTitle="Dossier/Documents Upload" class="wizardStep-height">
        <div class=" wizard-content">
          <app-application-documents [prodclass_category_id] ="prodclass_category_id" [query_ref_id] ="query_ref_id" [section_id] ="section_id"  [module_id] ="module_id" [status_id] ="status_id" [sub_module_id] ="sub_module_id" [application_code] ="application_code"></app-application-documents>
        </div>
        <div class="wizard-divbottom">
          <button type="button" class="btn btn-primary" previousStep><i class="fa fa-angle-double-left"></i>Previous
             Documents</button>
           
                <button *ngIf="status_id === 6" type="button" (click)="onShowInitalQueriesWin()" class="btn btn-primary"><i class="fa fa-question-circle"></i>Query & Query Response</button>

                <button *ngIf="status_id === 17" type="button" (click)="onShowInitalQueriesWin()" class="btn btn-primary"><i class="fa fa-question-circle"></i>Query & Query Response</button>

          <button type="button" class="btn btn-primary" (click)="funcValidateDocumentsUpload(3+initWizardPanel)">Next Application Submission<i class="fa fa-angle-double-right"></i></button>
         
        </div>
      </wizard-step>
      
      <wizard-step navigationSymbol="Complete & Submit" stepTitle="Submission">
        <div class="col-lg-12">
          <h4>Terms & Conditions</h4>
          <ul>
            <li *ngFor="let guide of terms_conditions;">
              <span>{{guide.no}} {{guide.term_conditiondetails}}</span>
            </li>
          </ul>
        </div>
        <div class="col-lg-12">
          <dx-check-box text="Agree to the Terms & Conditions" [value]="undefined" (onValueChanged)="newProductTermscheckbox($event)">
          </dx-check-box>
        </div>

        <div class="wizard-divbottom">
          <button class="btn btn-primary" type="button" previousStep>Previous Step</button>

          <app-invoice-appgeneration  [onApplicationSubmissionFrm] ="onApplicationSubmissionFrm" [module_id] ="module_id"  [status_id] ="status_id" [application_code]="application_code" ></app-invoice-appgeneration>

          <button class="btn btn-primary" type="button" [disabled]="!checkProductsSubmission" (click)="onProductApplicationSubmit()">Submit
            Product Application</button>
        </div>
      </wizard-step>
    </wizard>
    <!-- packagin modal-->
  
  </div>
</div>


<dx-popup class="popup"  [width]="funcpopWidth(80)" [height]="700" [showTitle]="true" title="{{printReportTitle}}"
  [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isPrintReportVisible">
  <div *dxTemplate="let data of 'content'">
      <div class="col-lg-12 row" [innerHTML]="printiframeUrl | safe: 'html'"></div>
  </div>
</dx-popup>
<!--manufatcurer details-->

  
<dx-popup  class="popup" [width]="funcpopWidth(80)" [height]="850" [showTitle]="true" title="Application Registration Query Response"
[dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isInitalQueryResponseFrmVisible">
<div *dxTemplate="let data of 'content'">
  <dx-scroll-view>

<wizard [navigationMode]='strict' style="background: #fff !important; height: 100% !important;">
      
    <wizard-step stepTitle="Product Application Queries" class="wizardStep-height">

        <div class="col-lg-12 wizard-content">
            <form role="form" class="row" style="background:#fff;" enctype="multipart/form-data" role="form" [formGroup]="initqueryresponsefrm"
            (ngSubmit)="onSaveinitqueryresponse()">
            <div class="col-lg-12">
              <label>Query</label>
              
              <dx-html-editor [height]="200" readOnly ="true"  formControlName="queries_remarks"  placeholder="Query">
                  <dxo-toolbar>
                      <dxi-item formatName="separator"></dxi-item>
                      <dxi-item formatName="size" [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"></dxi-item>
                      <dxi-item formatName="font" [formatValues]="['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana']"></dxi-item>
                      <dxi-item formatName="separator"></dxi-item>
                      <dxi-item formatName="bold"></dxi-item>
                      <dxi-item formatName="italic"></dxi-item>
                     
                      <dxi-item formatName="header" [formatValues]="[false, 1, 2, 3, 4, 5]"></dxi-item>
                      <dxi-item formatName="separator"></dxi-item>
                      <dxi-item formatName="orderedList"></dxi-item>
                      <dxi-item formatName="bulletList"></dxi-item>
                      <dxi-item formatName="separator"></dxi-item>
                      <dxi-item formatName="color"></dxi-item>
                      <dxi-item formatName="link"></dxi-item>
                      <dxi-item formatName="image"></dxi-item>
                      <dxi-item formatName="separator"></dxi-item>
                      <dxi-item formatName="clear"></dxi-item>
                  </dxo-toolbar>
                  <dxo-media-resizing
                      [enabled]=true>
                  </dxo-media-resizing>
                  
              </dx-html-editor>
            </div>
            <div class="col-lg-12">
              <label>Query Response</label>

              <dx-html-editor [height]="200" formControlName="response_txt"  placeholder="Query Response">
                  <dxo-toolbar>
                      <dxi-item formatName="separator"></dxi-item>
                      <dxi-item formatName="size" [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"></dxi-item>
                      <dxi-item formatName="font" [formatValues]="['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana']"></dxi-item>
                      <dxi-item formatName="separator"></dxi-item>
                      <dxi-item formatName="bold"></dxi-item>
                      <dxi-item formatName="italic"></dxi-item>
                     
                      <dxi-item formatName="header" [formatValues]="[false, 1, 2, 3, 4, 5]"></dxi-item>
                      <dxi-item formatName="separator"></dxi-item>
                      <dxi-item formatName="orderedList"></dxi-item>
                      <dxi-item formatName="bulletList"></dxi-item>
                      <dxi-item formatName="separator"></dxi-item>
                      <dxi-item formatName="color"></dxi-item>
                      <dxi-item formatName="link"></dxi-item>
                      <dxi-item formatName="image"></dxi-item>
                      <dxi-item formatName="separator"></dxi-item>
                      <dxi-item formatName="clear"></dxi-item>
                  </dxo-toolbar>
                  <dxo-media-resizing
                      [enabled]=true>
                  </dxo-media-resizing>
                  
              </dx-html-editor>
            </div>
            <input type="hidden" formControlName="id"/>
            
            <input type="hidden" formControlName="query_id"/>
          </form>
        
          </div>
          <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
              <dx-button text="Save Response" [disabled]="!initqueryresponsefrm.valid" (onClick)="onSaveinitqueryresponse()"
                type="success" icon="save" [elementAttr]="{ class: 'btn btn-primary; pull-right' }">
              </dx-button>
              <button type="button"  [disabled]="!initqueryresponsefrm.valid"  class="btn btn-primary  pull-right" nextStep>Next(Query Responses) &nbsp;<i class="fa fa-angle-double-right"></i></button>

          </div>
    </wizard-step>


   
      <wizard-step stepTitle="Product Application Details" class="wizardStep-height">

          <app-meddev-generaldetails  [productGeneraldetailsfrm] ="productGeneraldetailsfrm"  
                        [devicesTypeData] ="devicesTypeData"  
                        [classificationData] ="classificationData"  
                        [commonNamesData] ="commonNamesData"  
                        [intendedEndUserData] ="intendedEndUserData"  
                        [productTypeData] ="productTypeData"  
                        [durationDescData] ="durationDescData" 
                        [confirmDataParam] ="confirmDataParam"  
                        [is_local_agent] ="is_local_agent"  
                        [confirmDataParam] ="confirmDataParam"
                        [trader_title] ="trader_title" 
                        [traderAccountsDetailsData] ="traderAccountsDetailsData" 
                        [isRegistrantDetailsWinshow] ="isRegistrantDetailsWinshow"
                        [zonesData] ="zonesData" 
                        [localagent_optionDisabled] ="localagent_optionDisabled" 
                        [gmdnCategoryData] ="gmdnCategoryData" 
                        [section_id] ="section_id"
                        [product_id] ="product_id">
          
                        </app-meddev-generaldetails>
          <div class="col-lg-12 div-footer">
            
            <button class="btn btn-primary pull-right" style="margin:5px;"
            nextStep type="button"><i class="fa fa-angle-double-right"></i>
              &nbsp;Next Product Information</button>
              <dx-button
                  text="Update product Application"
                  [disabled]="!productGeneraldetailsfrm.valid"
                  type="default"
                  icon="fa fa-save"
                  [elementAttr]="{ id: 'elementId', class: 'pull-right' }"
                  (onClick)="onSaveMedicalDevicesNotification()">
              </dx-button>
          </div>
        
      </wizard-step>
      <wizard-step stepTitle="Products Images" class="wizardStep-height">
        <div class=" wizard-content">
          <app-products-imagesdocuments [section_id] ="section_id"  [module_id] ="module_id" [status_id] ="status_id" [sub_module_id] ="sub_module_id" [application_code] ="application_code"></app-products-imagesdocuments>
        </div>
        <div class="wizard-divbottom">
          <button type="button" class="btn btn-primary" previousStep><i class="fa fa-angle-double-left"></i>Previous
             Products Images</button>
            
          <button type="button" class="btn btn-primary" nextStep>Next Documents Uploads<i class="fa fa-angle-double-right"></i></button>
         
        </div>
      </wizard-step>

      <wizard-step stepTitle="Documents" class="wizardStep-height">
        <div class=" wizard-content">
          <app-application-documents [section_id] ="section_id" [prodclass_category_id] ="prodclass_category_id" [query_ref_id] ="query_ref_id" [module_id] ="module_id" [status_id] ="status_id" [sub_module_id] ="sub_module_id" [application_code] ="application_code"></app-application-documents>
        </div>
        <div class="wizard-divbottom">
          <button type="button" class="btn btn-primary" previousStep><i class="fa fa-angle-double-left"></i>Previous
             Documents</button>
            

          <button type="button" class="btn btn-primary" (click)="funcCloseQueryWindow()">Close<i class="fa fa-angle-double-right"></i></button>
         
        </div>
      </wizard-step>
</wizard>
</dx-scroll-view>

</div>
</dx-popup>
