<input type="hidden" value="{{application_code}}"/>
<dx-data-grid class="table row-border hover" [dataSource]="productImagesUploadData" keyExpr="id"  (onToolbarPreparing)="onApplicationDocumentToolbar($event)">
  <dxo-filter-row [visible]="false"></dxo-filter-row>

  <dxo-paging [enabled]="true">
  </dxo-paging>
  <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
  </dxo-pager>
  <dxo-export [enabled]="true" fileName="appDocumentsUploadData" [allowExportSelectedData]="true"></dxo-export>

  <dxo-selection mode="multiple"></dxo-selection>
  <dxo-group-panel [visible]="true"></dxo-group-panel>

  
  <dxi-column  dataField="document_type" caption="Label Type"></dxi-column>
  <dxi-column [groupIndex]="0"  dataField="document_requirement" caption="Product Label Requirement"></dxi-column>

  <dxi-column dataField="file_name"></dxi-column>
  <dxi-column dataField="initial_file_name"></dxi-column>
  
  <dxi-column dataField="uploaded_on"></dxi-column>

  <dxi-column [width]="250" caption="Action"  [allowFiltering]="false" [allowSorting]="false"
    cellTemplate="cellTemplate">
      <div *dxTemplate="let data of 'cellTemplate'">
          <div class="row">
              <dx-button text="Upload" (onClick)="funAddApplicationUploadDetails(data)"
                  type="success" icon="upload">
                </dx-button> 
                <dx-menu  type="success"  (onItemClick)="appDocumentsActionColClick($event,data)"  [items]="documentMenuItems"></dx-menu>
          </div>
      </div>
  </dxi-column>
  
  <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
</dx-data-grid>

<!-- <a (click)="funcEditPackagingDetails(data)"><i class="fa fa-edit"></i>Edit</a>&nbsp;-->
<dx-popup class="popup" [width]="funcpopWidth(80)" [height]="650" [showTitle]="true" title="Document Preview" [dragEnabled]="false"
  [closeOnOutsideClick]="true" [(visible)]="isDocumentPreviewDownloadwin">
  <div *dxTemplate="let data of 'content'" class="row">
      <iframe [src]="document_previewurl" class="col-lg-12" height="650" ></iframe> 

  </div>

</dx-popup>


<dx-popup class="popup" [width]="funcpopWidth(80)" [height]="450" [showTitle]="true" title="Documents Version Preview" [dragEnabled]="false"
  [closeOnOutsideClick]="true" [(visible)]="isDocumentVersionPreviewDownloadwin">
  <div *dxTemplate="let data of 'content'" class="row">
      <dx-data-grid class="table row-border hover" [dataSource]="premDocumentsVersionsUploadData" keyExpr="id"  (onToolbarPreparing)="onPremisesDocumentToolbar($event)">
          <dxo-filter-row [visible]="true"></dxo-filter-row>

          <dxo-paging [enabled]="true">
          </dxo-paging>
          <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
          </dxo-pager>
          <dxo-export [enabled]="true" fileName="premDocumentsVersionUploadData" [allowExportSelectedData]="true"></dxo-export>

          <dxo-selection mode="multiple"></dxo-selection>
          <dxo-group-panel [visible]="true"></dxo-group-panel>
          <dxi-column dataField="name"></dxi-column>
          <dxi-column dataField="nodeType"></dxi-column>
          <dxi-column dataField="node_ref"></dxi-column>
          <dxi-column dataField="modifiedAt"></dxi-column>
          <dxi-column [width]="160" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
            cellTemplate="cellTemplate">
              <div *dxTemplate="let data of 'cellTemplate'">
                  
                <dx-menu (onItemClick)="appDocumentsActionColClick($event,data)"  [items]="documentVersionMenuItems"></dx-menu>
                
              </div>
          </dxi-column>
          
          <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
        </dx-data-grid>


  </div>

</dx-popup>

<dx-popup class="popup" [width]="funcpopWidth(30)" [height]="400" [showTitle]="true" title="Product Label Upload"
  [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="isLabelUploadPopupVisible">
  <div *dxTemplate="let data of 'content'">
    <form role="form" class="row" enctype="multipart/form-data" role="form" [formGroup]="appDocumentUploadfrm"
      (ngSubmit)="onpremisesDocumentUpload()">
      <div class="col-lg-12">
        <label>Product Label Requirement</label>
        <dx-select-box [readOnly]= true [dataSource]="appImagesUploadRequirement" valueExpr="document_requirement_id"  displayExpr="document_requirement"
          placeholder="Select Document Upload" [searchEnabled]="true" formControlName="document_requirement_id">

        </dx-select-box>
      </div>
     
      <div class="col-lg-12">
        <label>File Upload</label>
        <input type="file" (change)="onFileChange($event)" placeholder="Upload Application Document"/>
      </div>
      <div class="col-lg-12">
        <label>Description</label>
        <dx-text-area [height]="60" formControlName="description"  placeholder="Description"
          [(value)]="value">
        </dx-text-area>
      </div>
      <input type="hidden" formControlName="id"/>
      <input type="hidden" formControlName="node_ref" />
      <div class="col-lg-12">
        <dx-button text="Upload Application Document" [disabled]="!appDocumentUploadfrm.valid" (onClick)="onaplicationDocumentUpload()"
          type="success" icon="save" [elementAttr]="{ class: 'btn btn-primary; pull-right' }">
        </dx-button>
      </div>
    </form>
  </div>
</dx-popup>
