
<form role="form" enctype="multipart/form-data"  role="form" [formGroup]="supervisingPharmacistsdetailsfrm">
  <div class="row  wizard-content wizard-contentfieldset"> 
       <fieldset class="col-lg-12 row">
        <legend  class="contentfieldset">Change of the Supervising Pharmacist Details</legend>
          <div class="col-lg-4"> 
              <label class="control-label">P.S.U Registration No</label>
              <dx-text-box [readOnly]= "is_readonly" formControlName="psu_no"  
                 placeholder="P.S.U Registration No" 
                [showClearButton]="true">
              </dx-text-box>
          </div>
          <div class="col-lg-4  ">
              <label class="control-label">Full Names</label>
              <dx-text-box [readOnly]="true" formControlName="full_names"  placeholder="Full Name" [showClearButton]="true">
              </dx-text-box>
          </div>
          <div class="col-lg-4">
            <label>P.S.U Registration Date</label>
            <dx-date-box [readOnly]="true" formControlName="psu_date">
            </dx-date-box>
          </div>
          <div class="col-lg-4">
            <label class="control-label">Telephone No</label>
            <dx-text-box [readOnly]="true" formControlName="pharmacist_telephone" placeholder="Telephone" 
              [showClearButton]="true">
            </dx-text-box>
          </div>
          <div class="col-lg-4">
            <label class="control-label">Email Address</label>
            <dx-text-box [readOnly]="true" formControlName="pharmacist_email"  placeholder="Email" [showClearButton]="true">
            </dx-text-box>
          </div> 
          <div class="col-lg-4">
              <label for="ti" class="control-label">Qualification of Applicant</label>
                <dx-select-box [readOnly]="true" [dataSource]="qualificationsData" valueExpr="id" 
                   placeholder="Select Qualification" displayExpr="name" [searchEnabled]="true" formControlName="pharmacist_qualification">
                </dx-select-box>
              </div>
          <div class="col-lg-4">
            <label class="control-label">Country</label>
            <dx-select-box [readOnly]="true" [dataSource]="countries" valueExpr="id" displayExpr="name" 
              placeholder="Select Country" (onSelectionChanged)="onCoutryCboSelect($event)" [searchEnabled]="true" formControlName="pharmacist_country_id">
            </dx-select-box>
          </div>
          <div class="col-lg-4">
            <label for="ti" class="control-label">District</label>
            <dx-select-box [readOnly]="true" [dataSource]="districts" 
              valueExpr="id" 
              placeholder="Select District" displayExpr="name" 
              [searchEnabled]="true" formControlName="pharmacist_district_id" (onSelectionChanged)="oDistrictsCboSelect($event)" >
            </dx-select-box>
          </div> 
          <div class="col-lg-4">
            <label for="ti" class="control-label">Region</label>
            <dx-select-box  [readOnly]="true" [dataSource]="regions" valueExpr="id" 
              displayExpr="name" (onSelectionChanged)="onRegionsCboSelect($event)" [searchEnabled]="true" formControlName="pharmacist_region_id">
            </dx-select-box>
          </div>     
      </fieldset>  

 
      <div class="col-lg-12">
        <input type="hidden" [value]="pharmacist_id" formControlName="pharmacist_id" />
        <input type="hidden" formControlName="id" />
      </div>
   </div>
</form>






