
  <div class="accordion" id="productInfo">
    <div class="card">
      <div class="card-header" id="headingR">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#concomittant_drugs"
          aria-expanded="false" aria-controls="concomittant_drugs">
          CONCOMITANT DRUGS (Include generic name)  
        </button>
      </div>
      <div id="concomittant_drugs" class="collapse" aria-labelledby="headingR" data-parent="#productInfo">
        <div class="card-body no-padding">
          <div class='no-padding'>
            <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="false" (onToolbarPreparing)="onConcomittantDrugsPreparing($event)"
              [dataSource]="drugConcommitantData" keyExpr="id">
              <dxo-filter-row [visible]="false"></dxo-filter-row>
              <dxo-search-panel [visible]="true">
              </dxo-search-panel>
              <dxo-paging [enabled]="true">
              </dxo-paging>
              <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
              </dxo-pager>
              <dxo-export [enabled]="true" fileName="manufacturingFile" [allowExportSelectedData]="true"></dxo-export>
              <dxo-group-panel [visible]="true"></dxo-group-panel>
              <dxi-column [width]="200" caption="Action" name="command-editing" [allowFiltering]="false"
              [allowSorting]="false" cellTemplate="cellTemplate">
              <div *dxTemplate="let data of 'cellTemplate'">
                <dx-button text="Edit" (click)="funcEditConcomittantDrugsDetails(data)" 
                    type="success" icon="edit">
                  </dx-button> 
                <dx-button text="Delete" (click)="funcDeleteClinicalConcomittantDetails(data)" 
                    type="danger" icon="delete">
                </dx-button> 
              </div>
            </dxi-column>
              <dxi-column dataField="drug_name"></dxi-column>
              <dxi-column dataField="formulation"></dxi-column>
              <dxi-column dataField="routes_of_administration"></dxi-column>
              <dxi-column dataField="indication"></dxi-column>
              <dxi-column dataField="start_date"></dxi-column>
              <dxi-column dataField="end_date"></dxi-column>
              <dxi-column dataField="ongoing"></dxi-column>
              <dxi-column dataField="manufacturer_name"></dxi-column>
            </dx-data-grid>
          </div>
        </div>
      </div>
    </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#suspected_drugs"
        aria-expanded="false" aria-controls="suspected_drugs">
        Suspected Drugs Information
      </button>
    </div>
    <div id="suspected_drugs" class="collapse" aria-labelledby="headingThree" data-parent="#productInfo">
      <div class="card-body no-padding">
        <div class='no-padding'>
          <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="false" (onToolbarPreparing)="onDrugsPreparing($event)"
            [dataSource]="drugInformationData" keyExpr="id">
            <dxo-filter-row [visible]="false"></dxo-filter-row>
            <dxo-search-panel [visible]="true">
            </dxo-search-panel>
            <dxo-paging [enabled]="true">
            </dxo-paging>
            <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
            </dxo-pager>
            <dxo-export [enabled]="true" fileName="manufacturingFile" [allowExportSelectedData]="true"></dxo-export>

            
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxi-column [width]="200" caption="Action" name="command-editing" [allowFiltering]="false"
            [allowSorting]="false" cellTemplate="cellTemplate">
            <div *dxTemplate="let data of 'cellTemplate'">
              <dx-button text="Edit" (click)="funcEditSuspectedDrugsDetails(data)" 
                  type="success" icon="edit">
                </dx-button> 
              <dx-button text="Delete" (click)="funcDeleteClinicalDrugDetails(data)" 
                  type="danger" icon="delete">
              </dx-button> 
            </div>
          </dxi-column>
            <dxi-column dataField="drug_name"></dxi-column>
            <dxi-column dataField="formulation"></dxi-column>
            <dxi-column dataField="routes_of_administration"></dxi-column>
            <dxi-column dataField="indication"></dxi-column>
            <dxi-column dataField="start_date"></dxi-column>
            <dxi-column dataField="end_date"></dxi-column>
            <dxi-column dataField="ongoing"></dxi-column>
            <dxi-column dataField="manufacturer_name"></dxi-column>
          </dx-data-grid>
        </div>
      </div>
    </div>
   </div>
    <div class="card">
      <div class="card-headerdefined" id="headingM">

        <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#releventa_history"
          aria-expanded="false" aria-controls="releventa_history">
          OTHER RELEVANT HISTORY
        </button>
      </div>
      <div id="releventa_history" class="collapse show" aria-labelledby="headingM" data-parent="#productInfo">
        <div class="card-body no-padding">
          <div class="no-padding">
            <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="false" (onToolbarPreparing)="onSaeHistoryPreparing($event)"
              [dataSource]="saerelevantData" keyExpr="id">
              <dxo-filter-row [visible]="false"></dxo-filter-row>
              <dxo-search-panel [visible]="true">
              </dxo-search-panel>
              <dxo-paging [enabled]="true">
              </dxo-paging>
              <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
              </dxo-pager>
              <dxo-export [enabled]="true" fileName="ingredientsFile" [allowExportSelectedData]="true"></dxo-export>
              <dxo-group-panel [visible]="true"></dxo-group-panel>
              <dxi-column [width]="200" caption="Action" name="command-editing" [allowFiltering]="false"
                [allowSorting]="false" cellTemplate="cellTemplate">
                <div *dxTemplate="let data of 'cellTemplate'">
                  <dx-button text="Edit" (click)="funcEditRelevantHistoryDetails(data)" 
                    type="success" icon="edit">
                  </dx-button> 
                  <dx-button text="Delete" (click)="funcDeleteClinicalrelevantDetails(data)" 
                    type="danger" icon="delete">
                  </dx-button> 
                </div>
              </dxi-column>
              <dxi-column dataField="seriousness"></dxi-column>
              <dxi-column dataField="expectetation"></dxi-column>
              <dxi-column dataField="other_relevant_history"></dxi-column>
            </dx-data-grid>
          </div>
        </div>
      </div>
    </div>

<dx-popup class="popup"  [width]="funcpopWidth(85)" [height]="auto" [showTitle]="true" title="Clinical trial Concomittant Drugs"
[dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="concomittantDrugsDetailsWinVisible">
<div *dxTemplate="let data of 'content'">
<dx-scroll-view>
  <div class="col-lg-12" style="background:#fff;">
    <form enctype="multipart/form-data" role="form" [formGroup]="concomimitantDrugsDetailsFrm"
      (ngSubmit)="onsaveConcomittantDrugDetails()">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
          <label class="control-label">Drug Name</label>
          <dx-text-box  formControlName="brand_name" placeholder="Brand Name" [showClearButton]="true">
          </dx-text-box>
        </div>
        <div class=" col-xs-12 col-md-6 col-lg-6 col-xl-6 input-group">
          <div class="col-lg-8">
            <label class="control-label">Formulation</label>
            <dx-select-box [readOnly]="isReadOnlyProduct" [dataSource]="commonNameData" 
              valueExpr="id" displayExpr="name" 
              [searchEnabled]="true" formControlName="common_name_id">
            </dx-select-box>
          </div>
          <div class="col-lg-4">
            <dx-button
              text="Add"
              type="success"
              icon="fa fa-plus"
              [elementAttr]="{  class: 'pull-left' }"
              (onClick)="onAddNewGenericDetails()">
            </dx-button>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
          <label class="control-label">Dosage Form</label>
          <dx-select-box  [dataSource]="dosageFormData" valueExpr="id" displayExpr="name" 
             [searchEnabled]="true" formControlName="dosage_form_id">
          </dx-select-box> 
        </div>        
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
          <label class="control-label">Route of Administration</label>
          <dx-select-box  [dataSource]="routeOfAdminData" valueExpr="id" displayExpr="name" 
            [searchEnabled]="true" formControlName="routes_of_admin_id">
          </dx-select-box>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
          <label class="control-label">Indication</label>
          <dx-text-box  formControlName="indication">
          </dx-text-box>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
          <label class="control-label">Start Date </label>
          <dx-date-box [displayFormat]="'dd/MM/yy'" formControlName="start_date">
          </dx-date-box>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6"*ngIf="is_stopdate">
          <label class="control-label">End Date</label>
          <dx-date-box  [displayFormat]="'dd/MM/yy'"formControlName="end_date">
          </dx-date-box>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
          <label for="ti" class="control-label">Ongoing</label>
          <dx-select-box (onValueChanged)="onClinicalTrialDateChange($event)"
            [dataSource]="confirmationData" valueExpr="id"
            displayExpr="name" placeholder="Ongoing"
            [searchEnabled]="true"
            formControlName="ongoing_id">
          </dx-select-box>
        </div>   
        <div class=" col-xs-12 col-md-6 col-lg-6 col-xl-6 input-group">
          <div class="col-lg-10">
            <label class="control-label">Finished Product Manufacturer</label>
            <dx-text-box displayExpr="name"  formControlName="manufacturer_name" readOnly=true [showClearButton]="true">
            </dx-text-box>         
          </div>    
          <div class="col-lg-2">
            <dx-button  [elementAttr]="{ class: 'btn btn-primary pull-left'}" style="margin-top:30px  !important;"  
              text="Search Manufacturing Details"  type="default" (onClick)="funcSearchManufacturingSite()">
                <i class="fa fa-search"></i>Search Details
            </dx-button>
          </div>
        </div>
        <div class=" col-md-12 col-lg-12 col-xl-12">
            <input type="hidden" formControlName="registered_product_id"/>
            <input type="hidden" name="manufacturer_id" formControlName="manufacturer_id" />
            <input type="hidden" name="registration_date" formControlName="registration_date" />
            <input type="hidden" name="registration_no" formControlName="registration_no" />
            <input type="hidden"  formControlName="id"/>
        </div>
        <div class="col-lg-12 btn-margin-5">
           <button type="submit" (submit)="onsaveConcomittantDrugDetails()" [disabled]="!concomimitantDrugsDetailsFrm.valid"
            class="btn btn-primary"><i class="fa fa-user"></i> Save Details</button>
        </div>
      </div>
    </form>
  </div>
</dx-scroll-view>
</div>
</dx-popup>
<dx-popup class="popup"  [width]="funcpopWidth(85)" [height]="auto" [showTitle]="true" title="Clinical trial Suspected Drugs"
[dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="suspectedDrugsDetailsWinVisible">
<div *dxTemplate="let data of 'content'">
<dx-scroll-view>
  <div class="col-lg-12" style="background:#fff;">
    <form enctype="multipart/form-data" role="form" [formGroup]="suspectedDrugsDetailsFrm"
      (ngSubmit)="onsaveSuspectedDrugDetails()">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
          <label class="control-label">Drug Name</label>
          <dx-text-box  formControlName="brand_name" placeholder="Brand Name" [showClearButton]="true">
          </dx-text-box>
        </div>
        <div class=" col-xs-12 col-md-6 col-lg-6 col-xl-6 input-group">
          <div class="col-lg-8">
            <label class="control-label">Formulation</label>
            <dx-select-box [readOnly]="isReadOnlyProduct" [dataSource]="commonNameData" 
              valueExpr="id" displayExpr="name" 
              [searchEnabled]="true" formControlName="common_name_id">
            </dx-select-box>
          </div>
          <div class="col-lg-4">
            <dx-button
              text="Add"
              type="success"
              icon="fa fa-plus"
              [elementAttr]="{  class: 'pull-left' }"
              (onClick)="onAddNewGenericDetails()">
            </dx-button>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
          <label class="control-label">Dosage Form</label>
          <dx-select-box  [dataSource]="dosageFormData" valueExpr="id" displayExpr="name" 
             [searchEnabled]="true" formControlName="dosage_form_id">
          </dx-select-box> 
        </div>        
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
          <label class="control-label">Route of Administration</label>
          <dx-select-box  [dataSource]="routeOfAdminData" valueExpr="id" displayExpr="name" 
            [searchEnabled]="true" formControlName="routes_of_admin_id">
          </dx-select-box>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
          <label class="control-label">Indication</label>
          <dx-text-box  formControlName="indication">
          </dx-text-box>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
          <label class="control-label">Start Date </label>
          <dx-date-box [displayFormat]="'dd/MM/yy'" formControlName="start_date">
          </dx-date-box>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6"*ngIf="is_stopdate">
          <label class="control-label">End Date</label>
          <dx-date-box  [displayFormat]="'dd/MM/yy'"formControlName="end_date">
          </dx-date-box>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
          <label for="ti" class="control-label">Ongoing</label>
          <dx-select-box (onValueChanged)="onClinicalTrialDateChange($event)"
            [dataSource]="confirmationData" valueExpr="id"
            displayExpr="name" placeholder="Ongoing"
            [searchEnabled]="true"
            formControlName="ongoing_id">
          </dx-select-box>
        </div>   
        <div class=" col-xs-12 col-md-6 col-lg-6 col-xl-6 input-group">
          <div class="col-lg-10">
            <label class="control-label">Finished Product Manufacturer</label>
            <dx-text-box displayExpr="name"  formControlName="manufacturer_name" readOnly=true [showClearButton]="true">
            </dx-text-box>         
          </div>    
          <div class="col-lg-2">
            <dx-button  [elementAttr]="{ class: 'btn btn-primary pull-left'}" style="margin-top:30px  !important;"  
              text="Search Manufacturing Details"  type="default" (onClick)="funcSearchManufacturing()">
                <i class="fa fa-search"></i>Search Details
            </dx-button>
          </div>
        </div>
        <div class=" col-md-12 col-lg-12 col-xl-12">
            <input type="hidden" formControlName="registered_product_id"/>
            <input type="hidden" name="manufacturer_id" formControlName="manufacturer_id" />
            <input type="hidden" name="registration_date" formControlName="registration_date" />
            <input type="hidden" name="registration_no" formControlName="registration_no" />
            <input type="hidden"  formControlName="id"/>
        </div>
        <div class="col-lg-12 btn-margin-5">
           <button type="submit" (submit)="onsaveSuspectedDrugDetails()" [disabled]="!suspectedDrugsDetailsFrm.valid"
            class="btn btn-primary"><i class="fa fa-user"></i> Save Details</button>
        </div>
      </div>
    </form>
  </div>
</dx-scroll-view>
</div>
</dx-popup>

<dx-popup class="popup" [width]="funcpopWidth(40)" [height]="450" [showTitle]="true" title="preview Registered Products"
[dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="isPreviewApplicationsDetails">
<div *dxTemplate="let data of 'content'" style="background:#fff;">
  <dx-scroll-view>
    <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="false"  [columnHidingEnabled]="false"  [dataSource]="registeredProductsData" keyExpr="id" >
      <dxo-filter-row [visible]="false"></dxo-filter-row>
      <dxo-search-panel [visible]="true">
        </dxo-search-panel>
      <dxo-paging [enabled]="true">
      </dxo-paging>
      <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
      </dxo-pager>
  
      <dxo-export [enabled]="true" fileName="registeredProducts" [allowExportSelectedData]="true"></dxo-export>
  
      <dxo-selection mode="single"></dxo-selection>
      <dxo-group-panel [visible]="true"></dxo-group-panel>
      <dxi-column [width]=100 caption="Actions" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
        cellTemplate="cellTemplate">
        <div *dxTemplate="let d of 'cellTemplate'">
          <dx-menu [items]="contextMenu" displayExpr="text" orientation="horizontal" [hideSubmenuOnMouseLeave]="false"
            (onItemClick)="prodApplicationActionColClick($event,d)" submenuDirection="rightToTop">
          </dx-menu>
        </div>
      </dxi-column>

      <dxi-column  [groupIndex]="0"  dataField="section_name" caption="Product Category/Type"></dxi-column>
      <dxi-column dataField="brand_name"></dxi-column>
      <dxi-column dataField="common_name"></dxi-column>
      <dxi-column dataField="classification_name"></dxi-column>
      <dxi-column dataField="certificate_no"></dxi-column>
      <dxi-column dataField="expiry_date"></dxi-column>
      <dxi-column dataField="applicant_name" caption="Registrant"></dxi-column>
      <dxi-column dataField="local_agent" caption="Local Agent"></dxi-column>
      <dxi-column dataField="registration_status" caption="Registration Status"></dxi-column>
      <dxi-column dataField="validity_status" caption="Validity Status"></dxi-column>
    
      <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
    </dx-data-grid>
  </dx-scroll-view>
</div>

</dx-popup>

<dx-popup class="popup"  [width]="funcpopWidth(80)" [height]="450" [showTitle]="true" title="Registered Product Applications" [dragEnabled]="false"
[closeOnOutsideClick]="false" [(visible)]="isRegisteredProductsWinshow">
<div *dxTemplate="let data of 'content'" class="row">
  <dx-scroll-view>
    <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="true" [remoteOperations]='true' [dataSource]="registeredProductsData" keyExpr="id" >
        <dxo-filter-row [visible]="false"></dxo-filter-row>
        <dxo-search-panel [visible]="true">
        </dxo-search-panel>
        <dxo-paging [enabled]="true">
        </dxo-paging>
        <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
        </dxo-pager>

        <dxo-export [enabled]="true" fileName="registeredProducts" [allowExportSelectedData]="true"></dxo-export>

        <dxo-selection mode="single"></dxo-selection>
        <dxi-column caption="Actions" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
        cellTemplate="cellTemplate">
        <div *dxTemplate="let data of 'cellTemplate'">
           
            <dx-button
            text="Select"
            type="success"
            icon="fa fa-edit"  [disabled]="isReadOnly"
            [elementAttr]="{  class: 'pull-left' }"
            (onClick)="funSelectRegisteredProdcustsApp(data)">
        </dx-button>

          </div>
      </dxi-column>
        <dxi-column dataField="brand_name"></dxi-column>
        <dxi-column dataField="common_name"></dxi-column>
        <dxi-column dataField="classification_name"></dxi-column>
        <dxi-column dataField="certificate_no"></dxi-column>
        <dxi-column dataField="expiry_date"></dxi-column>
        <dxi-column dataField="applicant_name" caption="Registrant"></dxi-column>
        <dxi-column dataField="local_agent"></dxi-column>
        
      <dxo-paging [pageSize]="50"></dxo-paging>
      </dx-data-grid>
    </dx-scroll-view>
</div>
</dx-popup>



<dx-popup class="popup" [width]="funcpopWidth(80)" [height]="500" [showTitle]="true" title="Manufacturing Site Details"
[dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isManufacturerSitePopupVisible">
<div *dxTemplate="let data of 'content'">
<dx-scroll-view>
    <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="true"   (onToolbarPreparing)="onManufacturerPreparing($event)" [dataSource]="manufacturersSiteData" [remoteOperations]='true'   keyExpr="id">
              <dxo-filter-row [visible]="false"></dxo-filter-row>
              <dxo-search-panel [visible]="true">
              </dxo-search-panel>
              <dxo-paging [enabled]="true">
              </dxo-paging>
              <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
              </dxo-pager>
              <dxo-export [enabled]="true" fileName="manufacturingFile" [allowExportSelectedData]="true"></dxo-export>
              <dxo-selection mode="single"></dxo-selection>
              <dxo-group-panel [visible]="true"></dxo-group-panel>
              <dxi-column [width]="140" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
                  <div *dxTemplate="let data of 'cellTemplate'">
                              
                      <dx-button
                      text="Select Manufacturer"
                      type="success"
                      icon="fa fa-edit"  [disabled]="isReadOnly"
                      [elementAttr]="{  class: 'pull-left' }"
                      (click)="funcSelectManufacturer(data)">
                  </dx-button>
                  </div>
              </dxi-column>
              <dxi-column dataField="manufacturer_name"></dxi-column>
              <dxi-column dataField="country"></dxi-column>
              <dxi-column dataField="region"></dxi-column>
              <dxi-column dataField="district"></dxi-column>
              <dxi-column dataField="physical_address"></dxi-column>
              <dxi-column dataField="postal_address"></dxi-column>
              <dxi-column dataField="email_address"></dxi-column>
            
              
          <dxo-paging [pageSize]="50"></dxo-paging>
    </dx-data-grid>
  </dx-scroll-view>
</div>
</dx-popup>


<dx-popup class="popup" [width]="funcpopWidth(80)" [height]="500" [showTitle]="true" title="Manufacturing Site Details"
[dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isManufacturerPopupVisible">
<div *dxTemplate="let data of 'content'">
<dx-scroll-view>
    <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="true"   (onToolbarPreparing)="onManufacturerPreparing($event)" [dataSource]="manufactureringData" [remoteOperations]='true'   keyExpr="id">
              <dxo-filter-row [visible]="false"></dxo-filter-row>
              <dxo-search-panel [visible]="true">
              </dxo-search-panel>
              <dxo-paging [enabled]="true">
              </dxo-paging>
              <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
              </dxo-pager>
              <dxo-export [enabled]="true" fileName="manufacturingFile" [allowExportSelectedData]="true"></dxo-export>
              <dxo-selection mode="single"></dxo-selection>
              <dxo-group-panel [visible]="true"></dxo-group-panel>
              <dxi-column [width]="140" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
                  <div *dxTemplate="let data of 'cellTemplate'">
                              
                      <dx-button
                      text="Select Manufacturer"
                      type="success"
                      icon="fa fa-edit"  [disabled]="isReadOnly"
                      [elementAttr]="{  class: 'pull-left' }"
                      (click)="funcSelectSiteManufacturer(data)">
                  </dx-button>
                  </div>
              </dxi-column>
              <dxi-column dataField="manufacturer_name"></dxi-column>
              <dxi-column dataField="country"></dxi-column>
              <dxi-column dataField="region"></dxi-column>
              <dxi-column dataField="district"></dxi-column>
              <dxi-column dataField="physical_address"></dxi-column>
              <dxi-column dataField="postal_address"></dxi-column>
              <dxi-column dataField="email_address"></dxi-column>
            
              
          <dxo-paging [pageSize]="50"></dxo-paging>
    </dx-data-grid>
  </dx-scroll-view>
</div>
</dx-popup>



<dx-popup class="popup" [width]="funcpopWidth(65)" [height]=620 [showTitle]="true" title="New Manufacturer" [dragEnabled]="false" [closeOnOutsideClick]="" [(visible)]="isnewmanufacturerModalShow">

<div *dxTemplate="let data of 'content'" class="row">
  <dx-scroll-view>
    <div class="col-lg-12">
        <form enctype="multipart/form-data" role="form" [formGroup]="manufacturerFrm" (ngSubmit)="onAddManufacturerDetails()">

            <div class="row">

                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">

                    <label class="control-label">Manufacturer Site Name</label>
                    <dx-text-box formControlName="name">
                    </dx-text-box>

                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                    <label class="control-label">Country</label>

                    <dx-select-box [dataSource]="countries" valueExpr="id" displayExpr="name" placeholder="Select Country" (onSelectionChanged)="onCoutryCboSelect($event)" [searchEnabled]="true" formControlName="country_id">
                    </dx-select-box>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                    <label for="ti" class="control-label">Region/City</label>

                    <dx-select-box [dataSource]="regions" valueExpr="id" displayExpr="name" (onSelectionChanged)="onRegionsCboSelect($event)" [searchEnabled]="true" formControlName="region_id">
                    </dx-select-box>

                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                    <label for="ti" class="control-label">District(Optional)</label>

                    <dx-select-box [dataSource]="districts" valueExpr="id" placeholder="Select District" displayExpr="name" [searchEnabled]="true" formControlName="district_id">
                    </dx-select-box>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                    <label for="ti" class="control-label">Email Address</label>
                    <dx-text-box formControlName="email_address" placeholder="Email Address">
                    </dx-text-box>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                    <label for="ti" class="control-label">Postal Address</label>
                    <dx-text-box formControlName="postal_address" placeholder="Postal Address">
                    </dx-text-box>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                    <label for="ti" class="control-label">Telephone No</label>

                    <dx-text-box formControlName="telephone_no" placeholder="Telephone No">
                    </dx-text-box>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                    <label class="control-label col-lg-12">Mobile No</label>

                    <dx-text-box formControlName="mobile_no" placeholder="Mobile No">
                    </dx-text-box>
                </div>
                <div class="col-lg-12">
                  <label class="control-label">Physical Address</label>

                  <dx-text-area [height]="60" formControlName="physical_address" placeholder="Physical Address">
                  </dx-text-area>
              </div>
                <div class="col-lg-12 btn-margin-5">
                    <br />
                    <button type="submit" (submit)="onAddManufacturerDetails()" [disabled]="!manufacturerFrm.valid" class="btn btn-primary"><i
                      class="fa fa-user"></i> Save Manufacturer</button>
                </div>
            </div>
        </form>
    </div>
  </dx-scroll-view>
</div>
</dx-popup>

<dx-popup class="popup"  [width]="funcpopWidth(40)" [height]="500" [showTitle]="true" title="Add Details" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="addproductCommonNameModal">

  <div *dxTemplate="let data of 'content'" >
        <form [formGroup]="addProductParamsdetailsfrm" class="col-lg-12  div-nopadding" style="background: #fff;" enctype="multipart/form-data" role="form" (ngSubmit)="onSaveNewGenericDetails()">
            <div class="col-lg-12">
              <label class="control-label">Name</label>
              <dx-text-box formControlName="name" placeholder="name" [showClearButton]="true">
              </dx-text-box>
            </div>
            <div class="col-lg-12">
              <label class="control-label">Description</label>
              <dx-text-area formControlName="description" placeholder="description" >
              </dx-text-area>
            </div>
            <input type='hidden' value='{{section_id}}' formControlName="section_id"/>
            <input type='hidden' value = 'par_common_names' formControlName="tablename"/>

            <div class="col-lg-12">
                <dx-button
                    text="Save Details"
                    type="success"
                    icon="fa fa-plus"
                    [elementAttr]="{  class: 'pull-left' }"
                    (onClick)="onSaveNewGenericDetails()">
                </dx-button>
              </div>
          </form>
  </div>
</dx-popup>


<dx-popup class="popup" [width]="funcpopWidth(60)" [height]="500" [showTitle]="true" title="Relevant History" [dragEnabled]="false"
  [closeOnOutsideClick]="true" [(visible)]="isRelevantHistoryWin">
  <div *dxTemplate="let data of 'content'" class="row">
  <dx-scroll-view>
    <form [formGroup]="isrelevantsaehistoryfrm" enctype="multipart/form-data" role="form" (ngSubmit)="onsaveRelevantHistoryDetails()">
      <div class="row" style="background: #fff;">
        <div class="col-lg-12">
          <label class="control-label">Other Relevant History</label>
          <textarea  (input)="adjustTextAreaHeight($event)" formControlName="other_relevant_history"  
            placeholder="e.g. diagnostics, allergies, pregnancy with last month of period, etc." class="custom-textarea">
          </textarea>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
          <label class="control-label">Seriousness Criteria</label>
          <dx-select-box  [dataSource]="seriousnessData" valueExpr="id" displayExpr="name" 
             [searchEnabled]="true" formControlName="seriousness_id">
          </dx-select-box> 
        </div>  

        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
          <label class="control-label">Is this reaction expected?</label>
          <dx-select-box  [dataSource]="reactionExpectationData" valueExpr="id" displayExpr="name" 
            [searchEnabled]="true" formControlName="expected_id">
          </dx-select-box>
        </div>
          <div class="col-lg-6 form-group " >
            <input type="hidden" name="id"  formControlName = "id"/>
          </div>
        <div class="col-lg-12">
          <button type="submit" (submit)="onsaveRelevantHistoryDetails()" 
            [disabled]="!isrelevantsaehistoryfrm.valid"
            class="btn btn-primary  pull-right" style="margin:5px;"><i class="fa fa-save"></i>&nbsp;Save Details
        </button>
      </div>
    </div>
    </form>
  </dx-scroll-view>
  </div>
  </dx-popup>













