
<div class="accordion" id="clinicalInfo">
    <div class="card">
        <div class="card-headerdefined" id="heading8">
    
          <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#single_dose"
            aria-expanded="false" aria-controls="single_dose">
            Dose Toxicity Type Details
          </button>
        </div>
        <div id="single_dose" class="collapse show" aria-labelledby="heading8" data-parent="#clinicalInfo">
          <div class="card-body no-padding">
            <div class="no-padding">
    
                <dx-data-grid class="table row-border hover"  [allowColumnResizing]="true"  [columnHidingEnabled]="false" (onToolbarPreparing)="onToxicityDosagePreparing($event)"
                  [dataSource]="clinicaltraildosageToxicityData" keyExpr="id">
                  <dxo-filter-row [visible]="false"></dxo-filter-row>
                  <dxo-search-panel [visible]="true">
                  </dxo-search-panel>
                  <dxo-paging [enabled]="true">
                  </dxo-paging>
                  <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
                  </dxo-pager>
                  <dxo-export [enabled]="true" fileName="Investigators" [allowExportSelectedData]="true"></dxo-export>
                  <dxo-selection mode="single"></dxo-selection>
                  <dxo-group-panel [visible]="true"></dxo-group-panel>
                  <dxi-column [width]="200" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
                    cellTemplate="cellTemplate">
                    <div *dxTemplate="let data of 'cellTemplate'">
                      <dx-button
                          text="Edit"
                          type="success"
                          icon="fa fa-edit"  [disabled]="isReadOnly"
                          [elementAttr]="{  class: 'pull-left' }"
                          (onClick)="funcEditIMPHandlingDetails(data)">
                      </dx-button>
                        <dx-button
                        text="Delete"
                        type="danger"
                        icon="fa fa-trash"  [disabled]="isReadOnly"
                        [elementAttr]="{  class: 'pull-left' }"
                        (onClick)="funcDeleteDosageToxicityDetails(data)">
                        </dx-button>
              
                        

                      </div>
                  </dxi-column>
                  <dxi-column  dataField="generic_name" [groupIndex]="0" [allowEditing]="false" caption="Generic Name"></dxi-column>
                  <dxi-column dataField="dose_type"></dxi-column>
                  <dxi-column dataField="species"></dxi-column>
                  <dxi-column dataField="dose_route"></dxi-column>
                  <dxi-column dataField="mntd"></dxi-column>
                  <dxi-column dataField="major_findings"></dxi-column>        
                </dx-data-grid>
    
            </div>
          </div>
        </div>
      </div>
</div>
    
>

<dx-popup class="popup"  [width]="funcpopWidth(80)" [height]="550" [showTitle]="true" title="Toxicity Dosage Type"
[dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="dosageAddWinVisible">
<div *dxTemplate="let data of 'content'">
  <dx-scroll-view>
  <div class="col-lg-12">
    <form enctype="multipart/form-data" role="form" [formGroup]="toxicityDosageFrm"
      (ngSubmit)="onsaveToxicityDosage()">
      <div class="row">

        <div class=" col-xs-12 col-md-4 col-lg-4 col-xl-4">
          <label class="control-label">Generic Name</label>
          <dx-select-box [dataSource]="clinicalProductGenericData" valueExpr="id" displayExpr="generic_name"  
           [searchEnabled]="true" formControlName="common_name_id">
          </dx-select-box>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
          <label class="control-label">Toxicity Dosage Type</label>

          <dx-select-box [dataSource]="dosagetypeData" valueExpr="id" displayExpr="name" placeholder="Toxicity Dosage Type" [searchEnabled]="true" formControlName="dosage_type_id">
          </dx-select-box>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
          <label for="ti" class="control-label">Species</label>
          <dx-text-box formControlName="species" placeholder="Species">
          </dx-text-box>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
          <label for="ti" class="control-label">Dose/ Route</label>

          <dx-text-box formControlName="dose_route" placeholder="Dose/ Route  ">
          </dx-text-box>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
          <label class="control-label col-lg-12">NO(A)EL/LOEL/ MNTD</label>

          <dx-text-box formControlName="mntd" placeholder="NO(A)EL/LOEL/ MNTD">
          </dx-text-box>
        </div>
        <div class="col-lg-12">
          <label class="col-lg-12">Major findings</label>
          <textarea  (input)="adjustTextAreaHeight($event)" formControlName="major_findings" class="custom-textarea" >
          </textarea>
        </div>
        <input type="hidden"  formControlName="id"/>
        <div class="col-lg-12 btn-margin-5">
          <br />
          <button type="submit" (submit)="onsaveToxicityDosage()" [disabled]="!toxicityDosageFrm.valid"
            class="btn btn-primary"><i class="fa fa-user"></i> Save Details</button>
        </div>
      </div>
    </form>
  </div>
</dx-scroll-view>
</div>
</dx-popup>
