<div class="col-xl-12">
  <div class="breadcrumb-holder">
    <h1 class="main-title float-left">{{process_title}}</h1>
    <ol class="breadcrumb float-right">
      <li class="breadcrumb-item">Home</li>
    </ol>
    <div class="clearfix"></div>
  </div>
</div>

<div style="background: #fff; font-weight: bold;margin-bottom: 5px !important; height: 55px !important;">
  <div class="row">
    <div class="col-lg-3">
      <label
        style="font-weight: bold;margin: 5px; font-style:italics;font-size: 15px;font-style: italics; color: green;">
        Tracking No: <i> {{tracking_no}}</i> </label>
    </div>
    <div class="col-lg-4">
      <label
        style="font-weight: bold;margin: 5px; font-style:italics;font-size: 15px;font-style: italics;color: green;">Application
        Status:<i> {{status_name}}</i> </label>
    </div>

  </div>
</div>

<div class="row">
  
    <div class="col-lg-12"  *ngIf="status_id === 6 || status_id === 8 || status_id == 7">
        <wizard   navBarLayout ="large-filled-symbols" [navigationMode]='strict' style="background: #fff !important; height: 100% !important;">
          
            <wizard-step stepTitle="Application Queries" navigationSymbol="Step 1"  class="wizardStep-height">
      
                <div class="col-lg-12 wizard-content">
                     
                    <dx-data-grid class="table row-border hover row"  [columnHidingEnabled]="true" [dataSource]="applicationPreckingQueriesData" (onToolbarPreparing)="onAppQueryPreparing($event)"
                        [showBorders]="true">
                        <dxo-filter-row [visible]="false"></dxo-filter-row>
                        <dxo-load-panel [enabled]="true">
                        </dxo-load-panel>
                        <dxo-paging [enabled]="true">
                        </dxo-paging>
                        <dxo-selection mode="single"></dxo-selection>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20]" [showNavigationButtons]="true" [showInfo]="true"
                          infoText="Page #{0}. Total: {1} ({2} items)">
                        </dxo-pager>
                        <dxo-search-panel  [visible]="true" 
                          >
                        </dxo-search-panel>
                        <dxo-export [enabled]="true" fileName="Query Details" [allowExportSelectedData]="true"></dxo-export>
                        <dxi-column [width]="210" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
                            cellTemplate="cellTemplate">
                            <div *dxTemplate="let data of 'cellTemplate'">
                                <dx-button text="Query Response" (click)="funcInitQueryResponse(data)"
                                type="info" icon="edit"  [elementAttr]="{ class: 'btn btn-info;action-btn' }">
                              </dx-button>
                              <a (click)="funcDownloadQueryLetter(data)" class="action-btn"><i class="fa fa-download"></i>DownLoad Query Letter</a>&nbsp;
                          </div>
                        </dxi-column>
                        <dxi-column   [width] = 120 caption="Queried On" dataField="added_on"></dxi-column>
                        
                        <dxi-column name="command-editing"  caption="Query Details" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate1">
                            <div *dxTemplate="let data of 'cellTemplate1'">
                                <div [innerHTML]="data.data.queries_remarks"></div>
                            </div>
                        </dxi-column> 
                        <dxi-column name="command-editing"  caption="Query Response" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate2">
                            <div *dxTemplate="let data of 'cellTemplate2'">
                                <div [innerHTML]="data.data.response_txt"></div>
                            </div>
                        </dxi-column> 
                       
                    </dx-data-grid>
                  </div>
                  <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
                      <button (click)="onClinicalDashboard()" class="btn btn-info pull-left" style="margin:5px;" type="button"><i
                        class="fa fa-dashboard"></i>
                      &nbsp; Dashboard</button>
                    <button type="button" class="btn btn-info" (click)="funcValidateApplicationQueryresponse(1)">Next(Query Responses) &nbsp;<i class="fa fa-angle-double-right"></i></button>
                  </div>
            </wizard-step>
            <wizard-step stepTitle="Documents Uploads"  navigationSymbol="Step 2"  class="wizardStep-height">
              <div class="wizard-divtop">
                  <button type="button" class="btn btn-info pull-left" previousStep><i class="fa fa-angle-double-left"></i>Previous
                   </button>
                   <button type="button" class="btn btn-info  pull-right" (click)="funcValidateDocumentsDetails(2)">Next Query
                    Submission<i class="fa fa-angle-double-right"></i></button>
                </div>
              <div class=" wizard-content">
                <app-application-documents #documentComponent [section_id] ="doc_section_id"  [module_id] ="module_id" [status_id] ="status_id" [sub_module_id] ="sub_module_id" [application_code] ="application_code"></app-application-documents>
              </div>
            
            <div class="wizard-divbottom">
              <button type="button" class="btn btn-info  pull-left" previousStep><i class="fa fa-angle-double-left"></i>Previous
               </button>
              <button type="button" class="btn btn-info  pull-right" (click)="funcValidateDocumentsDetails(2)">Next Query
                Submission<i class="fa fa-angle-double-right">

                </i></button>
    
            </div>
    
          </wizard-step>
            <wizard-step navigationSymbol="Submission"  stepTitle="Query Response Submission">
                <div class="col-lg-12">
                  <dx-check-box text="Agree to the Declaration" [value]="undefined" (onValueChanged)="submissionsTermscheckbox($event)">
                  </dx-check-box>
                </div>
        
                <div class="wizard-divbottom">
                  <button class="btn btn-primary" type="button" previousStep>Previous Step</button>
                 
                  <button class="btn btn-primary" type="button"  (click)="onPermitsApplicationSubmit()">Submit
                    Application</button>
                </div>
              </wizard-step>

      </wizard>
    </div>
  <div class="col-lg-12"  *ngIf="status_id !== 6  && status_id !== 8 && status_id!== 9">
    <wizard style="background: #fff !important; height: 100% !important;"   navBarLayout ="large-filled-symbols">
      
      <wizard-step stepTitle="Application Details"  navigationSymbol="Step 1" 
         class="wizardStep-height">
          <app-clinical-generaldetails  [clinicaltrialGeneraldetailsfrm] ="clinicaltrialGeneraldetailsfrm"  
          [durationDescData] ="durationDescData"  
          [payingCurrencyData] ="payingCurrencyData"  
          [ctrethicsCommitteesData] ="ctrethicsCommitteesData"  
          [clinicalTrialRegistryData] ="clinicalTrialRegistryData"  
          [fastTrackOptionsData] ="fastTrackOptionsData"  
          [sub_module_id] ="sub_module_id"  
          [module_id] ="module_id"  
          [application_code] ="application_code" 
          [section_id] ="section_id"  
          [zoneData] ="zoneData"  
          [reg_clinical_trial_id] ="reg_clinical_trial_id"
          [zoneData] ="zoneData" 
          [regions] ="regions" 
          [countries] ="countries"
          [districts] ="districts" 
          [is_readonly] ="is_readonly"
          (docClinicalSectionsEvent)="doc_section_id=$event"
          >
          </app-clinical-generaldetails>
          <div class=" div-footer" style="border-top: 1px solid #ccc; ">
            <button (click)="onClinicalDashboard()" class="btn btn-primary pull-left" style="margin:5px;" 
            type="button"><i class="fa fa-angle-double-left"></i>
              &nbsp;Dashboard</button>
            <button type="submit" (click)="onSaveClincialTrialApplication()"
              [disabled]="!clinicaltrialGeneraldetailsfrm.valid" class="btn btn-info  pull-right"
              style="margin:5px;"><i class="fa fa-save"></i>&nbsp;Save Clinical Trial
              Application and Next</button>

          </div>
      </wizard-step>
      <wizard-step stepTitle="Summary of study activities in the approval period"  navigationSymbol="Step 2"  class="wizardStep-height">
        <div class="wizard-divtop">
            <button type="button" class="btn btn-info pull-left" previousStep>&nbsp;<i
                class="fa fa-angle-double-left"></i>Previous</button>
                 <button type="submit" (click)="onSaveClincialTrialSummaryApplication();funcValidateOtherClinicalDetails(2+initWizardPanel)"
              [disabled]="!ClinicaltrialRenewalSummaryfrm.valid" class="btn btn-info  pull-right"
              style="margin:5px;"><i class="fa fa-save"></i>&nbsp;Save and Next</button>
          </div>
          <app-non-clinicalfindings-additionalconsideration 
          [sub_module_id] ="sub_module_id"
          [ClinicaltrialRenewalSummaryfrm]="ClinicaltrialRenewalSummaryfrm" 
          [module_id] ="module_id"  
          [application_code] ="application_code"
          [durationDescData] ="durationDescData"
          [section_id] ="section_id"   
          [reg_clinical_trial_id] ="reg_clinical_trial_id"
          [is_readonly] ="is_readonly"
         
          >
          </app-non-clinicalfindings-additionalconsideration>
          <div class=" div-footer" style="border-top: 1px solid #ccc; ">
               <button type="button" class="btn btn-info pull-left" previousStep>&nbsp;<i
                  class="fa fa-angle-double-left"></i>Previous
              </button>
               <button type="submit" (click)="onSaveClincialTrialSummaryApplication();funcValidateOtherClinicalDetails(2+initWizardPanel)"
              [disabled]="!ClinicaltrialRenewalSummaryfrm.valid" class="btn btn-info  pull-right"
              style="margin:5px;"><i class="fa fa-save"></i>&nbsp;Save and Next</button>

          </div>
      </wizard-step>
      <wizard-step stepTitle="Summary of amendments during report period "  navigationSymbol="Step 3"  class="wizardStep-height">
        <div class="wizard-divtop">
              <button type="button" class="btn btn-info pull-left" previousStep>&nbsp;<i
                  class="fa fa-angle-double-left"></i>Previous</button>
               <button type="button"  (click)="funcValidateClinicalSummaryDetails('tra_clinicaltrial_summary_activity',3,'Summary Activities')" class="btn btn-info  pull-right" >Next<i class="fa fa-angle-double-right"></i></button>
            </div>
          <app-non-clinicalfindings-pharmacology 
          [sub_module_id] ="sub_module_id" 
          [module_id] ="module_id"  
          [application_code] ="application_code" 
          [section_id] ="section_id"   
          [reg_clinical_trial_id] ="reg_clinical_trial_id"
          [application_id] ="application_id"
          [is_readonly] ="is_readonly"
          >
          </app-non-clinicalfindings-pharmacology>
         <div class="wizard-divbottom">
              <button type="button" class="btn btn-info pull-left" previousStep>&nbsp;<i
                  class="fa fa-angle-double-left"></i>Previous</button>
               <button type="button"  (click)="funcValidateClinicalSummaryDetails('tra_clinicaltrial_summary_activity',3,'Summary Activities')" class="btn btn-info  pull-right" >Next<i class="fa fa-angle-double-right"></i></button>
            </div>
      </wizard-step>
      <wizard-step stepTitle="Clinical Trial Progress Report"  navigationSymbol="Step 4"  class="wizardStep-height">
          <div class="wizard-divtop">
            <button type="button" class="btn btn-info pull-left" previousStep>&nbsp;<i
                  class="fa fa-angle-double-left"></i>Previous
              </button>
               <button type="submit" (click)="onSaveClincialTrialProgressReportApplication();funcValidateOtherClinicalDetails(4+initWizardPanel)"
              [disabled]="!clinicaltrialReportingdetailsfrm.valid" class="btn btn-info  pull-right"
              style="margin:5px;"><i class="fa fa-save"></i>&nbsp;Save and Next </button>
          </div>
         <app-clinicalprogressrpt-general  
            [clinicaltrialReportingdetailsfrm] ="clinicaltrialReportingdetailsfrm"  
            [durationDescData] ="durationDescData"  
            [payingCurrencyData] ="payingCurrencyData"  
            [fastTrackOptionsData] ="fastTrackOptionsData"  
            [sub_module_id] ="sub_module_id"  
            [module_id] ="module_id" 
            [application_code] ="application_code" 
            [section_id] ="section_id"  
            [zoneData] ="zoneData"
            [clinicalStudySitesData]="clinicalStudySitesData" 
            [reg_clinical_trial_id] ="reg_clinical_trial_id"
            [zoneData] ="zoneData" 
            [regions] ="regions" 
            [countries] ="countries"
            [districts] ="districts" 
            [is_readonly] ="is_readonly"
            (docClinicalSectionsEvent)="doc_section_id=$event"
            >
            </app-clinicalprogressrpt-general>
          <div class=" div-footer" style="border-top: 1px solid #ccc; ">
               <button type="button" class="btn btn-info pull-left" previousStep>&nbsp;<i
                  class="fa fa-angle-double-left"></i>Previous
              </button>
               <button type="submit" (click)="onSaveClincialTrialProgressReportApplication();funcValidateOtherClinicalDetails(4+initWizardPanel)"
              [disabled]="!clinicaltrialReportingdetailsfrm.valid" class="btn btn-info  pull-right"
              style="margin:5px;"><i class="fa fa-save"></i>&nbsp;Save and Next </button>
          </div>
      </wizard-step>
      <wizard-step navigationSymbol="Step 5"  stepTitle="Documents Uploads" class="wizardStep-height">
          <div class="wizard-divtop">
              <button type="button" class="btn btn-info pull-left" previousStep><i class="fa fa-angle-double-left"></i>Previous
               Documents</button>
              <button type="button" class="btn btn-info pull-right" (click)="funcValidateDocumentsDetails(5)">Next Application
                Submission<i class="fa fa-angle-double-right"></i></button>
    
            </div>
          <div class=" wizard-content">
            <app-application-documents #documentComponent [section_id] ="section_id"  [module_id] ="module_id" [status_id] ="status_id" [sub_module_id] ="sub_module_id" [application_code] ="application_code"></app-application-documents>
          </div>
        
        <div class="wizard-divbottom">
          <button type="button" class="btn btn-info  pull-left" previousStep><i class="fa fa-angle-double-left"></i>Previous
           Documents</button>
          <button type="button" class="btn btn-info  pull-right" (click)="funcValidateDocumentsDetails(5)">Next Application
            Submission<i class="fa fa-angle-double-right"></i></button>

        </div>

      </wizard-step>
      <wizard-step navigationSymbol="Submission"  stepTitle="Completion & Submission">

          <form [formGroup]="onApplicationSubmissionFrm" class="col-lg-12  div-nopadding" style="background: #fff;" enctype="multipart/form-data" role="form" (ngSubmit)="onGmpApplicationSubmit()">
            <div class="col-lg-12">
              <b><label>Declaration /Terms and condition</label></b>
              <ul>
                  <p *ngFor="let guide of terms_conditions;">
                      {{guide.no}} {{guide.term_conditiondetails}}
                  </p>
              </ul>
          </div>
          <div class="col-lg-12">
              <dx-check-box text="Agree to the Declaration" [value]="undefined" (onValueChanged)="submissionsTermscheckbox($event)">
              </dx-check-box>
            </div>
            <div class="wizard-divbottom">
              <button class="btn btn-primary" type="button" previousStep>Previous Step</button>
              <button class="btn btn-primary" type="button" [disabled]="!termscheckbox" (click)="onPermitsApplicationSubmit()">Submit
                Application</button>
            </div>
        </form>
      </wizard-step>
    </wizard>
  </div>
</div>

<dx-popup  class="popup" [width]="funcpopWidth(80)"  [height]="650" [showTitle]="true" title="Application Registration Query Response"
    [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isInitalQueryResponseFrmVisible">
      <div *dxTemplate="let data of 'content'">
      <dx-scroll-view>

    <wizard [navigationMode]='strict' style="background: #fff !important; height: 100% !important;">
        <wizard-step stepTitle="Clinical Trial Application Queries" class="wizardStep-height">
  
            <div class="col-lg-12 wizard-content">
                <form role="form" class="row" style="background:#fff;" enctype="multipart/form-data" role="form" [formGroup]="initqueryresponsefrm"
                (ngSubmit)="onSaveinitqueryresponse()">
                <div class="col-lg-12">
                  <label>Query</label>
                  
                  <dx-html-editor [height]="200" readOnly ="true"  formControlName="queries_remarks"  placeholder="Query">
                      <dxo-toolbar>
                          <dxi-item formatName="separator"></dxi-item>

                      </dxo-toolbar>
                      <dxo-media-resizing
                          [enabled]=true>
                      </dxo-media-resizing>
                      
                  </dx-html-editor>
                </div>
              </form>
            
              </div>
              <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
                 
               
                  <button type="button"   class="btn btn-info  pull-right" nextStep>Next(Query Responses/Application Details) &nbsp;<i class="fa fa-angle-double-right"></i></button>
                  
                    <!--
                    <dx-button text="Download Query Letter" (onClick)="funcDownloadUploadedDoc()" type="success" icon="download" [elementAttr]="{ class:'btn btn-primary; pull-right'}">
                    </dx-button>-->
              </div>
        </wizard-step>
       <wizard-step stepTitle="Application Details"  navigationSymbol="Step 1" 
         class="wizardStep-height">
          <app-clinical-generaldetails  [clinicaltrialGeneraldetailsfrm] ="clinicaltrialGeneraldetailsfrm"  
          [durationDescData] ="durationDescData"  
          [payingCurrencyData] ="payingCurrencyData"  
          [ctrethicsCommitteesData] ="ctrethicsCommitteesData"  
          [clinicalTrialRegistryData] ="clinicalTrialRegistryData"  
          [fastTrackOptionsData] ="fastTrackOptionsData"  
          [sub_module_id] ="sub_module_id"  
          [module_id] ="module_id"  
          [application_code] ="application_code" 
          [section_id] ="section_id"  
          [zoneData] ="zoneData"  
          [reg_clinical_trial_id] ="reg_clinical_trial_id"
          [zoneData] ="zoneData" 
          [regions] ="regions" 
          [countries] ="countries"
          [districts] ="districts" 
          [is_readonly] ="is_readonly"
          (docClinicalSectionsEvent)="doc_section_id=$event"
          >
          </app-clinical-generaldetails>
          <div class=" div-footer" style="border-top: 1px solid #ccc; ">
            <button (click)="onClinicalDashboard()" class="btn btn-primary pull-left" style="margin:5px;" 
            type="button"><i class="fa fa-angle-double-left"></i>
              &nbsp;Dashboard</button>
            <button type="submit" (click)="onSaveClincialTrialApplication()"
              [disabled]="!clinicaltrialGeneraldetailsfrm.valid" class="btn btn-info  pull-right"
              style="margin:5px;"><i class="fa fa-save"></i>&nbsp;Save Clinical Trial
              Application and Next</button>

          </div>
      </wizard-step>
      <wizard-step stepTitle="Summary of study activities in the approval period"  navigationSymbol="Step 2"  class="wizardStep-height">
        <div class="wizard-divtop">
            <button type="button" class="btn btn-info pull-left" previousStep>&nbsp;<i
                class="fa fa-angle-double-left"></i>Previous</button>
                 <button type="submit" (click)="onSaveClincialTrialSummaryApplication();funcValidateOtherClinicalDetails(2+initWizardPanel)"
              [disabled]="!ClinicaltrialRenewalSummaryfrm.valid" class="btn btn-info  pull-right"
              style="margin:5px;"><i class="fa fa-save"></i>&nbsp;Save and Next</button>
          </div>
          <app-non-clinicalfindings-additionalconsideration 
          [sub_module_id] ="sub_module_id"
          [ClinicaltrialRenewalSummaryfrm]="ClinicaltrialRenewalSummaryfrm" 
          [module_id] ="module_id"  
          [application_code] ="application_code"
          [durationDescData] ="durationDescData"
          [section_id] ="section_id"   
          [reg_clinical_trial_id] ="reg_clinical_trial_id"
          [is_readonly] ="is_readonly"
         
          >
          </app-non-clinicalfindings-additionalconsideration>
          <div class=" div-footer" style="border-top: 1px solid #ccc; ">
               <button type="button" class="btn btn-info pull-left" previousStep>&nbsp;<i
                  class="fa fa-angle-double-left"></i>Previous
              </button>
               <button type="submit" (click)="onSaveClincialTrialSummaryApplication();funcValidateOtherClinicalDetails(2+initWizardPanel)"
              [disabled]="!ClinicaltrialRenewalSummaryfrm.valid" class="btn btn-info  pull-right"
              style="margin:5px;"><i class="fa fa-save"></i>&nbsp;Save and Next</button>

          </div>
      </wizard-step>
      <wizard-step stepTitle="Summary of amendments during report period "  navigationSymbol="Step 3"  class="wizardStep-height">
        <div class="wizard-divtop">
              <button type="button" class="btn btn-info pull-left" previousStep>&nbsp;<i
                  class="fa fa-angle-double-left"></i>Previous</button>
               <button type="button"  (click)="funcValidateClinicalSummaryDetails('tra_clinicaltrial_summary_activity',3,'Summary Activities')" class="btn btn-info  pull-right" >Next<i class="fa fa-angle-double-right"></i></button>
            </div>
          <app-non-clinicalfindings-pharmacology 
          [sub_module_id] ="sub_module_id" 
          [module_id] ="module_id"  
          [application_code] ="application_code" 
          [section_id] ="section_id"   
          [reg_clinical_trial_id] ="reg_clinical_trial_id"
          [application_id] ="application_id"
          [is_readonly] ="is_readonly"
          >
          </app-non-clinicalfindings-pharmacology>
         <div class="wizard-divbottom">
              <button type="button" class="btn btn-info pull-left" previousStep>&nbsp;<i
                  class="fa fa-angle-double-left"></i>Previous</button>
               <button type="button"  (click)="funcValidateClinicalSummaryDetails('tra_clinicaltrial_summary_activity',3,'Summary Activities')" class="btn btn-info  pull-right" >Next<i class="fa fa-angle-double-right"></i></button>
            </div>
      </wizard-step>
      <wizard-step stepTitle="Clinical Trial Progress Report"  navigationSymbol="Step 4"  class="wizardStep-height">
          <div class="wizard-divtop">
            <button type="button" class="btn btn-info pull-left" previousStep>&nbsp;<i
                  class="fa fa-angle-double-left"></i>Previous
              </button>
               <button type="submit" (click)="onSaveClincialTrialProgressReportApplication();funcValidateOtherClinicalDetails(4+initWizardPanel)"
              [disabled]="!clinicaltrialReportingdetailsfrm.valid" class="btn btn-info  pull-right"
              style="margin:5px;"><i class="fa fa-save"></i>&nbsp;Save and Next </button>
          </div>
         <app-clinicalprogressrpt-general  
            [clinicaltrialReportingdetailsfrm] ="clinicaltrialReportingdetailsfrm"  
            [durationDescData] ="durationDescData"  
            [payingCurrencyData] ="payingCurrencyData"  
            [fastTrackOptionsData] ="fastTrackOptionsData"  
            [sub_module_id] ="sub_module_id"  
            [module_id] ="module_id" 
            [application_code] ="application_code" 
            [section_id] ="section_id"  
            [zoneData] ="zoneData"
            [clinicalStudySitesData]="clinicalStudySitesData" 
            [reg_clinical_trial_id] ="reg_clinical_trial_id"
            [zoneData] ="zoneData" 
            [regions] ="regions" 
            [countries] ="countries"
            [districts] ="districts" 
            [is_readonly] ="is_readonly"
            (docClinicalSectionsEvent)="doc_section_id=$event"
            >
            </app-clinicalprogressrpt-general>
          <div class=" div-footer" style="border-top: 1px solid #ccc; ">
               <button type="button" class="btn btn-info pull-left" previousStep>&nbsp;<i
                  class="fa fa-angle-double-left"></i>Previous
              </button>
               <button type="submit" (click)="onSaveClincialTrialProgressReportApplication();funcValidateOtherClinicalDetails(4+initWizardPanel)"
              [disabled]="!clinicaltrialReportingdetailsfrm.valid" class="btn btn-info  pull-right"
              style="margin:5px;"><i class="fa fa-save"></i>&nbsp;Save and Next </button>
          </div>
      </wizard-step>
      <wizard-step stepTitle="Documents" class="wizardStep-height">
     
          <div class=" wizard-content">
            <app-application-documents #documentComponent [section_id] ="doc_section_id"  [module_id] ="module_id" [status_id] ="status_id" [sub_module_id] ="sub_module_id" [application_code] ="application_code"></app-application-documents>
          </div>
        <div class="wizard-divbottom">
          <button type="button" class="btn btn-info" previousStep><i class="fa fa-angle-double-left"></i>Previous
            Clinical Trial Investigators</button>
            <button type="button" class="btn btn-info" nextStep>Next Query Response<i class="fa fa-angle-double-right"></i></button>
        </div>

      </wizard-step>
      <wizard-step stepTitle="Query responses" class="wizardStep-height">
        <div class="col-lg-12 wizard-content">
          <form role="form" class="row" style="background:#fff;" enctype="multipart/form-data" role="form" [formGroup]="initqueryresponsefrm"
          (ngSubmit)="onSaveinitqueryresponse()">
          <div class="col-lg-12">
            <label>Query</label>
            
            <dx-html-editor [height]="200" readOnly ="true"  formControlName="queries_remarks"  placeholder="Query">
                <dxo-toolbar>
                    <dxi-item formatName="separator"></dxi-item>
                   
                </dxo-toolbar>
                <dxo-media-resizing
                    [enabled]=true>
                </dxo-media-resizing>
                
            </dx-html-editor>
          </div>
          <div class="col-lg-12">
            <label>Query Response</label>

            <dx-html-editor [height]="200" formControlName="response_txt"  placeholder="Query Response">
                <dxo-toolbar>
                    <dxi-item formatName="separator"></dxi-item>
                    
                </dxo-toolbar>
                <dxo-media-resizing
                    [enabled]=true>
                </dxo-media-resizing>
                
            </dx-html-editor>
          </div>
          <input type="hidden" formControlName="id"/>
          
          <input type="hidden" formControlName="query_id"/>
        </form>
      
        </div>
        <div class="wizard-divbottom">
          <button type="button" class="btn btn-info" previousStep><i class="fa fa-angle-double-left"></i>Previous
            Documents</button>
            <button type="button"  icon="save"  [disabled]="!initqueryresponsefrm.valid"  class="btn btn-info  pull-right"  (onClick)="onSaveinitqueryresponse()">Save Query Response(s)  &nbsp;<i class="fa fa-angle-double-right"></i></button>
           
            <button type="button" class="btn btn-info" (onClick)="onCloseQueryResponseWin()">Close of Submission<i class="fa fa-angle-double-right"></i></button>
        </div>
      </wizard-step>
  
  </wizard>
</dx-scroll-view>
</div>
</dx-popup>