
                    <dx-data-grid class="table row-border hover row"  *ngIf="status_id === 17" [columnHidingEnabled]="true" [dataSource]="applicationInitialQueriesData"
                [showBorders]="true">
                <dxo-filter-row [visible]="false"></dxo-filter-row>
                <dxo-load-panel [enabled]="true">
                </dxo-load-panel>
                <dxo-paging [enabled]="true">
                </dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20]" [showNavigationButtons]="true" [showInfo]="true"
                  infoText="Page #{0}. Total: {1} ({2} items)">
                </dxo-pager>
                <dxo-search-panel  [visible]="true" 
                  >
                </dxo-search-panel>
                <dxo-export [enabled]="true" fileName="Query Details" [allowExportSelectedData]="true"></dxo-export>
              
                <dxi-column [width] = 100 dataField="tracking_no"></dxi-column>
                <dxi-column   [width] = 90  dataField="added_on"></dxi-column>
                <dxi-column   cssClass= 'WrappedColumnClass'  caption="Query Details"  dataField="queries_remarks" ></dxi-column>
                <dxi-column  cssClass= 'WrappedColumnClass' caption="Query Response" dataField="response_txt" ></dxi-column>
                <dxi-column [width]="120" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
                cellTemplate="cellTemplate">
                <div *dxTemplate="let data of 'cellTemplate'">
                  <a (click)="funcInitQueryResponse(data)" style="cursor: pointer;"><i class="fa fa-edit"></i>Query Response</a>&nbsp;
              </div>
            </dxi-column>
            </dx-data-grid>
          <div class="row"  *ngIf="status_id === 17" >

          </div>

<dx-popup class="popup" [width]="850" [height]="400" [showTitle]="true" title="Premises Registration Query"
  [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isInitalQueryDataWinVisible">
  <div *dxTemplate="let data of 'content'">
      <dx-data-grid class="table row-border hover "  [columnHidingEnabled]="true" [dataSource]="applicationInitialQueriesData"
            [showBorders]="true">
            <dxo-filter-row [visible]="false"></dxo-filter-row>
            <dxo-load-panel [enabled]="true">
            </dxo-load-panel>
            <dxo-paging [enabled]="true">
            </dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20]" [showNavigationButtons]="true" [showInfo]="true"
              infoText="Page #{0}. Total: {1} ({2} items)">
            </dxo-pager>
            <dxo-search-panel  [visible]="true" 
              >
            </dxo-search-panel>
            <dxo-export [enabled]="true" fileName="Query Details" [allowExportSelectedData]="true"></dxo-export>
          
            <dxi-column [width] = 100 dataField="tracking_no"></dxi-column>
            <dxi-column   [width] = 90  dataField="added_on"></dxi-column>
            <dxi-column   cssClass= 'WrappedColumnClass'  caption="Query Details"  dataField="queries_remarks" ></dxi-column>
            <dxi-column  cssClass= 'WrappedColumnClass' caption="Query Response" dataField="response_txt" ></dxi-column>
            <dxi-column [width]="120" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
                cellTemplate="cellTemplate">
                <div *dxTemplate="let data of 'cellTemplate'">
                  <a (click)="funcInitQueryResponse(data)"><i class="fa fa-edit"></i>Query Response</a>&nbsp;
              </div>
            </dxi-column>
    </dx-data-grid>
  </div>
  </dx-popup>

  <dx-popup class="popup" [width]="650" [height]="300" [showTitle]="true" title="Application Registration Query Response"
[dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isInitalQueryResponseFrmVisible">
<div *dxTemplate="let data of 'content'">
  <form role="form" class="row" style="background:#fff;" enctype="multipart/form-data" role="form" [formGroup]="initqueryresponsefrm"
    (ngSubmit)="onSaveinitqueryresponse()">
    <div class="col-lg-12">
      <label>Query</label>
      <dx-text-area [height]="60" readOnly ="true" formControlName="queries_remarks"  placeholder="Query"
      >
      </dx-text-area>
    </div>
    <div class="col-lg-12">
      <label>Query Response</label>
      <dx-text-area [height]="60" formControlName="response_txt"  placeholder="Query Response"
        >
      </dx-text-area>
    </div>
    <input type="hidden" formControlName="id"/>
    <div class="col-lg-12">
      <dx-button text="Save Response" [disabled]="!initqueryresponsefrm.valid" (onClick)="onSaveinitqueryresponse()"
        type="success" icon="save" [elementAttr]="{ class: 'btn btn-primary; pull-right' }">
      </dx-button>
    </div>
  </form>
</div>
</dx-popup>