 <form role="form" enctype="multipart/form-data" role="form" [formGroup]="productGeneraldetailsfrm">
    <div class="row wizard-content">
      <!-- Start of variation -->
      <fieldset class="col-lg-12 row"*ngIf="sub_module_id == 9" >
          <legend  class="contentfieldset">Variation Request Initialization</legend>
          <div class="col-lg-4">
            <label>Variation Categories</label>
            <dx-select-box  (onSelectionChanged)="onVariationCategorySelect($event)" [dataSource]="variationCategoriesData" valueExpr="id"   displayExpr="name" [searchEnabled]="true"
              placeholder="Variation Categories" formControlName="variation_category_id">
            </dx-select-box>
          </div>
          <div class="col-lg-4">
            <label>Variation Sub-Categories</label>
            <dx-select-box  (onSelectionChanged)="onVariationSubCategorySelect($event)" [dataSource]="variationSubCategoriesData" valueExpr="id"    displayExpr="name" [searchEnabled]="true"
              placeholder="Variation Sub-Categories" formControlName="variation_subcategory_id">
            </dx-select-box>
          </div>
          <div class="col-lg-4">
            <label>Variation Description</label>
            <dx-select-box  (onSelectionChanged)="onVariationDescCategorySelect($event)" [dataSource]="variationDescData" valueExpr="id"    displayExpr="name" [searchEnabled]="true"
              placeholder="Variation Description" formControlName="variation_description_id">
            </dx-select-box>
          </div>
          <div class="col-lg-4">
            <label>Variation Sub-Description</label>
            <dx-select-box  (onSelectionChanged)="onVariationSubDescCategorySelect($event)" [dataSource]="variationSubDescData" valueExpr="id"    displayExpr="name" [searchEnabled]="true"
              placeholder="Variation Sub-Description" formControlName="variation_subdescription_id">
            </dx-select-box>
          </div>
          <div class="col-lg-4">
            <label>Reporting Category/Type</label>
            <dx-select-box  (onSelectionChanged)="onVariationCategorySelect($event)" [dataSource]="typeofVariationData" valueExpr="id"   displayExpr="name" [searchEnabled]="true"
              placeholder="Reporting Category/Type" formControlName="variation_type_id">
            </dx-select-box>
          </div>
      </fieldset>
      <fieldset class="col-lg-12 row"*ngIf="sub_module_id == 9" >
        <legend  class="contentfieldset">Application Details</legend>
        <div class="col-lg-4">
          <label>Medicine Type</label>
            <dx-select-box [readOnly]="true" [dataSource]="sectionsData" valueExpr="id" displayExpr="name" placeholder="Select Product Type"  [searchEnabled]="true" formControlName="section_id">
            </dx-select-box>
        </div>
        <div class="col-lg-4">
          <label>Assessment Type</label>
    
          <dx-select-box  (onSelectionChanged)="onAssessmentTypesCboSelect($event)" [dataSource]="assessmentTypesData" valueExpr="id"   [readOnly]= "isReadOnly"   displayExpr="name" [searchEnabled]="true"
            placeholder="Select Assessment Types" formControlName="assessmentprocedure_type_id">
          </dx-select-box>
        </div>

        <div class="col-lg-4">
          <label>Certification Status</label>
    
          <dx-select-box  [dataSource]="assessmentProcedureData" valueExpr="id"   [readOnly]= "isReadOnly"   displayExpr="name" [searchEnabled]="true"
            placeholder="Select Assessment Procedure" formControlName="assessment_procedure_id">
          </dx-select-box>
        </div>


        <div class="col-lg-4"  *ngIf="section_id == 7 || section_id == 18">
            <label class="control-label">Registration Type of Vet-Medicines  </label>
            <dx-select-box  [dataSource]="vetmedicinesRegistrationtypeData" valueExpr="id"   [readOnly]= "isReadOnly"   displayExpr="name" [searchEnabled]="true"
            placeholder="Select Registration Type of Veterinary Medicines" formControlName="vetmedicines_registrationtype_id">
          </dx-select-box>
        </div>
        <div class="col-lg-8" *ngIf="hasCountriesSelection">
            <label class="control-label">Countries Selection(Submit for Registration) </label>
            <dx-tag-box
                [items]="prodAssessmentCountriesDta"
                formControlName="prodassessment_countries_ids"
                placeholder="Countries Selection(Submit for Registration)"
                valueExpr="id" [readOnly]="is_readonly" 
                [showSelectionControls]="true"
                applyValueMode="useButtons"
                displayExpr="name">
            </dx-tag-box>
    
        </div>
        <div class="col-lg-4">
          <label class="control-label">Proprietary Name</label>
          <dx-text-box (onFocusOut) ="onValidateBrandNameDetails($event)" formControlName="brand_name" [readOnly]= "isReadOnly" placeholder="Enter Proprietary Name" [showClearButton]="true">
          </dx-text-box>
        </div>
        <div class="col-lg-4">
          <label for="ti" class="control-label">Classification</label>
          <dx-select-box [dataSource]="classificationData"  valueExpr="id" displayExpr="name" [searchEnabled]="true"
           placeholder="Select Classification" formControlName="classification_id">
          </dx-select-box>
        </div>
        <div class="col-lg-4" *ngIf="section_id == 1">
          <label class="control-label">Product Class Category</label>
          <dx-select-box [dataSource]="productCategoryData" valueExpr="id" displayExpr="name" [searchEnabled]="true"
            placeholder=" Product Category"
            formControlName="product_category_id">
          </dx-select-box>
        </div>
        <div class="col-lg-4"*ngIf="field_hidden">
           <label for="ti" class="control-label">Generic Name(Optional)</label>
           <dx-select-box [dataSource]="commonNamesData"   [readOnly]= "isReadOnly"  valueExpr="id" displayExpr="name" [searchEnabled]="true"
             placeholder="Select Common name"   (onSelectionChanged)="onCommonNameCboSelect($event)" formControlName="common_name_id">
           </dx-select-box>
          </div>
          <div class="col-lg-4 ">
           <label for="ti" class="control-label">ATC Code(Optional)</label>
            <dx-select-box [dataSource]="ATCCodesData" valueExpr="id" displayExpr="name" 
              [searchEnabled]="true"
              placeholder="Select ATC Code"   (onSelectionChanged)="onATCCboSelect($event)" formControlName="atc_code_id">
            </dx-select-box>
          </div>
<!--           <div class="col-lg-4 ">
            <label for="ti" class="control-label">ATC Description(Optional)</label>
            <dx-text-box formControlName="atc_code_description" readOnly= true [showClearButton]="true">
            </dx-text-box>
          </div> -->
        <div class="col-lg-4 ">
          <label for="ti" class="control-label">Therapeutic Group</label>
          <dx-select-box [dataSource]="therapeuticGroupData" valueExpr="id" displayExpr="name" 
            [searchEnabled]="true" [readOnly]= "isReadOnly" 
            placeholder="Select Therapeutic Group" formControlName="therapeutic_group">
          </dx-select-box>
        </div>
        <div class="col-lg-4">
          <label class="control-label">Product Strength</label>

          <dx-text-box formControlName="product_strength" placeholder="Product Strength"  [readOnly]= "isReadOnly" [showClearButton]="true">
          </dx-text-box>
        </div>
         <div class="row" *ngIf="prodclass_category_id == 8 || prodclass_category_id == 12">
            <div class="col-lg-4 ">
                    <label for="ti" class="control-label">Medical devices Type</label>
                    <dx-select-box [dataSource]="devicesTypeData" valueExpr="id" displayExpr="name" (onValueChanged)="onclassificationDevTypeDataSelect($event)"  [readOnly]= "isReadOnly"  [searchEnabled]="true"
                     placeholder="Select Device Type" formControlName="device_type_id">
                    </dx-select-box>
                </div>
                <div class="col-lg-4 ">
                   <label for="ti" class="control-label">Classification</label>
                    <dx-select-box [dataSource]="classificationData"  (onValueChanged)="onclassificationDevTypeDataSelect($event)"  valueExpr="id" displayExpr="name"  [readOnly]= "isReadOnly" [searchEnabled]="true"
                    placeholder="Select Classification" formControlName="classification_id">
                    </dx-select-box>
                </div>
                
                <div class="col-lg-4">
                    <label class="control-label">Intended Use</label>
                    <dx-text-box formControlName="intended_use" placeholder="Enter Intended Use"  [readOnly]= "isReadOnly" [showClearButton]="true">
                    </dx-text-box>
                </div>

                <div class="col-lg-4">
                    <label class="control-label">Intended User</label>
                      <dx-select-box [dataSource]="intendedEndUserData"
                         valueExpr="id"  displayExpr="name"  [readOnly]= "isReadOnly"  [searchEnabled]="true"
                        placeholder=" Intended User" formControlName="intended_enduser_id">
                      </dx-select-box>
                </div>

                <div class="col-lg-4">
                    <label class="control-label">GMDN Code</label>
                      <dx-text-box formControlName="gmdn_code" placeholder="Enter GMDN Code"  [showClearButton]="true">
                      </dx-text-box>
                        <!--
                       <dx-select-box [dataSource]="gmdnCodeData" (onSelectionChanged)="ongmdnCodeDataSelect($event)"  valueExpr="id" displayExpr="name"  [readOnly]= "isReadOnly"  [searchEnabled]="true"
                          placeholder="GMDN Code" formControlName="gmdn_code">
                        </dx-select-box>
                      -->
                </div>

                <div class="col-lg-4">
                    <label class="control-label">GMDN Term</label>
                      <dx-text-box formControlName="gmdn_term" placeholder="Enter GMDN Term"  [showClearButton]="true">
                      </dx-text-box>
                </div>

                <div class="col-lg-4">
                    <label class="control-label">GMDN Category</label>
      
                      <dx-select-box [dataSource]="gmdnCategoryData" valueExpr="id" displayExpr="name" [searchEnabled]="true"  [readOnly]= "isReadOnly" 
                        placeholder=" GMDN Category" formControlName="gmdn_category">
                      </dx-select-box>
                </div>
                
          </div> 
            <div class="col-lg-4">
              <label class="control-label">Distribution Category</label>
                <dx-select-box [dataSource]="distributionCategoryData" [readOnly]= "isReadOnly" valueExpr="id" displayExpr="name" [searchEnabled]="true"
                placeholder="Strength Distribution Category" formControlName="distribution_category_id">
                </dx-select-box>
              </div>
              <div class="col-lg-4" >
                <label class="control-label">Proposed shelf life (in months)</label>
                <dx-number-box formControlName="shelf_life" placeholder="shelf_life" [showClearButton]="true">
                </dx-number-box>
                  </div>
                  <div class="col-lg-4">
                    <label class="control-label">Proposed storage condition(°C)</label>
                    <dx-text-box formControlName="storage_condition" [readOnly]= "isReadOnly" [showClearButton]="true">
                    </dx-text-box>
                    
                  </div>
                  <div class="col-lg-4">
                    <label class="control-label">Proposed shelf life (after first opening container months)</label>
                    <dx-text-box formControlName="shelf_lifeafter_opening" [readOnly]= "isReadOnly" [showClearButton]="true">
                    </dx-text-box>
                    
                  </div>
                  <div class="col-lg-4">
                    <label class="control-label">Proposed storage conditions after first opening(°C) </label>
                    <dx-text-box formControlName="storage_conditionafter_opening" [readOnly]= "isReadOnly" [showClearButton]="true">
                    </dx-text-box>
                    
                  </div>
                  <div class="col-lg-4">
                    <label class="control-label">Dosage Form</label>
      
                    <dx-select-box [dataSource]="dosageFormsData" [readOnly]= "isReadOnly" valueExpr="id" displayExpr="name" [searchEnabled]="true"
                      placeholder=" Dosage Form" formControlName="dosage_form_id">
                    </dx-select-box>
                  </div>
                <div class="col-lg-4">
                    <label class="control-label">Route Of Administration</label>
                    
                    <dx-tag-box
                        [items]="routeOfAdministrationData"
                        formControlName="route_of_administration_id"
                        placeholder="Route of Administrations..."
                        valueExpr="id"
                        [showSelectionControls]="true"
                        applyValueMode="useButtons"
                        displayExpr="name"
                        class="custom-dx-tag-box">
                    </dx-tag-box>
                </div>



                 <!--  <div class="col-lg-4">
                    <label class="control-label">List EAC countries and SRAs where the product is approved.  </label>
                    
                    <dx-tag-box
                      [items]="routeOfEACCountriesData"
                      formControlName="shelf_life"
                      placeholder="EAC countries"
                      valueExpr="id"
                      [showSelectionControls]="true"
                      applyValueMode="useButtons"
                      displayExpr="name">
                      
                  </dx-tag-box>
                  </div> -->

                  


                   <div class="col-lg-4" >
                    <label class="control-label">Proposed shelf life (after reconstitution or dilution months)</label>
      
                    <dx-number-box formControlName="shelf_life_after_dilution" placeholder="shelf_life" [showClearButton]="true">
                    </dx-number-box>
                    
                  </div>

                  <div class="col-lg-12"  *ngIf="section_id == 7 || section_id == 18">
                    <label class="control-label">Target species(vet)</label>
                    
                    <dx-tag-box
                      [items]="targetSpeciesData"
                      formControlName="target_species_id"
                      placeholder="Target species..."
                      valueExpr="id"
                      [showSelectionControls]="true"
                      applyValueMode="useButtons"
                      displayExpr="name">
                      
                  </dx-tag-box>
                </div>
                <div class="col-lg-4 div-nopadding" *ngIf="section_id == 2">
                  <label class="control-label">Is product protected by a current patent </label>
                    <dx-select-box [dataSource]="confirmDataParamAll"(onValueChanged)="onHasCurrentPatent($event)"
                       valueExpr="id" displayExpr="name" [searchEnabled]="true"  [readOnly]= "isReadOnly" 
                        placeholder="Is product protected by a current patent" formControlName="has_current_patent">
                      </dx-select-box>
                    </div>
                    <div class="col-lg-6" *ngIf="isonHasCurrentPatent">
                     <div class="row">
                        <div class="col-lg-4">
                          <label class="control-label">Patent Holder</label>
                          <dx-text-box formControlName="patent_holder" placeholder="Holder"></dx-text-box>
                        </div>
                        <div class="col-lg-4">
                          <label class="control-label">Patent No</label>
                          <dx-text-box formControlName="patent_no" placeholder="Number"></dx-text-box>
                        </div>
                        <div class="col-lg-4">
                          <label class="control-label">Country</label>
                          <dx-select-box [dataSource]="countriesData" valueExpr="id" displayExpr="name" placeholder="Select Country"
                                         [searchEnabled]="true" formControlName="manufacturing_country_id">
                          </dx-select-box>
                        </div>
                      </div>
                  </div>
                  <!--   <div class="col-lg-6" *ngIf="hasReferenceMaximumResidue_limit">
                      <label class="control-label">Please tell the reference Maximum Residue Limit(MRLs)</label>
                        <dx-text-area formControlName="referencemaximum_residue_limit" placeholder="Appropriate MRLs" >
                        </dx-text-area>
                    </div> -->
                    <div class="col-lg-4">
                      <label class="control-label">Product Manufacturing Country</label>
                      <dx-tag-box
                        [items]="countriesData"  
                        valueExpr="id" 
                        displayExpr="name" 
                        [searchEnabled]="true"
                        [showSelectionControls]="true"
                        applyValueMode="useButtons"
                        placeholder="Product Manufacturing Country" 
                        formControlName="manufacturing_country_id">
                      </dx-tag-box>
                  </div>
                  <div class="col-lg-4">
                      <label class="control-label">Product Origin</label>
                      <dx-select-box [dataSource]="productTypeData" valueExpr="id" displayExpr="name" [searchEnabled]="true"   [readOnly]="readOnlyOrigin" 
                        placeholder="Product Origin" formControlName="product_origin_id">
                      </dx-select-box>
                    </div>
                  <div class="col-lg-12">
                    <label class="control-label">Indications</label>
                    <dx-text-area [height]="60" [readOnly]= "isReadOnly"  formControlName="indication"  placeholder="Enter Indications">
                    </dx-text-area>
                  </div>
                  <div class="col-lg-12">
                    <label class="control-label">Visual description e.g Color</label>
                    <dx-text-area [height]="60" formControlName="physical_description" [readOnly]= "isReadOnly" placeholder="Physical description"
                      >
                    </dx-text-area>
                  </div>
                  <div class="col-lg-4 input-group">
                    <div class="col-lg-10">
                      <label class="control-label">Local Technical Representative</label>
                      <dx-text-box  formControlName="premise_name" 
                       readOnly=true [showClearButton]="true">
                      </dx-text-box>
                      <input type="hidden" name="premise_id" formControlName="premise_id" />
                    </div>
                    <div class="col-lg-2">
      
                      <button type="button" (click)="onRegisteredPremisesSearch()" 
                        class="btn btn-primary  pull-right" style="margin-top:30px  !important;"><i class="fa fa-search"></i>Search
                        Local Technical Representative</button>
                    </div>
                  </div>
                 <!--  <div class="col-lg-4 "  *ngIf="prodclass_category_id == 1 || prodclass_category_id == 11">
                    <label for="ti" class="control-label">Global Trade Item number</label>
                    <dx-text-box formControlName="gtin_number" [readOnly]= "isReadOnly" [showClearButton]="true">
                    </dx-text-box>
                  </div>
                  <div class="col-lg-4 "  *ngIf="prodclass_category_id == 1 || prodclass_category_id == 11">
                    <label for="ti" class="control-label">Global Location Number</label>
                    <dx-text-box formControlName="glocation_number" [readOnly]= "isReadOnly" [showClearButton]="true">
                    </dx-text-box>
                  </div> -->
            </fieldset>
            <!-- end of variation -->

            <!-- Start newproduct Registration -->

            <div class="col-lg-12 row" *ngIf ="sub_module_id != 9">
              <div class="col-lg-4">
                <label>Medicine Type</label>
                  <dx-select-box [readOnly]="true" [dataSource]="sectionsData" valueExpr="id" displayExpr="name" placeholder="Select Product Type"  [searchEnabled]="true" formControlName="section_id">
                  </dx-select-box>
              </div>
              <div class="col-lg-4">
                <label for="ti" class="control-label">Classification</label>
                <dx-select-box [dataSource]="classificationData"  valueExpr="id" displayExpr="name" [searchEnabled]="true"
                 placeholder="Select Classification" formControlName="classification_id">
                </dx-select-box>
              </div>

              <div class="col-lg-4">
                <label>Assessment Type</label>
          
                <dx-select-box  (onSelectionChanged)="onAssessmentTypesCboSelect($event)" [dataSource]="assessmentTypesData" valueExpr="id"   [readOnly]= "isReadOnly"   displayExpr="name" [searchEnabled]="true"
                  placeholder="Select Assessment Types" formControlName="assessmentprocedure_type_id">
                </dx-select-box>
              </div>

              <div class="col-lg-4">
                <label>Certification Status</label>
          
                <dx-select-box  [dataSource]="assessmentProcedureData" valueExpr="id"   [readOnly]= "isReadOnly"   displayExpr="name" [searchEnabled]="true"
                  placeholder="Select Certification Status" formControlName="assessment_procedure_id">
                </dx-select-box>
              </div>

              
              <div class="col-lg-4" *ngIf="section_id == 1">
                <label class="control-label">Product Class Category</label>
                <dx-select-box [dataSource]="productCategoryData" valueExpr="id" displayExpr="name" [searchEnabled]="true"
                  placeholder=" Product Category"
                  formControlName="product_category_id">
                </dx-select-box>
              </div>
              <div class="col-lg-4">
                <label class="control-label">Proprietary Name</label>
                <dx-text-box (onFocusOut) ="onValidateBrandNameDetails($event)" formControlName="brand_name" [readOnly]= "isReadOnly" placeholder="Enter Proprietary Name" [showClearButton]="true">
                </dx-text-box>
              </div>

              <div class="col-lg-4"  *ngIf="section_id == 7 || section_id == 18">
                  <label class="control-label">Registration Type of Vet-Medicines  </label>
                  <dx-select-box  [dataSource]="vetmedicinesRegistrationtypeData" valueExpr="id"   [readOnly]= "isReadOnly"   displayExpr="name" [searchEnabled]="true"
                  placeholder="Select Registration Type of Veterinary Medicines" formControlName="vetmedicines_registrationtype_id">
                </dx-select-box>
              </div>
              <div class="col-lg-8" *ngIf="hasCountriesSelection">
                  <label class="control-label">Countries Selection(Submit for Registration) </label>
                  <dx-tag-box
                      [items]="prodAssessmentCountriesDta"
                      formControlName="prodassessment_countries_ids"
                      placeholder="Countries Selection(Submit for Registration)"
                      valueExpr="id" [readOnly]="is_readonly" 
                      [showSelectionControls]="true"
                      applyValueMode="useButtons"
                      searchEnabled]="true"
                      displayExpr="name">
                  </dx-tag-box>
          
              </div>
              <div class="col-lg-4">
                 <label for="ti" class="control-label">Product Type</label>
                 <dx-select-box [dataSource]="productTypeDta"   [readOnly]= "isReadOnly"  valueExpr="id" displayExpr="name" [searchEnabled]="true" 
                   placeholder="Select Product Type"  formControlName="product_type_id">
                 </dx-select-box>
                </div>
                <!-- (onValueChanged)="onProductType($event)" -->
  
                <div class="col-lg-4"*ngIf="!isCopackedProduct">
                 <label for="ti" class="control-label">ATC Code</label>
                  <dx-select-box [dataSource]="ATCCodesData" valueExpr="id" displayExpr="name" 
                    [searchEnabled]="true" 
                    placeholder="Select ATC Code"   (onSelectionChanged)="onATCCboSelect($event)" formControlName="atc_code_id">
                  </dx-select-box>
                </div>
               <div class="col-lg-4"*ngIf="!isCopackedProduct">
                  <label for="ti" class="control-label">ATC Description</label>
                  <dx-text-box formControlName="atc_code_description" readOnly= true [showClearButton]="true">
                  </dx-text-box>
                </div>
              <div class="col-lg-4"*ngIf="!isCopackedProduct">
                <label for="ti" class="control-label">Therapeutic Group</label>
                <dx-select-box [dataSource]="therapeuticGroupData" valueExpr="id" displayExpr="name" 
                  [searchEnabled]="true" [readOnly]= "isReadOnly" 
                  placeholder="Select Therapeutic Group" formControlName="therapeutic_group">
                </dx-select-box>
              </div>
<!--                 <div class="col-lg-4">
                  <label class="control-label">Generic Salt Name</label>
                  <dx-tag-box
                    [items]="commonNamesData"
                    formControlName="common_name_id"
                    placeholder="Select Common name"
                    valueExpr="id"
                    [showSelectionControls]="true"
                    applyValueMode="useButtons"
                    displayExpr="name">
                  </dx-tag-box>
                </div> -->

<!--               <div class="col-lg-4"*ngIf="!isCopackedProduct">
                <label class="control-label">Product Strength(If there is more than one, please separate them using the '+' symbol)</label>

                <dx-text-box formControlName="product_strength" placeholder="Product Strength"  [readOnly]= "isReadOnly" [showClearButton]="true">
                </dx-text-box>
              </div> -->

               <div class="row" *ngIf="prodclass_category_id == 8 || prodclass_category_id == 12">


                      <div class="col-lg-4 ">
                          <label for="ti" class="control-label">Medical devices Type</label>
                          <dx-select-box [dataSource]="devicesTypeData" valueExpr="id" displayExpr="name" (onValueChanged)="onclassificationDevTypeDataSelect($event)"  [readOnly]= "isReadOnly"  [searchEnabled]="true"
                           placeholder="Select Device Type" formControlName="device_type_id">
                          </dx-select-box>
                      </div>
                      <div class="col-lg-4 ">
                         <label for="ti" class="control-label">Classification</label>
                          <dx-select-box [dataSource]="classificationData"  (onValueChanged)="onclassificationDevTypeDataSelect($event)"  valueExpr="id" displayExpr="name"  [readOnly]= "isReadOnly" [searchEnabled]="true"
                          placeholder="Select Classification" formControlName="classification_id">
                          </dx-select-box>
                      </div>
                      
                      <div class="col-lg-4">
                          <label class="control-label">Intended Use</label>
                          <dx-text-box formControlName="intended_use" placeholder="Enter Intended Use"  [readOnly]= "isReadOnly" [showClearButton]="true">
                          </dx-text-box>
                      </div>

                      <div class="col-lg-4">
                          <label class="control-label">Intended User</label>
                            <dx-select-box [dataSource]="intendedEndUserData"
                               valueExpr="id"  displayExpr="name"  [readOnly]= "isReadOnly"  [searchEnabled]="true"
                              placeholder=" Intended User" formControlName="intended_enduser_id">
                            </dx-select-box>
                      </div>

                      <div class="col-lg-4">
                          <label class="control-label">GMDN Code</label>
                            <dx-text-box formControlName="gmdn_code" placeholder="Enter GMDN Code"  [showClearButton]="true">
                            </dx-text-box>
                              <!--
                             <dx-select-box [dataSource]="gmdnCodeData" (onSelectionChanged)="ongmdnCodeDataSelect($event)"  valueExpr="id" displayExpr="name"  [readOnly]= "isReadOnly"  [searchEnabled]="true"
                                placeholder="GMDN Code" formControlName="gmdn_code">
                              </dx-select-box>
                            -->
                      </div>

                      <div class="col-lg-4">
                          <label class="control-label">GMDN Term</label>
                            <dx-text-box formControlName="gmdn_term" placeholder="Enter GMDN Term"  [showClearButton]="true">
                            </dx-text-box>
                      </div>

                      <div class="col-lg-4">
                          <label class="control-label">GMDN Category</label>
            
                            <dx-select-box [dataSource]="gmdnCategoryData" valueExpr="id" displayExpr="name" [searchEnabled]="true"  [readOnly]= "isReadOnly" 
                              placeholder=" GMDN Category" formControlName="gmdn_category">
                            </dx-select-box>
                      </div>
                      
                </div> 
                <div class="col-lg-4"*ngIf="!isCopackedProduct">
                  <label class="control-label"><br>Dosage Form</label>
                  <dx-select-box [dataSource]="dosageFormsData" [readOnly]= "isReadOnly"
                     valueExpr="id" displayExpr="name" [searchEnabled]="true"
                      placeholder="Strength  Dosage Form" formControlName="dosage_form_id">
                  </dx-select-box>
                </div>
                <div class="col-lg-4">
                  <label class="control-label"><br>Route Of Administration</label>
                    <dx-tag-box
                      [items]="routeOfAdministrationData"
                      formControlName="route_of_administration_id"
                      placeholder="Route of Administrations..."
                      valueExpr="id"
                      [showSelectionControls]="true"
                      applyValueMode="useButtons"
                      displayExpr="name">
                    </dx-tag-box>
                </div>
                <div class="col-lg-4">
                  <label class="control-label">Distribution Category</label>
                    <dx-select-box [dataSource]="distributionCategoryData" [readOnly]= "isReadOnly" valueExpr="id" displayExpr="name" [searchEnabled]="true"
                      placeholder="Strength Distribution Category" formControlName="distribution_category_id">
                    </dx-select-box>
                </div>
                <div class="col-lg-4">
                  <label class="control-label"><br>Proposed storage condition(°C)</label>
                    <dx-select-box [dataSource]="storageConditionData" [readOnly]= "isReadOnly" valueExpr="id" displayExpr="name" [searchEnabled]="true"
                      placeholder="Proposed storage condition(°C)" formControlName="storage_condition">
                    </dx-select-box>
                </div>
                <div class="col-lg-4">
                  <label class="control-label">Proposed storage conditions after first opening(°C)</label>
                    <dx-select-box [dataSource]="storageConditionData" [readOnly]= "isReadOnly" valueExpr="id" displayExpr="name" [searchEnabled]="true"
                      placeholder="Proposed storage conditions after first opening(°C)" formControlName="storage_conditionafter_opening">
                    </dx-select-box>
                </div>
                <div class="col-lg-4" >
                  <label class="control-label"><br>Proposed shelf life (in months)</label>
                    <dx-number-box formControlName="shelf_life" placeholder="shelf_life" [showClearButton]="true">
                    </dx-number-box>
                </div>
                <div class="col-lg-4">
                  <label class="control-label">Proposed shelf life (after first opening container months)</label>
                  <dx-text-box formControlName="shelf_lifeafter_opening" [readOnly]= "isReadOnly" [showClearButton]="true">
                  </dx-text-box>
                          
                </div>
                <div class="col-lg-4" >
                  <label class="control-label">Proposed shelf life (after reconstitution or dilution months)</label>
                  <dx-number-box formControlName="shelf_life_after_dilution" placeholder="shelf_life" [showClearButton]="true">
                  </dx-number-box>  
                </div>
                <div class="col-lg-12"  *ngIf="section_id == 7 || section_id == 18">
                    <label class="control-label">Target species(vet)</label>
        
                          <dx-tag-box
                            [items]="targetSpeciesData"
                            formControlName="target_species_id"
                            placeholder="Target species..."
                            valueExpr="id"
                            [showSelectionControls]="true"
                            applyValueMode="useButtons"
                            displayExpr="name">
                            
                        </dx-tag-box>
                      </div>
                      <div class="col-lg-4 div-nopadding" *ngIf="section_id == 2">
                        <label class="control-label">Is product protected by a current patent </label>
                          <dx-select-box [dataSource]="confirmDataParamAll"(onValueChanged)="onHasCurrentPatent($event)"
                             valueExpr="id" displayExpr="name" [searchEnabled]="true"  [readOnly]= "isReadOnly" 
                              placeholder="Is product protected by a current patent" formControlName="has_current_patent">
                            </dx-select-box>
                          </div>
                          <div class="col-lg-6" *ngIf="isonHasCurrentPatent">
                           <div class="row">
                              <div class="col-lg-4">
                                <label class="control-label">Patent Holder</label>
                                <dx-text-box formControlName="patent_holder" placeholder="Holder"></dx-text-box>
                              </div>
                              <div class="col-lg-4">
                                <label class="control-label">Patent No</label>
                                <dx-text-box formControlName="patent_no" placeholder="Number"></dx-text-box>
                              </div>
                              <div class="col-lg-4">
                                <label class="control-label">Country</label>
                                <dx-select-box [dataSource]="countriesData" valueExpr="id" displayExpr="name" placeholder="Select Country"
                                               [searchEnabled]="true" formControlName="manufacturing_country_id">
                                </dx-select-box>
                              </div>
                            </div>
                        </div>
                        <!--   <div class="col-lg-6" *ngIf="hasReferenceMaximumResidue_limit">
                            <label class="control-label">Please tell the reference Maximum Residue Limit(MRLs)</label>
                              <dx-text-area formControlName="referencemaximum_residue_limit" placeholder="Appropriate MRLs" >
                              </dx-text-area>
                          </div> -->
                          <div class="col-lg-4">
                            <label class="control-label"><br>Product Manufacturing Country</label>
                            <dx-tag-box
                              [items]="countriesData"  
                              valueExpr="id" 
                              displayExpr="name" 
                              [searchEnabled]="true"
                              [showSelectionControls]="true"
                              applyValueMode="useButtons"
                              placeholder="Product Manufacturing Country" 
                              formControlName="manufacturing_country_id">
                            </dx-tag-box>
                        </div>
                        <div class="col-lg-4">
                          <label class="control-label"><br>Product Origin</label>
                          <dx-select-box [dataSource]="productTypeData" valueExpr="id" displayExpr="name" [searchEnabled]="true"   [readOnly]="readOnlyOrigin" 
                            placeholder="Product Origin" formControlName="product_origin_id">
                          </dx-select-box>
                        </div>
                        <div class="col-lg-12">
                          <label class="control-label">Indications</label>
                          <dx-text-area [height]="60" [readOnly]= "isReadOnly"  formControlName="indication"  placeholder="Enter Indications">
                          </dx-text-area>
                        </div>
                        <div class="col-lg-12">
                          <label class="control-label">Visual description e.g Color</label>
                          <dx-text-area [height]="60" formControlName="physical_description" [readOnly]= "isReadOnly" placeholder="Physical description"
                            >
                          </dx-text-area>
                        </div>
                        <div class="col-lg-4 input-group">
                          <div class="col-lg-10">
                            <label class="control-label">Local Technical Representative</label>
                            <dx-text-box  formControlName="premise_name" 
                             readOnly= "true" [showClearButton]="true">
                            </dx-text-box>
                            <input type="hidden" name="premise_id" value="premise_id" formControlName="premise_id" />
                          </div>
                          <div class="col-lg-2">
            
                            <button type="button" readOnly="isReadOnlyTraderasLtr" (click)="onRegisteredPremisesSearch()" 
                              class="btn btn-primary  pull-left" style="margin-top:30px  !important;"><i class="fa fa-search"></i>Search LTR
                            </button>
                          </div>
                        </div>
                       <!--  <div class="col-lg-4 "  *ngIf="prodclass_category_id == 1 || prodclass_category_id == 11">
                          <label for="ti" class="control-label">Global Trade Item number</label>
                          <dx-text-box formControlName="gtin_number" [readOnly]= "isReadOnly" [showClearButton]="true">
                          </dx-text-box>
                        </div>
                        <div class="col-lg-4 "  *ngIf="prodclass_category_id == 1 || prodclass_category_id == 11">
                          <label for="ti" class="control-label">Global Location Number</label>
                          <dx-text-box formControlName="glocation_number" [readOnly]= "isReadOnly" [showClearButton]="true">
                          </dx-text-box>
                        </div> -->

                  </div>
                  <div class="col-lg-4">
                    <input type="hidden" name="section_id" formControlName="section_id" />
                   
                    <input type="hidden" name="sub_module_id" formControlName="sub_module_id" />
                    <input type="hidden" name="product_id" value={{product_id}} formControlName="product_id" />
                    <input type="hidden" name="reg_product_id" value={{reg_product_id}} formControlName="reg_product_id" />
                    <input type="hidden" name="prodclass_category_id"  formControlName="prodclass_category_id" />

                    <input type="hidden" name="tra_product_id" value={{tra_product_id}} formControlName="tra_product_id" />
                    <dx-select-box [dataSource]="confirmDataParam" hidden="true" readOnly=true (onValueChanged)="onTraderasLocalAgentChange($event)" valueExpr="id" displayExpr="name" [searchEnabled]="true"
                     placeholder="Customer as Local Technical Representation" formControlName="trader_aslocal_agent">
                    </dx-select-box>
                    </div>
                    <div class="col-lg-4"  *ngIf="sub_module_id === 17">
                        <input type="hidden" value="1" name="withdrawal_type_id" formControlName="withdrawal_type_id" />
                    
                      
                  </div>
                </div>
              </form>
              <dx-popup class="popup"  [width]="funcpopWidth(30)" [height]="450" [showTitle]="true" title="Generic Name Details" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="addproductGenericNamesModal">
  
                <div *dxTemplate="let data of 'content'" >
                      <form [formGroup]="addproductGenericNamesFrm" class="col-lg-12  div-nopadding" style="background: #fff;" enctype="multipart/form-data" role="form" (ngSubmit)="onSaveNewGenericName()">
                          <div class="col-lg-12">
                            <label class="control-label">Generic Name</label>
                            <dx-text-box formControlName="name" placeholder="name" [showClearButton]="true">
                            </dx-text-box>
                          </div>
                          <div class="col-lg-12">
                            <label class="control-label">Description</label>
                            <dx-text-area formControlName="description" placeholder="description" >
                            </dx-text-area>
                          </div>
                          <div class="col-lg-12">
                            <label class="control-label">Therapeutic code</label>
                            <dx-text-box formControlName="therapeutic_code" placeholder="therapeutic_code" [showClearButton]="true">
                            </dx-text-box>
                          </div>

                          <input type='hidden' value='{{section_id}}' formControlName="section_id"/>
                          <input type='hidden' value = 'par_common_names' formControlName="tablename"/>
              
                          <div class="col-lg-12">
                              <dx-button
                                  text="Add Generic Name"
                                  type="success"
                                  icon="fa fa-plus"
                                  [elementAttr]="{  class: 'pull-left' }"
                                  (onClick)="onSaveNewGenericName()">
                              </dx-button>
                            </div>
                        </form>
                </div>
              </dx-popup>
              
<!-- Registrant Details -->
<dx-popup class="popup" [width]="funcpopWidth(80)" [height]="500" [showTitle]="true" title="Registered Premises"
[dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="ispremisesSearchWinVisible">
<div *dxTemplate="let data of 'content'">

  <dx-data-grid class="table row-border hover"  [height]="450"   [remoteOperations]='true'  [dataSource]="registered_premisesData" keyExpr="id">
    <dxo-filter-row [visible]="false"></dxo-filter-row>
    <dxo-search-panel [visible]="true">
    </dxo-search-panel>
    <dxo-paging [enabled]="true">
    </dxo-paging>
    <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
    </dxo-pager>
    <dxo-export [enabled]="true" fileName="traderFile" [allowExportSelectedData]="true"></dxo-export>

    <dxo-selection mode="multiple"></dxo-selection>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    
    <dxi-column [width]="100" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
      cellTemplate="cellTemplate">
      <div *dxTemplate="let data of 'cellTemplate'">
     
      <dx-button
          text="Select LTR"
          type="success"
          icon="fa fa-plus"
          [elementAttr]="{  class: 'pull-left' }"
          (onClick)="funcSelectTraderDetails(data)">
      </dx-button>
      </div>
    </dxi-column>
        <dxi-column dataField="premises_name"></dxi-column>
        <dxi-column dataField="premise_reg_no"></dxi-column>
        <dxi-column dataField="permit_no"></dxi-column>
        <dxi-column dataField="physical_address"></dxi-column>
        <dxi-column dataField="postal_address"></dxi-column>
        <dxi-column dataField="region_name"></dxi-column>

  </dx-data-grid>
</div>
</dx-popup>
