<div class=" wizard-content">

    <dx-data-grid class="table row-border hover" [dataSource]="premPersonnelDetailsData" keyExpr="id" (onToolbarPreparing)="onPremisesPersonnelToolbar($event,'')">
        
        <dxo-paging [enabled]="true">
        </dxo-paging>
        <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
        </dxo-pager>
        <dxo-export [enabled]="true" fileName="premPersonnelDetailsData" [allowExportSelectedData]="true"></dxo-export>

        <dxo-selection mode="multiple"></dxo-selection>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxi-column [width]="200" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
            <div *dxTemplate="let data of 'cellTemplate'">
                <dx-button text="Edit" (click)="funcEditPersonnelDetails(data)" 
                    type="danger" icon="edit">
                    </dx-button> 
                <dx-button text="Delete" [disabled]= "is_readonly" (click)="funcDeletePersonnelDetails(data)" 
                    type="danger" icon="delete">
                </dx-button> 
            </div>
        </dxi-column>
        <dxi-column dataField="first_name"></dxi-column>
        <dxi-column dataField="middle_name"></dxi-column>
        <dxi-column dataField="last_name"></dxi-column>
        <dxi-column dataField="designation"></dxi-column>
    </dx-data-grid>
</div>


<dx-popup class="popup"  [width]="funcpopWidth(80)" [height]="auto" [showTitle]="true" title="Directors Details" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="isBusinessPersonnelPopupVisible">
    <div *dxTemplate="let data of 'content'" class="row">
        <dx-scroll-view></dx-scroll-view>
        <div class="col-lg-12">
                    <form role="form" enctype="multipart/form-data" role="form" [formGroup]="premisesPersonnelDetailsfrm" class="col-lg-12" (ngSubmit)="onSavePremisesPersonnelDetails()">
                        <div class=" col-lg-12 row">
                        <div class="col-lg-4 row input-group ">
                            <div class="col-lg-8">
                                <label class="control-label">Initial Name</label>
                                <dx-text-box formControlName="pfirst_name"  placeholder="Initial Name" [showClearButton]="true">
                                </dx-text-box>
                            </div>
                            <div class="col-lg-4 no-padding">
                                <dx-button  [elementAttr]="{ class: 'btn btn-primary pull-left'}" style="margin-top:25px  !important;"  text="Search Staff Details"  type="default" (onClick)="onSearchStaffDetails()">
                                 <i class="fa fa-search"></i>Search Staff Details
                                 </dx-button>
                            </div>
                        </div>
                            <div class="col-lg-4">
                                <label class="control-label">Middle Name</label>
                                <dx-text-box formControlName="pmiddle_name"  placeholder="Personnel Name" [showClearButton]="true">
                                </dx-text-box>
                            </div>                            <div class="col-lg-4">
                                <label class="control-label">Last Name</label>
                                <dx-text-box formControlName="plast_name"  placeholder="Personnel Name" [showClearButton]="true">
                                </dx-text-box>
                            </div>
                            <div class="col-lg-4">
                                <label class="control-label">Telephone No</label>
                                <dx-text-box formControlName="telephone_no" placeholder="Telephone" [showClearButton]="true">
                                </dx-text-box>
                            </div>
                            <div class="col-lg-4">
                                <label class="control-label">Email Address</label>
                                <dx-text-box formControlName="email_address"  placeholder="Email" [showClearButton]="true">
                                </dx-text-box>
                            </div>
                            <div class="col-lg-4">
                                <label>Designation</label>
                                <dx-select-box [dataSource]="qualificationsData" valueExpr="id" placeholder="Qualification" displayExpr="name" [searchEnabled]="true" formControlName="qualification_id">
                                </dx-select-box>
                            </div>
                            <div class="col-lg-4">
                                <label class="control-label">Country</label>
                                <dx-select-box [dataSource]="countries" valueExpr="id" displayExpr="name" placeholder="Select Country" (onSelectionChanged)="onCoutryCboSelect($event)" [searchEnabled]="true" formControlName="country_id">
                                 </dx-select-box>
                            </div>
                            <div class="col-lg-4">
                                <label for="ti" class="control-label">Region</label>
                                <dx-select-box  [dataSource]="regions" valueExpr="id" 
                                    displayExpr="name" (onSelectionChanged)="onRegionsCboSelect($event)" [searchEnabled]="true" formControlName="region_id">
                                </dx-select-box>
                            </div>
                            <div class="col-lg-4">
                                <label for="ti" class="control-label">District</label>
                                <dx-select-box [dataSource]="districts" valueExpr="id" 
                                    placeholder="Select District" displayExpr="name" [searchEnabled]="true" formControlName="district_id" (onSelectionChanged)="oDistrictsCboSelect($event)" >
                                </dx-select-box>
                            </div>      
                            <div class="col-lg-4">
                                <label for="ti" class="control-label">Postal Address</label>
                                <dx-text-box  formControlName="postal_address" placeholder="Postal Address" [showClearButton]="true">
                                </dx-text-box>
                                </div>
                            <div class="col-lg-12">
                                <input type="hidden" formControlName="id" />
                            </div>
                        </div>
                        <div style="border-top: 1px solid #ccc; min-height: 100px !important;">
                           
                            <dx-button text="Save Staff Details" [disabled]="!premisesPersonnelDetailsfrm.valid" (onClick)="onSavePremisesPersonnelDetails()" type="success" class="btn" icon="save" [elementAttr]="{ class: 'btn btn-primary; pull-right' }">
                            </dx-button>
                        </div>
                    </form>
        </div>
    </div>
</dx-popup>

<dx-popup class="popup"  [width]="funcpopWidth(60)" [height]="450" [showTitle]="true" title=" Directors Details"
    [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="isStaffPopupVisible">
    <div *dxTemplate="let data of 'content'">
          <dx-data-grid class="table row-border hover" [remoteOperations]='true'  [allowColumnResizing]="true"  [columnHidingEnabled]="true" 
                    [dataSource]="staffDetailsData"  keyExpr="id">
                    <dxo-filter-row [visible]="false"></dxo-filter-row>
                    <dxo-search-panel [visible]="true">
                    </dxo-search-panel>
                    <dxo-paging [enabled]="true">
                    </dxo-paging>
                    <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)">
                    </dxo-pager>
                    <dxo-export [enabled]="true" fileName="premPersonnelDetailsData" [allowExportSelectedData]="true"></dxo-export>
                    
                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxi-column [width]="140" caption="Action" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
                      cellTemplate="cellTemplate">
                      <div *dxTemplate="let data of 'cellTemplate'">
                        <a (click)="funcSelectStaffDetails(data)" class="action-btn"><i class="fa fa-edit"></i>Select Directors Details</a>&nbsp;
                      </div>
                    </dxi-column>
                    <dxi-column [groupIndex]="1" dataField="pfirst_name"></dxi-column>
                    <dxi-column dataField="plast_name"></dxi-column>
                    <dxi-column dataField="country"></dxi-column>
                    <dxi-column dataField="region"></dxi-column>
                    <dxi-column dataField="district"></dxi-column>
                    <dxi-column dataField="physical_address"></dxi-column>
                    <dxi-column dataField="postal_address"></dxi-column>
                    <dxi-column dataField="email_address"></dxi-column>
                    
          </dx-data-grid>
      </div>
  </dx-popup>
 
